@charset "UTF-8";
.clear {
  clear: both; }

#initComponents {
  display: none; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #212121; }

a {
  color: #03A9F4;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }
  a:hover {
    color: #3F51B5; }

#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: none; }
  #loader paper-spinner {
    position: absolute;
    left: calc(50% - 75px);
    top: calc(50% - 75px);
    width: 150px;
    height: 150px; }

.marged-10 {
  margin: 10px; }

.padded-10 {
  padding: 10px; }

paper-tab[disabled] {
  color: #808080; }

paper-material {
  background-color: #FFFFFF; }
  paper-material.top-padded {
    padding-top: 15px; }
  paper-material .cardHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }

paper-textarea iron-autogrow-textarea {
  max-height: 150px; }
paper-textarea paper-input-container {
  padding: 0 !important; }
paper-textarea #textarea {
  font-size: 14px;
  line-height: 14px; }

.form-poly paper-dialog-scrollable .scrollable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch; }
  .form-poly paper-dialog-scrollable .scrollable::-webkit-scrollbar-track {
    background-color: rgba(63, 81, 181, 0.05); }
  .form-poly paper-dialog-scrollable .scrollable::-webkit-scrollbar {
    width: 6px; }
  .form-poly paper-dialog-scrollable .scrollable::-webkit-scrollbar-thumb {
    background-color: #3F51B5;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out; }
    .form-poly paper-dialog-scrollable .scrollable::-webkit-scrollbar-thumb:hover {
      background-color: #303F9F;
      width: 16px; }
.form-poly h3 {
  font-size: 14pt;
  font-weight: 500;
  display: inline-block; }
  .form-poly h3.first {
    margin-top: 0; }
.form-poly .dialog-buttons {
  color: #3F51B5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
.form-poly .h3-icon {
  position: relative;
  bottom: 2px; }
.form-poly .phones-edit .phone-edit-item {
  display: flex;
  flex-direction: row;
  align-items: flex-end; }
  .form-poly .phones-edit .phone-edit-item paper-input {
    padding: 0; }
    .form-poly .phones-edit .phone-edit-item paper-input paper-input-container {
      padding-top: 0; }
  .form-poly .phones-edit .phone-edit-item iron-icon {
    cursor: pointer; }

#drawer {
  z-index: 10;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15); }
  #drawer #mainPanel {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: calc(100vh - 91px); }
    #drawer #mainPanel::-webkit-scrollbar-track {
      background-color: rgba(63, 81, 181, 0.05); }
    #drawer #mainPanel::-webkit-scrollbar {
      width: 6px; }
    #drawer #mainPanel::-webkit-scrollbar-thumb {
      background-color: #3F51B5;
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -ms-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out; }
      #drawer #mainPanel::-webkit-scrollbar-thumb:hover {
        background-color: #303F9F;
        width: 16px; }
  #drawer .card-company-logo .title-text {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    width: 100%; }
  #drawer .card-company-logo .card-content {
    color: #303F9F; }
  #drawer .main-menu paper-submenu paper-item {
    padding-left: 38px;
    cursor: pointer; }
  #drawer .main-menu paper-submenu paper-item:focus:before, #drawer .main-menu paper-submenu paper-item:focus:after {
    background-color: transparent !important; }
  #drawer .main-menu paper-submenu paper-item.iron-selected {
    background-color: #F9FAFF !important; }
  #drawer .main-menu paper-icon-item {
    cursor: pointer; }
    #drawer .main-menu paper-icon-item:focus:before, #drawer .main-menu paper-icon-item:focus:after {
      background-color: transparent !important; }
    #drawer .main-menu paper-icon-item.iron-selected {
      background-image: url(../img/bg-white.jpg);
      background-size: cover;
      color: #FFFFFF; }
      #drawer .main-menu paper-icon-item.iron-selected:nth-child(1) {
        background-position-y: 0%; }
      #drawer .main-menu paper-icon-item.iron-selected:nth-child(2) {
        background-position-y: 50%; }
      #drawer .main-menu paper-icon-item.iron-selected:nth-child(3) {
        background-position-y: 100%; }
      #drawer .main-menu paper-icon-item.iron-selected:nth-child(4) {
        background-position-y: 50%; }
      #drawer .main-menu paper-icon-item.iron-selected iron-icon {
        color: #3F51B5; }
    #drawer .main-menu paper-icon-item.cat-first {
      border-top: 1px solid #B6B6B6; }

#main {
  overflow-x: hidden;
  overflow-y: auto; }
  #main #mainContainer {
    overflow-x: visible;
    overflow-y: visible; }
  #main::-webkit-scrollbar-track {
    background-color: rgba(63, 81, 181, 0.05); }
  #main::-webkit-scrollbar {
    width: 6px; }
  #main::-webkit-scrollbar-thumb {
    background-color: #3F51B5;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out; }
    #main::-webkit-scrollbar-thumb:hover {
      background-color: #303F9F;
      width: 16px; }
  #main paper-header-panel > paper-toolbar {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background-color: #3F51B5;
    min-height: 90px;
    background: url("../img/bg.jpg");
    background-size: cover;
    background-position: bottom; }
    #main paper-header-panel > paper-toolbar .title {
      margin-left: 0; }
  #main #fabsSection {
    display: flex;
    position: absolute;
    top: 61px;
    left: 17px;
    z-index: 9; }
    #main #fabsSection paper-fab {
      background-color: #03A9F4;
      margin-right: 10px; }
  #main .page-section .list-items-container {
    max-height: calc(100vh - 174px);
    overflow-y: auto; }
    #main .page-section .list-items-container::-webkit-scrollbar-track {
      background-color: rgba(63, 81, 181, 0.05); }
    #main .page-section .list-items-container::-webkit-scrollbar {
      width: 6px; }
    #main .page-section .list-items-container::-webkit-scrollbar-thumb {
      background-color: #3F51B5;
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -ms-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out; }
      #main .page-section .list-items-container::-webkit-scrollbar-thumb:hover {
        background-color: #303F9F;
        width: 16px; }
    #main .page-section .list-items-container .list-item {
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -ms-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      border-bottom: 1px solid #B6B6B6;
      cursor: pointer; }
      #main .page-section .list-items-container .list-item:hover {
        background-color: rgba(63, 81, 181, 0.05); }
      #main .page-section .list-items-container .list-item:last-of-type {
        border-bottom: none; }
  #main .page-section.active {
    display: block; }
  #main .page-section .search-list-header {
    margin-right: 15px;
    margin-bottom: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06), 0 2px 0 rgba(0, 0, 0, 0.075), 0 3px 0 rgba(0, 0, 0, 0.05), 0 4px 0 rgba(0, 0, 0, 0.015);
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #main .page-section .search-list-header > div {
      padding: 0 16px 0 16px; }
    #main .page-section .search-list-header .unfocused-line {
      background-color: #CCCCCC; }
    #main .page-section .search-list-header .sorter iron-icon {
      margin-top: 20px;
      cursor: pointer; }
      #main .page-section .search-list-header .sorter iron-icon.active {
        color: #03A9F4; }
    #main .page-section .search-list-header date-range-picker {
      width: 100%; }
    #main .page-section .search-list-header paper-input {
      width: 100%; }
      #main .page-section .search-list-header paper-input paper-input-container {
        padding: 0; }
      #main .page-section .search-list-header paper-input label {
        color: #212121; }
  #main order-form #map {
    width: 100%;
    height: 400px; }
  #main realty-form #map {
    width: 100%;
    height: 400px; }

checkbox-group #menu {
  padding: 0; }
  checkbox-group #menu paper-item {
    font-size: 12px;
    cursor: pointer;
    padding-left: 25px;
    -webkit-transition: background 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out;
    -ms-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    background-position: 0% 2px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-image: url(../img/unchecked.png); }
    checkbox-group #menu paper-item.iron-selected {
      background-image: url(../img/checked.png); }
    checkbox-group #menu paper-item:before, checkbox-group #menu paper-item:after {
      background: transparent !important; }

counterparty-form h2, realty-form h2, user-form h2, order-form h2, room-form h2 {
  font-size: 24pt;
  padding-bottom: 20px; }
counterparty-form.new .left, realty-form.new .left, user-form.new .left, order-form.new .left, room-form.new .left {
  width: auto; }
counterparty-form.new .right, realty-form.new .right, user-form.new .right, order-form.new .right, room-form.new .right {
  width: auto; }
counterparty-form div.two-columns, realty-form div.two-columns, user-form div.two-columns, order-form div.two-columns, room-form div.two-columns {
  display: flex;
  flex-direction: column; }
  counterparty-form div.two-columns .left, realty-form div.two-columns .left, user-form div.two-columns .left, order-form div.two-columns .left, room-form div.two-columns .left {
    width: 100%; }
  counterparty-form div.two-columns .right, realty-form div.two-columns .right, user-form div.two-columns .right, order-form div.two-columns .right, room-form div.two-columns .right {
    width: 100%; }
counterparty-form .orders-container .cp-order-item, realty-form .orders-container .cp-order-item, user-form .orders-container .cp-order-item, order-form .orders-container .cp-order-item, room-form .orders-container .cp-order-item {
  max-height: 60px;
  font-size: 11pt;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border-bottom: 1px solid #B6B6B6;
  cursor: pointer; }
  counterparty-form .orders-container .cp-order-item:hover, realty-form .orders-container .cp-order-item:hover, user-form .orders-container .cp-order-item:hover, order-form .orders-container .cp-order-item:hover, room-form .orders-container .cp-order-item:hover {
    background-color: rgba(63, 81, 181, 0.05) !important; }
  counterparty-form .orders-container .cp-order-item:last-of-type, realty-form .orders-container .cp-order-item:last-of-type, user-form .orders-container .cp-order-item:last-of-type, order-form .orders-container .cp-order-item:last-of-type, room-form .orders-container .cp-order-item:last-of-type {
    border-bottom: none; }
  counterparty-form .orders-container .cp-order-item .name, realty-form .orders-container .cp-order-item .name, user-form .orders-container .cp-order-item .name, order-form .orders-container .cp-order-item .name, room-form .orders-container .cp-order-item .name {
    padding-right: 16px; }
  counterparty-form .orders-container .cp-order-item paper-item-body div, realty-form .orders-container .cp-order-item paper-item-body div, user-form .orders-container .cp-order-item paper-item-body div, order-form .orders-container .cp-order-item paper-item-body div, room-form .orders-container .cp-order-item paper-item-body div {
    line-height: 18px; }
counterparty-form .realties-container .cp-realty-item, realty-form .realties-container .cp-realty-item, user-form .realties-container .cp-realty-item, order-form .realties-container .cp-realty-item, room-form .realties-container .cp-realty-item {
  max-height: 60px;
  font-size: 11pt;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border-bottom: 1px solid #B6B6B6;
  cursor: pointer; }
  counterparty-form .realties-container .cp-realty-item:hover, realty-form .realties-container .cp-realty-item:hover, user-form .realties-container .cp-realty-item:hover, order-form .realties-container .cp-realty-item:hover, room-form .realties-container .cp-realty-item:hover {
    background-color: rgba(63, 81, 181, 0.05) !important; }
  counterparty-form .realties-container .cp-realty-item:last-of-type, realty-form .realties-container .cp-realty-item:last-of-type, user-form .realties-container .cp-realty-item:last-of-type, order-form .realties-container .cp-realty-item:last-of-type, room-form .realties-container .cp-realty-item:last-of-type {
    border-bottom: none; }
  counterparty-form .realties-container .cp-realty-item paper-item-body div, realty-form .realties-container .cp-realty-item paper-item-body div, user-form .realties-container .cp-realty-item paper-item-body div, order-form .realties-container .cp-realty-item paper-item-body div, room-form .realties-container .cp-realty-item paper-item-body div {
    line-height: 18px; }
counterparty-form .comments .tools, realty-form .comments .tools, user-form .comments .tools, order-form .comments .tools, room-form .comments .tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; }
  counterparty-form .comments .tools .manage span, realty-form .comments .tools .manage span, user-form .comments .tools .manage span, order-form .comments .tools .manage span, room-form .comments .tools .manage span {
    color: #03A9F4;
    cursor: pointer;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out; }
    counterparty-form .comments .tools .manage span:hover, realty-form .comments .tools .manage span:hover, user-form .comments .tools .manage span:hover, order-form .comments .tools .manage span:hover, room-form .comments .tools .manage span:hover {
      color: #3F51B5; }
counterparty-form .comments .comments-container, realty-form .comments .comments-container, user-form .comments .comments-container, order-form .comments .comments-container, room-form .comments .comments-container {
  font-size: 10pt; }
counterparty-form .comments .comment-item, realty-form .comments .comment-item, user-form .comments .comment-item, order-form .comments .comment-item, room-form .comments .comment-item {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #B6B6B6; }
  counterparty-form .comments .comment-item:last-of-type, realty-form .comments .comment-item:last-of-type, user-form .comments .comment-item:last-of-type, order-form .comments .comment-item:last-of-type, room-form .comments .comment-item:last-of-type {
    border-bottom: none; }
  counterparty-form .comments .comment-item paper-textarea, realty-form .comments .comment-item paper-textarea, user-form .comments .comment-item paper-textarea, order-form .comments .comment-item paper-textarea, room-form .comments .comment-item paper-textarea {
    font-size: 10pt; }
    counterparty-form .comments .comment-item paper-textarea .underline, realty-form .comments .comment-item paper-textarea .underline, user-form .comments .comment-item paper-textarea .underline, order-form .comments .comment-item paper-textarea .underline, room-form .comments .comment-item paper-textarea .underline {
      display: none; }
    counterparty-form .comments .comment-item paper-textarea .floated-label-placeholder, realty-form .comments .comment-item paper-textarea .floated-label-placeholder, user-form .comments .comment-item paper-textarea .floated-label-placeholder, order-form .comments .comment-item paper-textarea .floated-label-placeholder, room-form .comments .comment-item paper-textarea .floated-label-placeholder {
      display: none; }
counterparty-form .comments .description, realty-form .comments .description, user-form .comments .description, order-form .comments .description, room-form .comments .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  counterparty-form .comments .description .assignee, realty-form .comments .description .assignee, user-form .comments .description .assignee, order-form .comments .description .assignee, room-form .comments .description .assignee {
    display: inline-block;
    float: left;
    color: #3F51B5; }
  counterparty-form .comments .description .date, realty-form .comments .description .date, user-form .comments .description .date, order-form .comments .description .date, room-form .comments .description .date {
    display: inline-block;
    float: right;
    color: #B6B6B6; }

.focused-line {
  background-color: #3F51B5; }

paper-dropdown-menu.toolbar-dropdown label {
  color: #FFFFFF !important; }
paper-dropdown-menu.toolbar-dropdown input {
  color: #FFFFFF !important; }
paper-dropdown-menu.toolbar-dropdown .unfocused-line {
  background-color: #3F51B5 !important; }
paper-dropdown-menu.toolbar-dropdown .focused-line {
  background-color: #FFFFFF !important; }
paper-dropdown-menu.toolbar-dropdown iron-icon {
  color: #FFFFFF !important; }

.phone-edit-item .phone-input {
  padding-bottom: 5px;
  padding-top: 5px;
  border: none;
  border-bottom: 1px #737373 solid;
  font-size: 16px; }
  .phone-edit-item .phone-input:focus {
    outline: none; }
  .phone-edit-item .phone-input.invalid {
    border-bottom: 1px #F44336 solid;
    color: #F44336; }
.phone-edit-item .selected-flag {
  background-color: #FFFFFF !important; }

body.loginPage {
  padding: 0 !important; }
  body.loginPage #topBg {
    width: 100%;
    height: 50vh;
    background-color: #3F51B5;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1; }
  body.loginPage #bottomBg {
    width: 100%;
    height: 50vh;
    background-color: #F3F3F3;
    position: relative;
    z-index: 0; }
  body.loginPage #loginContent {
    width: 400px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -165px;
    z-index: 3; }
  body.loginPage #headers h1, body.loginPage #headers h2 {
    font-weight: 300;
    font-family: Roboto, Arial;
    color: #FFFFFF;
    font-size: 24pt; }
    body.loginPage #headers h1h2, body.loginPage #headers h2h2 {
      font-size: 20pt; }
    body.loginPage #headers h1 strong, body.loginPage #headers h2 strong {
      font-weight: 600; }
  body.loginPage .cont {
    padding: 20px;
    background-color: #FFFFFF;
    margin: 4px; }
  body.loginPage .confirm-button {
    font-family: Roboto;
    font-weight: 300;
    float: right;
    margin-right: 0;
    color: #3F51B5;
    padding: 0; }
    body.loginPage .confirm-button button {
      width: 100%;
      background: transparent;
      border: 0;
      font-family: Roboto;
      font-size: 14pt;
      font-weight: 300;
      cursor: pointer;
      height: 40px;
      color: #3F51B5; }
      body.loginPage .confirm-button button:focus {
        outline: none; }
  body.loginPage #loginForm {
    height: auto;
    width: calc(100% - 48px); }
    body.loginPage #loginForm .errors {
      color: #DD2C00; }

paper-icon-button {
  color: #303F9F; }
  paper-icon-button.drawer-menu {
    color: #FFFFFF; }
  paper-icon-button[icon=menu] {
    margin-right: 0; }

.date-picker-wrapper {
  font-family: Roboto;
  border: none;
  background-color: #3F51B5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  z-index: 999; }
  .date-picker-wrapper .month-wrapper {
    width: 415px;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .date-picker-wrapper .month1 div.checked, .date-picker-wrapper .month2 div.checked {
    background-color: #3F51B5 !important;
    color: #FFFFFF !important; }
  .date-picker-wrapper .month1 div.last-date-selected, .date-picker-wrapper .month2 div.last-date-selected {
    background-color: #303F9F !important;
    color: #FFFFFF !important; }
  .date-picker-wrapper .month1 div.first-date-selected, .date-picker-wrapper .month2 div.first-date-selected {
    background-color: #303F9F !important;
    color: #FFFFFF !important; }
  .date-picker-wrapper .month1 div.hovering, .date-picker-wrapper .month2 div.hovering {
    background-color: #03A9F4; }
  .date-picker-wrapper .drp_top-bar {
    color: #FFFFFF; }
    .date-picker-wrapper .drp_top-bar * {
      color: #FFFFFF !important; }
    .date-picker-wrapper .drp_top-bar input {
      background: #FFFFFF !important;
      border: none !important;
      border-radius: 0 !important;
      color: #3F51B5 !important;
      text-transform: uppercase;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
      .date-picker-wrapper .drp_top-bar input.disabled {
        background: #303F9F !important;
        color: #FFFFFF !important;
        border: none !important;
        border-radius: 0 !important;
        text-transform: uppercase; }

paper-input-autocomplete > paper-material, paper-input-dropdown > paper-material {
  z-index: 1;
  position: absolute !important; }
  paper-input-autocomplete > paper-material > paper-item, paper-input-dropdown > paper-material > paper-item {
    cursor: pointer;
    border-bottom: 1px solid #B6B6B6; }
    paper-input-autocomplete > paper-material > paper-item:hover, paper-input-dropdown > paper-material > paper-item:hover {
      background-color: rgba(63, 81, 181, 0.05); }
    paper-input-autocomplete > paper-material > paper-item:last-of-type, paper-input-dropdown > paper-material > paper-item:last-of-type {
      border-bottom: none; }

.tag-item-0 .tag-item-container.tag-item {
  background-color: rgba(3, 169, 244, 0.2); }
  .tag-item-0 .tag-item-container.tag-item iron-icon {
    color: #FFFFFF; }

#loginForm paper-input {
  max-width: 100%; }

.phoneInputCont[disabled] {
  display: none; }

paper-phones-input tag-item paper-icon-button[disabled] {
  visibility: hidden;
  width: 10px !important; }
paper-phones-input .intl-tel-input {
  width: 100%; }
  paper-phones-input .intl-tel-input .flag-container + #tagInput[disabled] {
    visibility: hidden; }
paper-phones-input #tagInput {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #737373;
  font-size: 16px;
  padding-bottom: 7px; }
  paper-phones-input #tagInput[invalid] {
    border-bottom: 2px solid #DB4437; }
  paper-phones-input #tagInput[disabled]:parent {
    visibility: hidden; }
paper-phones-input .errorText {
  display: none;
  color: #DB4437;
  font-size: 12px;
  padding-top: 2px; }
  paper-phones-input .errorText[invalid] {
    display: block; }
paper-phones-input:has(#tagInput[disabled]) {
  visibility: hidden; }

.comments paper-textarea {
  width: 100%;
  padding: 0; }
  .comments paper-textarea paper-input-container {
    padding: 0; }
.comments paper-button {
  display: flex;
  align-items: center;
  text-align: center; }
.comments .cardHead {
  padding-bottom: 0; }

.cp-phone {
  padding-top: 8px;
  background-color: rgba(3, 169, 244, 0.2);
  border-radius: 20px;
  float: left;
  margin: 7px;
  margin-left: 0px;
  margin-top: 0px;
  padding: 5px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 14px; }

.price-range paper-input, .price-range paper-input-container, .square-range paper-input, .square-range paper-input-container {
  padding-bottom: 0; }

h3.mini-label {
  font: inherit;
  color: #737373;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px; }

paper-input-dropdown paper-textarea paper-input-container {
  padding-bottom: 8px !important; }

ymaps.ymaps-2-1-39-map {
  width: 100% !important; }
  ymaps.ymaps-2-1-39-map .ymaps-2-1-39-copyrights-pane {
    display: none; }
  ymaps.ymaps-2-1-39-map b {
    font-weight: bold; }

#formErrors {
  margin: 10px;
  color: #DD2C00; }

.suggestions-container::-webkit-scrollbar-track {
  background-color: rgba(63, 81, 181, 0.05); }
.suggestions-container::-webkit-scrollbar {
  width: 6px; }
.suggestions-container::-webkit-scrollbar-thumb {
  background-color: #3F51B5;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }
  .suggestions-container::-webkit-scrollbar-thumb:hover {
    background-color: #303F9F;
    width: 16px; }
.suggestions-container paper-item {
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  cursor: pointer; }
  .suggestions-container paper-item:hover {
    background-color: rgba(63, 81, 181, 0.05); }

order-suggests iron-data-table #header {
  display: none; }
order-suggests .suggestStateSelect {
  font-size: 14px;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  color: #434343;
  border: none;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  order-suggests .suggestStateSelect:focus {
    outline: none; }
order-suggests .status-menu paper-dropdown-menu.unprocessed #input, order-suggests .search-list-header .state paper-dropdown-menu.unprocessed #input {
  color: #202020; }
order-suggests .status-menu paper-dropdown-menu.compatible #input, order-suggests .search-list-header .state paper-dropdown-menu.compatible #input {
  color: #4CAF50; }
order-suggests .status-menu paper-dropdown-menu.incompatible #input, order-suggests .search-list-header .state paper-dropdown-menu.incompatible #input {
  color: #DB4437; }
order-suggests .status-menu paper-dropdown-menu.pending #input, order-suggests .search-list-header .state paper-dropdown-menu.pending #input {
  color: #c8c8c8; }
order-suggests .status-menu paper-dropdown-menu.processing #input, order-suggests .search-list-header .state paper-dropdown-menu.processing #input {
  color: #FF9800; }
order-suggests .status-menu paper-item.unprocessed, order-suggests .search-list-header .state paper-item.unprocessed {
  color: #03A9F4; }
order-suggests .status-menu paper-item.compatible, order-suggests .search-list-header .state paper-item.compatible {
  color: #4CAF50; }
order-suggests .status-menu paper-item.incompatible, order-suggests .search-list-header .state paper-item.incompatible {
  color: #DB4437; }
order-suggests .status-menu paper-item.pending, order-suggests .search-list-header .state paper-item.pending {
  color: #808080; }
order-suggests .status-menu paper-item.processing, order-suggests .search-list-header .state paper-item.processing {
  color: #FF9800; }
order-suggests iron-data-table data-table-row {
  background-color: #FFFFFF;
  height: 180px; }
  order-suggests iron-data-table data-table-row.unprocessed {
    background-color: rgba(255, 255, 255, 0.5); }
    order-suggests iron-data-table data-table-row.unprocessed .stater {
      background-color: #03A9F4; }
  order-suggests iron-data-table data-table-row.compatible {
    background-color: rgba(76, 175, 80, 0.5); }
    order-suggests iron-data-table data-table-row.compatible .stater {
      background-color: #4caf50; }
  order-suggests iron-data-table data-table-row.incompatible {
    background-color: rgba(219, 68, 55, 0.51); }
    order-suggests iron-data-table data-table-row.incompatible .stater {
      background-color: #db4437; }
  order-suggests iron-data-table data-table-row.pending {
    background-color: rgba(200, 200, 200, 0.5); }
    order-suggests iron-data-table data-table-row.pending .stater {
      background-color: #c8c8c8; }
  order-suggests iron-data-table data-table-row.processing {
    background-color: rgba(255, 152, 0, 0.5); }
    order-suggests iron-data-table data-table-row.processing .stater {
      background-color: #ff9800; }
  order-suggests iron-data-table data-table-row .cell-container {
    width: 100%;
    height: 100%; }
    order-suggests iron-data-table data-table-row .cell-container .stater {
      flex-basis: 5px;
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;
      left: -5px; }
    order-suggests iron-data-table data-table-row .cell-container .photo {
      flex-basis: 200px; }
      order-suggests iron-data-table data-table-row .cell-container .photo iron-image {
        height: 140px;
        width: 150px; }
    order-suggests iron-data-table data-table-row .cell-container .info {
      width: 100%;
      height: 100%;
      justify-content: space-between; }
      order-suggests iron-data-table data-table-row .cell-container .info .address {
        font-size: 14px;
        padding-bottom: 5px; }
      order-suggests iron-data-table data-table-row .cell-container .info .realty-comment-container {
        padding-bottom: 7px; }
        order-suggests iron-data-table data-table-row .cell-container .info .realty-comment-container .show-all-comment {
          color: #303F9F; }
        order-suggests iron-data-table data-table-row .cell-container .info .realty-comment-container .realty-comment-info {
          padding-top: 5px;
          color: #808080; }
        order-suggests iron-data-table data-table-row .cell-container .info .realty-comment-container .realty-comment-info {
          font-size: 11px; }
        order-suggests iron-data-table data-table-row .cell-container .info .realty-comment-container paper-textarea {
          width: 100%;
          font-size: 12px !important;
          line-height: 16px !important; }
          order-suggests iron-data-table data-table-row .cell-container .info .realty-comment-container paper-textarea .unfocused-line {
            border-bottom: 1px solid #BBBBBB !important; }
          order-suggests iron-data-table data-table-row .cell-container .info .realty-comment-container paper-textarea iron-autogrow-textarea {
            max-height: 45px;
            font-size: 12px !important;
            line-height: 16px !important; }
            order-suggests iron-data-table data-table-row .cell-container .info .realty-comment-container paper-textarea iron-autogrow-textarea textarea {
              font-size: 12px !important;
              line-height: 16px !important; }
        order-suggests iron-data-table data-table-row .cell-container .info .realty-comment-container .edit-realty-comment-btn {
          padding: 0 !important;
          width: 20px;
          height: 20px; }
  order-suggests iron-data-table data-table-row:focus {
    color: #3F51B5; }
order-suggests iron-data-table data-table-cell {
  box-sizing: border-box;
  padding: 5px;
  height: 180px; }
  order-suggests iron-data-table data-table-cell .mini-label {
    line-height: 14px; }
  order-suggests iron-data-table data-table-cell:nth-child(3) {
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 13px;
    padding-bottom: 5px;
    padding-top: 5px; }
    order-suggests iron-data-table data-table-cell:nth-child(3) span {
      font-size: 12px;
      display: flex;
      flex-direction: row; }
    order-suggests iron-data-table data-table-cell:nth-child(3) iron-icon {
      width: 14px;
      height: 14px; }
  order-suggests iron-data-table data-table-cell:nth-child(4) {
    border-left: 1px solid #F8F8F8;
    padding: 5px 16px 5px 5px;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-end; }
    order-suggests iron-data-table data-table-cell:nth-child(4) .suggest-comment {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      width: 100%; }
      order-suggests iron-data-table data-table-cell:nth-child(4) .suggest-comment paper-textarea {
        max-height: 75px; }
        order-suggests iron-data-table data-table-cell:nth-child(4) .suggest-comment paper-textarea textarea {
          max-height: 75px; }
      order-suggests iron-data-table data-table-cell:nth-child(4) .suggest-comment paper-icon-button {
        padding: 0 !important;
        width: 20px;
        height: 20px; }
      order-suggests iron-data-table data-table-cell:nth-child(4) .suggest-comment paper-textarea {
        padding-left: 4px;
        width: 100%;
        font-size: 12px !important;
        line-height: 16px !important; }
        order-suggests iron-data-table data-table-cell:nth-child(4) .suggest-comment paper-textarea .unfocused-line {
          border-bottom: none !important; }
        order-suggests iron-data-table data-table-cell:nth-child(4) .suggest-comment paper-textarea iron-autogrow-textarea {
          font-size: 12px !important;
          line-height: 16px !important; }
          order-suggests iron-data-table data-table-cell:nth-child(4) .suggest-comment paper-textarea iron-autogrow-textarea textarea {
            font-size: 12px !important;
            line-height: 16px !important; }
    order-suggests iron-data-table data-table-cell:nth-child(4) .suggest-comment-info {
      font-size: 11px;
      padding-top: 5px; }
      order-suggests iron-data-table data-table-cell:nth-child(4) .suggest-comment-info .date {
        color: #808080; }

iron-list::-webkit-scrollbar-track {
  background-color: rgba(63, 81, 181, 0.05); }
iron-list::-webkit-scrollbar {
  width: 6px; }
iron-list::-webkit-scrollbar-thumb {
  background-color: #3F51B5;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }
  iron-list::-webkit-scrollbar-thumb:hover {
    background-color: #303F9F;
    width: 16px; }

paper-input paper-input-container[disabled], paper-textarea paper-input-container[disabled] {
  opacity: 1 !important; }

vaadin-grid tbody.vaadin-grid:not(.touch):not(.scrolling) .vaadin-grid-row.vaadin-grid:hover td.vaadin-grid {
  background-color: #F9FAFF !important; }

vaadin-grid thead {
  display: none !important; }
vaadin-grid tbody {
  margin-top: 0px !important; }
vaadin-grid .vaadin-grid-cell {
  padding: 0 16px 0 16px !important; }
vaadin-grid tr, vaadin-grid td {
  vertical-align: middle;
  height: 60px !important; }

.vaadin-grid-scroller::-webkit-scrollbar-track {
  background-color: rgba(63, 81, 181, 0.05); }
.vaadin-grid-scroller::-webkit-scrollbar {
  width: 6px; }
.vaadin-grid-scroller::-webkit-scrollbar-thumb {
  background-color: #3F51B5;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }
  .vaadin-grid-scroller::-webkit-scrollbar-thumb:hover {
    background-color: #303F9F;
    width: 16px; }

.vaadin-grid-scroller-vertical {
  padding-right: 8px !important; }
  .vaadin-grid-scroller-vertical > div {
    width: 8px !important; }

.vaadin-grid-scroller-horizontal {
  display: none; }

.vaadin-grid-tablewrapper {
  height: 100%; }

counterparties-section vaadin-grid tbody td {
  width: 33.33% !important; }
  counterparties-section vaadin-grid tbody td:nth-child(2) {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center; }

orders-section vaadin-grid tbody td {
  width: 16.66% !important; }

realties-section vaadin-grid tbody td {
  width: calc(25% - 100px / 4) !important;
  max-width: calc(25% - 100px / 4) !important; }
  realties-section vaadin-grid tbody td:nth-child(1) {
    width: 100px !important; }
    realties-section vaadin-grid tbody td:nth-child(1) .showPhotos {
      cursor: zoom-in; }
  realties-section vaadin-grid tbody td:nth-child(3) {
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: center !important; }

users-section vaadin-grid tbody td {
  width: 33.33% !important; }

user-orders vaadin-grid tbody td {
  width: 20% !important; }

multi-dropdown iron-collapse {
  z-index: 9;
  position: absolute !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  multi-dropdown iron-collapse paper-item {
    margin: 0 10px 10px;
    font-size: 12px;
    border-bottom: #EFEFEF 1px solid;
    padding-left: 25px;
    cursor: pointer;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    padding: 0px 34px !important;
    background-position: 0% 14px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-image: url(../img/unchecked.png); }
    multi-dropdown iron-collapse paper-item:last-of-type {
      border-bottom: none; }
    multi-dropdown iron-collapse paper-item.iron-selected {
      background-image: url(../img/checked.png); }
    multi-dropdown iron-collapse paper-item:before, multi-dropdown iron-collapse paper-item:after {
      background: transparent !important; }

.modal-form paper-dialog-scrollable #scrollable::-webkit-scrollbar-track {
  background-color: rgba(63, 81, 181, 0.05); }
.modal-form paper-dialog-scrollable #scrollable::-webkit-scrollbar {
  width: 6px; }
.modal-form paper-dialog-scrollable #scrollable::-webkit-scrollbar-thumb {
  background-color: #3F51B5;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }
  .modal-form paper-dialog-scrollable #scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #303F9F;
    width: 16px; }

#appTooltip {
  font-size: 12px !important; }
  #appTooltip > div {
    font-size: 12px !important; }

images-upload .closeBtn {
  position: absolute;
  top: 0;
  right: 0; }
images-upload #progressContainer {
  height: 2px !important; }
images-upload .file {
  font-size: 10px !important;
  padding: 0px 0px !important; }
images-upload .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; }
  images-upload .name .commands iron-icon {
    width: 16px;
    height: 16px; }
images-upload .uploadContainer {
  position: absolute;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.7);
  top: 45px;
  right: 17px; }
  images-upload .uploadContainer #UploadBorder {
    padding-top: 37px !important;
    border: none !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

uploaded-image .image-container {
  position: relative; }
  uploaded-image .image-container img {
    padding: 5px; }
  uploaded-image .image-container .controls {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out; }
    uploaded-image .image-container .controls:hover {
      background-color: rgba(39, 69, 142, 0.64); }
    uploaded-image .image-container .controls .top {
      height: 33%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      uploaded-image .image-container .controls .top .main, uploaded-image .image-container .controls .top .remove {
        color: #FFFFFF;
        width: 50px;
        height: 50px; }
    uploaded-image .image-container .controls .middle {
      height: 33%;
      display: flex;
      justify-content: center;
      align-items: center; }
      uploaded-image .image-container .controls .middle .play {
        width: 70px;
        height: 70px;
        color: #FFFFFF; }
uploaded-image .image-container:hover .controls {
  display: block; }

fw-mediaviewer#viewer #viewer {
  background-color: rgba(0, 0, 0, 0.2) !important; }

range-filter, price-range-filter {
  max-width: 199px; }
  range-filter.modal-filter, price-range-filter.modal-filter {
    display: block;
    border-bottom: 1px #808080 solid; }
  range-filter .shown, price-range-filter .shown {
    cursor: pointer;
    font-size: 16px;
    padding: 5px; }
  range-filter .hidden, price-range-filter .hidden {
    display: none;
    position: absolute;
    z-index: 9999; }
    range-filter .hidden .rangeRowText, price-range-filter .hidden .rangeRowText {
      font-size: 16px;
      position: relative;
      bottom: 5px; }
    range-filter .hidden .hiddenContainer, price-range-filter .hidden .hiddenContainer {
      padding: 10px; }
      range-filter .hidden .hiddenContainer > div, price-range-filter .hidden .hiddenContainer > div {
        align-items: flex-end; }
      range-filter .hidden .hiddenContainer .buttons, price-range-filter .hidden .hiddenContainer .buttons {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end; }
        range-filter .hidden .hiddenContainer .buttons paper-button, price-range-filter .hidden .hiddenContainer .buttons paper-button {
          background-color: #303F9F;
          color: #FFFFFF; }

realty-rooms paper-button#add {
  padding: 5px;
  margin: 8px 0 0 6px; }
realty-rooms vaadin-grid {
  margin-right: 16px; }
  realty-rooms vaadin-grid td {
    width: 12.5%;
    max-width: 12.5%;
    min-width: 12.5%; }
  realty-rooms vaadin-grid.periodless td {
    width: 14.28%;
    max-width: 14.28%;
    min-width: 14.28%; }

vaadin-grid .vaadin-grid-tablewrapper > table {
  width: 100% !important; }
  vaadin-grid .vaadin-grid-tablewrapper > table > tbody {
    width: 100% !important; }
    vaadin-grid .vaadin-grid-tablewrapper > table > tbody tr {
      width: 100% !important; }

.bottomPrоgress {
  position: absolute;
  left: 10px;
  width: calc(100% - 20px);
  bottom: 10px;
  opacity: 0.5; }

room-form paper-textarea, realty-form paper-textarea {
  max-width: 350px; }
  room-form paper-textarea textarea, realty-form paper-textarea textarea {
    max-width: 350px; }

/*# sourceMappingURL=main.css.map */
