//colors
//bg
//$col_primary: #3f51b5
//$col_darkPrimary: #1B2F61
////$col_accent: #5FC18E
//$col_accent: #03a9f4
////$col_accent: #66bb6a
////$col_lightPrimaryText: #5A97F2
//$col_lightPrimaryText: #c5cae9
//$col_primaryText: #212121
//$col_devider: #b6b6b6
//$col_lightestBg: rgba(63, 81, 181, 0.05)


//dark-light blue
$col_darkPrimary : #303F9F
$col_primary : #3F51B5
$col_accent : #03A9F4
$col_primaryText : #212121
$col_lightPrimaryText : #C5CAE9
$col_devider : #B6B6B6
$col_lightestBg : rgba(63, 81, 181, 0.05)

//green-orange
//$col_darkPrimary: #388e3c
//$col_primary: #4caf50
//$col_accent: #ff9800
//$col_primaryText: #212121
//$col_lightPrimaryText: #c8e6c9
//$col_devider: #b6b6b6
//$col_lightestBg: rgba(139, 195, 74, 0.05)

//purple-gold
//$col_darkPrimary:   #7B1FA2
//$col_primary:        #9C27B0
//$col_lightPrimaryText:  #E1BEE7
//$col_accent:         #FFC107
//$col_primaryText:   #212121
//$col_devider:        #B6B6B6
//$col_lightestBg: rgba(156, 39, 176, 0.05)


@mixin transition()
  -webkit-transition : all 100ms ease-in-out
  -moz-transition : all 100ms ease-in-out
  -ms-transition : all 100ms ease-in-out
  -o-transition : all 100ms ease-in-out
  transition : all 100ms ease-in-out

@mixin scrollbar()
  &::-webkit-scrollbar-track
    background-color : $col_lightestBg
  //&:hover
  //  width: 16px
  &::-webkit-scrollbar
    width : 6px
  //&:hover
  //  width: 16px
  //background-color: $col_lightestBg
  &::-webkit-scrollbar-thumb
    background-color : $col_primary
    -webkit-transition : all 100ms ease-in-out
    -moz-transition : all 100ms ease-in-out
    -ms-transition : all 100ms ease-in-out
    -o-transition : all 100ms ease-in-out
    transition : all 100ms ease-in-out
    &:hover
      background-color : $col_darkPrimary
      width : 16px

@mixin hideScrollbar()
  &::-webkit-scrollbar-track
    display : none
  &::-webkit-scrollbar
    display : none
  &::-webkit-scrollbar-thumb
    display : none

@mixin itemDecotarion()
  @include transition()
  border-bottom : 1px solid $col_devider
  cursor : pointer
  &:hover
    background-color : $col_lightestBg !important
  &:last-of-type
    border-bottom : none

.clear
  clear : both

#initComponents
  display : none

body
  margin : 0
  padding : 0
  font-family : 'Roboto', sans-serif
  color : $col_primaryText

a
  color : $col_accent
  @include transition()
  &:hover
    color : $col_primary

#loader
  position : fixed
  left : 0
  top : 0
  width : 100%
  height : 100%
  background-color : rgba(0, 0, 0, 0.2)
  z-index : 10
  display : none
  paper-spinner
    position : absolute
    left : calc(50% - 75px)
    top : calc(50% - 75px)
    width : 150px
    height : 150px

.marged-10
  margin : 10px

.padded-10
  padding : 10px

paper-tab[disabled]
  color: #808080

paper-material
  background-color : #FFFFFF
  &.top-padded
    padding-top : 15px
  .cardHead
    display : flex
    flex-direction : row
    justify-content : space-between
    align-items : baseline


paper-textarea
  iron-autogrow-textarea
    max-height: 150px
  paper-input-container
    padding : 0 !important
  #textarea
    font-size: 14px
    line-height: 14px

.form-poly
  paper-dialog-scrollable .scrollable
    @include scrollbar()
    display : flex
    flex-direction : row
    justify-content : space-between
    align-content : stretch
  h3
    font-size : 14pt
    font-weight : 500
    display : inline-block
    &.first
      margin-top : 0
  .dialog-buttons
    color : $col_primary
    display : flex
    flex-direction : row
    justify-content : flex-end
  .h3-icon
    position : relative
    bottom : 2px
  .phones-edit
    .phone-edit-item
      display : flex
      flex-direction : row
      //justify-content: space-between
      align-items : flex-end
      paper-input
        padding : 0
        paper-input-container
          padding-top : 0
      iron-icon
        cursor : pointer

#drawer
  z-index: 10
  box-shadow : 2px 2px 4px rgba(0, 0, 0, 0.15)
  //z-index: 10
  #mainPanel
    overflow-y : auto
    overflow-x : hidden
    min-height : calc(100vh - 91px)
    @include scrollbar()
  .card-company-logo
    .title-text
      color : #FFFFFF
      background-color : rgba(0, 0, 0, 0.5)
      font-size : 20px
      width : 100%
    .card-content
      color : $col_darkPrimary
  .main-menu
    paper-submenu
      paper-item
        padding-left : 38px
        cursor : pointer
      paper-item:focus:before, paper-item:focus:after
        background-color : transparent !important
      paper-item.iron-selected
        background-color : #F9FAFF !important
    paper-icon-item
      &:focus:before, &:focus:after
        background-color : transparent !important
      cursor : pointer
      &.iron-selected
        background-image : url(../img/bg-white.jpg)
        background-size : cover
        color : #FFFFFF
        &:nth-child(1)
          background-position-y : 0%
        &:nth-child(2)
          background-position-y : 50%
        &:nth-child(3)
          background-position-y : 100%
        &:nth-child(4)
          background-position-y : 50%
        iron-icon
          color : $col_primary
      &.cat-first
        border-top : 1px solid $col_devider

#main
  overflow-x : hidden
  #mainContainer
    overflow-x : visible
    overflow-y : visible
  overflow-y : auto
  @include scrollbar()
  paper-header-panel > paper-toolbar
    box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    background-color : $col_primary
    min-height : 90px
    background : url("../img/bg.jpg")
    background-size : cover
    background-position : bottom
    .title
      margin-left : 0
  #fabsSection
    display : flex
    position : absolute
    top : 61px
    left : 17px
    z-index : 9
    paper-fab
      //background-color: #6cae67
      background-color : $col_accent
      margin-right : 10px
  .page-section
    //display: none
    .list-items-container
      max-height : calc(100vh - 174px)
      overflow-y : auto
      @include scrollbar()
      .list-item
        @include transition()
        border-bottom : 1px solid $col_devider
        cursor : pointer
        &:hover
          background-color : $col_lightestBg
        &:last-of-type
          border-bottom : none
    &.active
      display : block
    .search-list-header
      > div
        padding : 0 16px 0 16px
      margin-right : 15px
      margin-bottom : 3px
      box-shadow : 0 1px 0 rgba(0, 0, 0, 0.06), 0 2px 0 rgba(0, 0, 0, 0.075), 0 3px 0 rgba(0, 0, 0, 0.05), 0 4px 0 rgba(0, 0, 0, 0.015)
      display : flex
      flex-direction : row
      justify-content : space-between
      .unfocused-line
        background-color : #CCCCCC
      .sorter
        iron-icon
          margin-top : 20px
          cursor : pointer
          &.active
            color : $col_accent
      date-range-picker
        width : 100%
      paper-input
        width : 100%
        paper-input-container
          padding : 0
        label
          color : $col_primaryText
        input
  order-form
    #map
      width : 100%
      height : 400px
  realty-form
    #map
      width : 100%
      height : 400px

checkbox-group #menu
  padding : 0
  paper-item
    font-size : 12px
    cursor : pointer
    padding-left : 25px
    -webkit-transition : background 200ms ease-in-out
    -moz-transition : background 200ms ease-in-out
    -ms-transition : background 200ms ease-in-out
    -o-transition : background 200ms ease-in-out
    transition : background 200ms ease-in-out
    @include transition()
    background-position : 0% 2px
    background-size : 18px
    background-repeat : no-repeat
    background-image : url(../img/unchecked.png)
    &.iron-selected
      background-image : url(../img/checked.png)
    &:before, &:after
      background : transparent !important

counterparty-form, realty-form, user-form, order-form, room-form
  h2
    font-size : 24pt
    padding-bottom : 20px
  &.new
    .left
      width : auto
    .right
      width : auto
  div.two-columns
    display : flex
    flex-direction : column
    .left
      width : 100%
    .right
      width : 100%
  .orders-container
    .cp-order-item
      max-height : 60px
      font-size : 11pt
      @include itemDecotarion()
      .name
        padding-right : 16px
      paper-item-body div
        line-height : 18px
  .realties-container
    .cp-realty-item
      max-height : 60px
      font-size : 11pt
      @include itemDecotarion()
      paper-item-body div
        line-height : 18px
  .comments
    .tools
      display : flex
      flex-direction : row
      justify-content : space-between
      align-items : baseline
      .manage
        span
          color : $col_accent
          cursor : pointer
          @include transition()
          &:hover
            color : $col_primary
    .comments-container
      font-size : 10pt
    .comment-item
      padding-top : 5px
      padding-bottom : 5px
      border-bottom : 1px solid $col_devider
      &:last-of-type
        border-bottom : none
      paper-textarea
        font-size : 10pt
        .underline
          display : none
        .floated-label-placeholder
          display : none
    .text
    .description
      display : flex
      flex-direction : row
      justify-content : space-between
      .assignee
        display : inline-block
        float : left
        color : $col_primary
      .date
        display : inline-block
        float : right
        color : $col_devider

//redraw input to theme colors
.focused-line
  background-color : $col_primary

paper-dropdown-menu
  &.toolbar-dropdown
    label
      color : #FFFFFF !important
    input
      color : #FFFFFF !important
    .unfocused-line
      background-color : $col_primary !important
    .focused-line
      background-color : #FFFFFF !important
    iron-icon
      color : #FFFFFF !important

.phone-edit-item
  .phone-input
    padding-bottom : 5px
    padding-top : 5px
    border : none
    border-bottom : 1px #737373 solid
    font-size : 16px
    &:focus
      outline : none
    &.invalid
      border-bottom : 1px #F44336 solid
      color : #F44336
  .selected-flag
    background-color : #FFFFFF !important

body.loginPage
  padding : 0 !important
  #topBg
    width : 100%
    height : 50vh
    background-color : $col_primary
    background-image : url(../img/bg.jpg)
    background-size : cover
    box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    position : relative
    z-index : 1
  #bottomBg
    width : 100%
    height : 50vh
    background-color : #F3F3F3
    position : relative
    z-index : 0
  #loginContent
    width : 400px
    height : 250px
    position : absolute
    left : 50%
    top : 50%
    margin-left : -200px
    margin-top : -165px
    z-index : 3
  #headers h1, #headers h2
    font-weight : 300
    font-family : Roboto, Arial
    color : #FFFFFF
    font-size : 24pt
    &h2
      font-size : 20pt
    strong
      font-weight : 600
  .cont
    padding : 20px
    background-color : #FFFFFF
    margin : 4px
  .confirm-button
    font-family : Roboto
    font-weight : 300
    float : right
    margin-right : 0
    color : $col_primary
    padding : 0
    button
      width : 100%
      background : rgba(0, 0, 0, 0)
      border : 0
      font-family : Roboto
      font-size : 14pt
      font-weight : 300
      cursor : pointer
      height : 40px
      color : $col_primary
      &:focus
        outline : none
  #loginForm
    height : auto
    width : calc(100% - 48px)
    .errors
      color : #DD2C00

paper-icon-button
  color : $col_darkPrimary
  &.drawer-menu
    color : #FFFFFF
  &[icon=menu]
    margin-right : 0

.date-picker-wrapper
  font-family : Roboto
  border : none
  background-color : $col_primary
  box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important
  z-index : 999
  .month-wrapper
    width : 415px
    border : none
    border-radius : 0
    box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  .month1, .month2
    div
      &.checked
        background-color : $col_primary !important
        color : #FFFFFF !important
      &.last-date-selected
        background-color : $col_darkPrimary !important
        color : #FFFFFF !important
      &.first-date-selected
        background-color : $col_darkPrimary !important
        color : #FFFFFF !important
      &.hovering
        background-color : $col_accent
  .drp_top-bar
    color : #FFFFFF
    *
      color : #FFFFFF !important
    input
      background : #FFFFFF !important
      border : none !important
      border-radius : 0 !important
      color : $col_primary !important
      text-transform : uppercase
      box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
      &.disabled
        background : $col_darkPrimary !important
        color : #FFFFFF !important
        border : none !important
        border-radius : 0 !important
        text-transform : uppercase

paper-input-autocomplete, paper-input-dropdown
  > paper-material
    z-index : 1
    position : absolute !important
    > paper-item
      cursor : pointer
      border-bottom : 1px solid $col_devider
      &:hover
        background-color : $col_lightestBg
      &:last-of-type
        border-bottom : none

.tag-item-0 .tag-item-container.tag-item
  //background-color: $col_accent
  background-color : rgba(3, 169, 244, 0.2)
  iron-icon
    color : #FFFFFF

#loginForm
  paper-input
    max-width : 100%

.phoneInputCont[disabled]
  display : none

paper-phones-input
  tag-item
    paper-icon-button[disabled]
      visibility : hidden
      width : 10px !important
  .intl-tel-input
    width : 100%
    .flag-container + #tagInput[disabled]
      visibility : hidden
  #tagInput
    width : 100%
    outline : none
    border : none
    border-bottom : 1px solid #737373
    font-size : 16px
    padding-bottom : 7px
    &[invalid]
      border-bottom : 2px solid #DB4437
    &[disabled]
      &:parent
        visibility : hidden
  .errorText
    display : none
    color : #DB4437
    font-size : 12px
    padding-top : 2px
    &[invalid]
      display : block
  &:has(#tagInput[disabled])
    visibility : hidden

.comments
  paper-textarea
    width : 100%
    padding : 0
    paper-input-container
      padding : 0
  paper-button
    display : flex
    align-items : center
    text-align : center
  .cardHead
    padding-bottom : 0

.cp-phone
  padding-top : 8px
  background-color : rgba(3, 169, 244, 0.2)
  border-radius : 20px
  float : left
  margin : 7px
  margin-left : 0px
  margin-top : 0px
  padding : 5px
  padding-left : 17px
  padding-right : 17px
  font-size : 14px

.price-range, .square-range
  paper-input, paper-input-container
    padding-bottom : 0

h3.mini-label
  font : inherit
  color : #737373
  white-space : nowrap
  -webkit-font-smoothing : antialiased
  font-size : 12px
  font-weight : 400
  line-height : 24px


paper-input-dropdown
  paper-textarea
    paper-input-container
      padding-bottom : 8px !important

ymaps.ymaps-2-1-39-map
  width : 100% !important
  .ymaps-2-1-39-copyrights-pane
    display : none
  b
    font-weight : bold

#formErrors
  margin : 10px
  color : #DD2C00

.suggestions-container
  @include scrollbar()
  paper-item
    @include transition()
    cursor : pointer
    &:hover
      background-color : $col_lightestBg

order-suggests
  iron-data-table
    #header
      display : none
  .suggestStateSelect
    font-size : 14px
    cursor : pointer
    font-family : inherit
    background-color : transparent
    width : 100%
    color : #434343
    border : none
    margin-bottom : 10px
    border-bottom : 1px solid rgba(0, 0, 0, 0.12)
    &:focus
      outline : none
  .status-menu, .search-list-header .state
    paper-dropdown-menu
      &.unprocessed #input
        color : #202020
      &.compatible #input
        color : #4CAF50
      &.incompatible #input
        color : #DB4437
      &.pending #input
        color : rgba(200, 200, 200, 1)
      &.processing #input
        color : #FF9800
    paper-item
      &.unprocessed
        color : #03A9F4
      &.compatible
        color : #4CAF50
      &.incompatible
        color : #DB4437
      &.pending
        color : #808080
      &.processing
        color : #FF9800
  iron-data-table
    data-table-row
      background-color : #FFFFFF
      height : 180px
      &.unprocessed
        background-color : rgba(255, 255, 255, 0.5)
        .stater
          background-color : #03A9F4
      &.compatible
        background-color : rgba(76, 175, 80, 0.5)
        .stater
          background-color : rgba(76, 175, 80, 1)
      &.incompatible
        background-color : rgba(219, 68, 55, 0.51)
        .stater
          background-color : rgba(219, 68, 55, 1)
      &.pending
        background-color : rgba(200, 200, 200, 0.5)
        .stater
          background-color : rgba(200, 200, 200, 1)
      &.processing
        background-color : rgba(255, 152, 0, 0.5)
        .stater
          background-color : rgba(255, 152, 0, 1)
      .cell-container
        width : 100%
        height : 100%
        .stater
          flex-basis : 5px
          flex-grow : 0
          flex-shrink : 0
          position : relative
          left : -5px
        //top: -5px
        .photo
          flex-basis : 200px
          iron-image
            height : 140px
            width : 150px
        .info
          width : 100%
          height : 100%
          justify-content : space-between
          .address
            font-size : 14px
            padding-bottom : 5px
          .realty-comment-container
            padding-bottom : 7px
            .show-all-comment
              color : #303F9F
            .realty-comment-info
              padding-top : 5px
              color : #808080
            .realty-comment
            .realty-comment-info
              font-size : 11px
            paper-textarea
              //max-height: 55px
              width : 100%
              font-size : 12px !important
              line-height : 16px !important
              .unfocused-line
                border-bottom : 1px solid #BBBBBB !important
              iron-autogrow-textarea
                max-height : 45px
                font-size : 12px !important
                line-height : 16px !important
                textarea
                  font-size : 12px !important
                  line-height : 16px !important
            //overflow-y: hidden
            .edit-realty-comment-btn
              padding : 0 !important
              width : 20px
              height : 20px

      &:hover
      //background-color: $col_lightestBg !important
      &:focus
        //background-color: $col_lightestBg !important
        color : #3F51B5

    data-table-cell
      box-sizing : border-box
      padding : 5px
      height : 180px
      .mini-label
        line-height : 14px
      &:nth-child(3)
        flex-direction : column !important
        justify-content : flex-start
        align-items : flex-start
        font-size : 13px
        padding-bottom : 5px
        padding-top : 5px
        span
          font-size : 12px
          display : flex
          flex-direction : row
        iron-icon
          width : 14px
          height : 14px
      &:nth-child(4)
        border-left : 1px solid #F8F8F8
        padding : 5px 16px 5px 5px
        flex-direction : column !important
        justify-content : flex-start
        align-items : flex-end
        .suggest-comment
          border-bottom : 1px solid rgba(0, 0, 0, 0.12)
          width : 100%
          paper-textarea
            max-height: 75px
            textarea
              max-height: 75px
          paper-icon-button
            padding : 0 !important
            width : 20px
            height : 20px
          paper-textarea
            padding-left : 4px
            width : 100%
            font-size : 12px !important
            line-height : 16px !important
            .unfocused-line
              border-bottom : none !important
            iron-autogrow-textarea
              font-size : 12px !important
              line-height : 16px !important
              textarea
                font-size : 12px !important
                line-height : 16px !important
        .suggest-comment-info
          font-size : 11px
          padding-top : 5px
          .date
            color : #808080

iron-list
  @include scrollbar()

paper-input, paper-textarea
  paper-input-container[disabled]
    opacity : 1 !important

//VAADIN
vaadin-grid tbody.vaadin-grid:not(.touch):not(.scrolling) .vaadin-grid-row.vaadin-grid:hover td.vaadin-grid
  background-color : #F9FAFF !important

vaadin-grid
  thead
    display : none !important
  tbody
    margin-top : 0px !important
  .vaadin-grid-cell
    padding : 0 16px 0 16px !important
  tr, td
    vertical-align : middle
    height : 60px !important

.vaadin-grid-scroller
  @include scrollbar()

.vaadin-grid-scroller-vertical
  padding-right : 8px !important
  > div
    width : 8px !important

.vaadin-grid-scroller-horizontal
  display : none

.vaadin-grid-tablewrapper
  height : 100%

counterparties-section
  vaadin-grid
    tbody
      td
        width : 33.33% !important
        &:nth-child(2)
          flex-direction : column
          align-items : flex-start !important
          justify-content : center

orders-section
  vaadin-grid
    tbody
      td
        width : 16.66% !important

realties-section
  vaadin-grid
    tbody
      td
        width : calc(25% - 100px / 4) !important
        max-width : calc(25% - 100px / 4) !important
        &:nth-child(1)
          width : 100px !important
          .showPhotos
            cursor : zoom-in
        &:nth-child(3)
          flex-direction : column !important
          align-items : flex-start !important
          justify-content : center !important

users-section
  vaadin-grid
    tbody
      td
        width : 33.33% !important

user-orders
  vaadin-grid
    tbody
      td
        width : 20% !important

multi-dropdown
  iron-collapse
    z-index : 9
    position : absolute !important
    box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
    paper-item
      margin : 0 10px 10px
      font-size : 12px
      border-bottom : #EFEFEF 1px solid
      &:last-of-type
        border-bottom : none
      padding-left : 25px
      cursor : pointer
      @include transition()
      padding : 0px 34px !important
      background-position : 0% 14px
      background-size : 18px
      background-repeat : no-repeat
      background-image : url(../img/unchecked.png)
      &.iron-selected
        background-image : url(../img/checked.png)
      &:before, &:after
        background : transparent !important

.modal-form
  paper-dialog-scrollable
    #scrollable
      @include scrollbar()
//display: block !important
#appTooltip
  font-size : 12px !important
  > div
    font-size : 12px !important

images-upload
  //min-height: 130px
  .closeBtn
    position : absolute
    top : 0
    right : 0
  #progressContainer
    height : 2px !important
  .file
    font-size : 10px !important
    padding : 0px 0px !important
  .name
    display : flex
    flex-direction : row
    justify-content : space-between
    align-items : flex-end
    .commands
      iron-icon
        width : 16px
        height : 16px
  .uploadContainer
    position : absolute
    z-index : 9
    background-color : rgba(255, 255, 255, 0.7)
    top : 45px
    right : 17px
    #UploadBorder
      padding-top : 37px !important
      border : none !important
      box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)

uploaded-image
  .image-container
    position : relative
    img
      padding : 5px
    .controls
      position : absolute
      left : 0
      top : 0
      width : 100%
      height : 100%
      display : none
      @include transition()
      &:hover
        background-color : rgba(39, 69, 142, 0.64)
      .top
        height : 33%
        display : flex
        flex-direction : row
        justify-content : space-between
        .main, .remove
          color : #FFFFFF
          width : 50px
          height : 50px
      .middle
        height : 33%
        display : flex
        justify-content : center
        align-items : center
        .play
          width : 70px
          height : 70px
          color : #FFFFFF
  .image-container:hover
    .controls
      display : block

fw-mediaviewer#viewer
  #viewer
    background-color : rgba(0, 0, 0, 0.2) !important

range-filter, price-range-filter
  max-width : 199px
  &.modal-filter
    display: block
    border-bottom: 1px #808080 solid
  .shown
    cursor : pointer
    font-size : 16px
    padding : 5px
  .hidden
    .rangeRowText
      font-size : 16px
      position : relative
      bottom : 5px
    display : none
    position : absolute
    z-index : 9999
    .hiddenContainer
      padding : 10px
      > div
        align-items : flex-end
      .buttons
        padding-top : 10px
        display : flex
        flex-direction : row
        justify-content : flex-end
        paper-button
          background-color : #303F9F
          color : #FFFFFF

realty-rooms
  paper-button#add
    padding: 5px
    margin: 8px 0 0 6px
  vaadin-grid
    margin-right : 16px
    td
      width : 12.5%
      max-width : 12.5%
      min-width : 12.5%
    &.periodless
      td
        width : 14.28%
        max-width : 14.28%
        min-width : 14.28%

vaadin-grid
  .vaadin-grid-tablewrapper
    & > table
      width: 100% !important
      & > tbody
        width: 100% !important
        tr
          width: 100% !important

.bottomPrоgress
  position: absolute
  left: 10px
  width: calc(100% - 20px)
  bottom: 10px
  opacity: 0.5

room-form, realty-form
  paper-textarea
    max-width: 350px
    textarea
      max-width: 350px