<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>ФОН Недвижимость CRM</title>
	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="favicon.ico">

	<!--scripts-->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script src="/bower_components/jquery-form/jquery.form.js"></script>
	<script src="/bower_components/jquery-date-range-picker/moment.min.js"></script>
	<script src="/bower_components/jquery-date-range-picker/jquery.daterangepicker.js"></script>
	<script src="/bower_components/intl-tel-input/build/js/intlTelInput.js"></script>
	<script src="/bower_components/intl-tel-input/build/js/utils.js"></script>
	<script src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
	<script src="/bower_components/lodash/lodash.js"></script>
	<!--styles-->
	<link rel="stylesheet" href="/bower_components/intl-tel-input/build/css/intlTelInput.css">
	<link rel="stylesheet" href="/bower_components/jquery-date-range-picker/daterangepicker.css">
	<link rel="stylesheet" href="/bower_components/reset-css/reset.css">
	<link rel="stylesheet" href="/css/main.css">
	<!--imports-->
	<link rel="import" href="/elements/elements.html">
	<!--<link rel="import" href="elements/components.html">-->
</head>
<body>
<template is="dom-bind" id="app">
	<!--routing-->
	<!--<app-location
			route="{{route}}"
			on-location-changed="locationChanged"
	></app-location>-->
	<app-route
			id="route"
			route="{{route}}"
			pattern="/:section"
			data="{{routeData}}"
			tail="{{subroute}}"
	>
	<app-route
			id="subroute"
			route="{{subroute}}"
			pattern="/:item"
			data="{{subrouteData}}"
	>
	</app-route>
	<!--body-->
	<paper-drawer-panel responsive-width="600px" id="drawer">
		<paper-header-panel drawer>
			<paper-card heading="ФОН Недвижимость" image="/img/logo.jpg" class="card-company-logo">
				<div class="card-content">[[user.name]]</div>
			</paper-card>
			<paper-menu class="main-menu" attr-for-selected="route" selected="[[currentSection]]"
									on-iron-activate="menuClicked">
				<template is="dom-if" if="{{isAdmin}}">
					<paper-icon-item class="active" route="counterparties" title="Контрагенты">
						<iron-icon icon="icons:assignment-ind" item-icon></iron-icon>
						Контрагенты
					</paper-icon-item>
				</template>
				<paper-submenu>
					<paper-icon-item class="menu-trigger" title="Заявки">
						<iron-icon icon="av:library-books" item-icon></iron-icon>
						Заявки
					</paper-icon-item>
					<paper-menu class="menu-content">
						<paper-item route="orders" bundle="rent">
							Аренда
						</paper-item>
						<paper-item route="orders" bundle="sale">
							Продажа
						</paper-item>
					</paper-menu>
				</paper-submenu>
				<paper-submenu>
					<paper-icon-item title="Объекты" class="menu-trigger">
						<iron-icon icon="communication:business" item-icon></iron-icon>
						Объекты
					</paper-icon-item>
					<paper-menu class="menu-content">
						<paper-item route="realties" bundle="rent">
							Аренда
						</paper-item>
						<paper-item route="realties" bundle="sale">
							Продажа
						</paper-item>
					</paper-menu>
				</paper-submenu>
				<template is="dom-if" if="{{isAdmin}}">
					<paper-icon-item route="users" title="Пользователи">
						<iron-icon icon="social:group" item-icon></iron-icon>
						Пользователи
					</paper-icon-item>
				</template>
				<paper-icon-item class="cat-first" route="logout" title="Выход">
					<iron-icon icon="icons:exit-to-app" item-icon></iron-icon>
					Выход
				</paper-icon-item>
				<div class="bottomPrоgress">
					<sections-progress id="sectionsProgress"></sections-progress>
				</div>
			</paper-menu>
		</paper-header-panel>
		<div main>
			<neon-animated-pages selected="[[section.current]]" attr-for-selected="id" id="pages">
				<!--LISTS-->
				<counterparties-section
						urls="{{urls.counterparties}}"
						class="page-section"
						id="counterparties"
						is-admin="{{isAdmin}}"
						form="counterparty-form"
						caption="Контрагенты"
				></counterparties-section>
				<orders-section
						urls="{{urls.orders}}"
						class="page-section"
						id="orders"
						is-admin="{{isAdmin}}"
						order-states="{{orderStates}}"
						form="order-form"
						caption="Заявки"
						realty-purposes="{{realtyPurposes}}"
				></orders-section>
				<realties-section
						urls="{{urls.realties}}"
						class="page-section"
						id="realties"
						is-admin="{{isAdmin}}"
						form="realty-form"
						caption="Объекты"
						realty-purposes="{{realtyPurposes}}"
				></realties-section>
				<users-section
						urls="{{urls.users}}"
						class="page-section"
						id="users"
						is-admin="{{isAdmin}}"
						form="user-form"
						caption="Пользователи"
				></users-section>
				<!--FORMS-->
				<counterparty-form
						id="counterparty-form"
						urls="{{urls.counterparties}}"
						class="page-section form-poly"
						is-admin="{{isAdmin}}"
						order-states="{{orderStates}}"
						entity-route="counterparties"
				></counterparty-form>
				<order-form
						id="order-form"
						urls="{{urls.orders}}"
						class="page-section form-poly"
						is-admin="{{isAdmin}}"
						order-states="{{orderStates}}"
						realty-purposes="{{realtyPurposes}}"
						realty-offer-types="{{offerType}}"
						entity-route="orders"
				></order-form>
				<realty-form
						id="realty-form"
						urls="{{urls.realties}}"
						class="page-section form-poly"
						is-admin="{{isAdmin}}"
						realty-purposes="{{realtyPurposes}}"
						realty-offer-types="{{offerType}}"
						images-urls="{{urls.images}}"
						entity-route="realties"
				></realty-form>
				<user-form
						id="user-form"
						urls="{{urls.users}}"
						class="page-section form-poly"
						is-admin="{{isAdmin}}"
						order-states="{{orderStates}}"
						entity-route="users"
				></user-form>
				<room-form
						id="room-form"
						urls="{{urls.rooms}}"
						class="page-section form-poly"
						is-admin="{{isAdmin}}"
						images-urls="{{urls.images}}"
						entity-route="rooms"
				></room-form>
			</neon-animated-pages>
			<!--MODAL FORMS-->
			<counterparty-form-modal
					id="counterparty-form-modal"
					class="modal-form"
					urls="{{urls.counterparties}}"
			></counterparty-form-modal>
		</div>
	</paper-drawer-panel>
	<!--loader-->
	<div id="loader">
		<paper-spinner active></paper-spinner>
	</div>
	<paper-toast id="toaster"></paper-toast>
	<paper-tooltip id="appTooltip" manual-mode></paper-tooltip>
	<fw-mediaviewer id="viewer" with-backdrop="false"></fw-mediaviewer>
	<message-box id="messageBox"></message-box>
	<yes-no-dialog id="yesNoDialog"></yes-no-dialog>
</template>
<script src="/js/app.js"></script>
</body>
</html>