<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="tag-item.html">

<!--

paper-tags-input is a list of tags with a single-line text field with Material Design styling.

    <paper-tags-input></paper-tags-input>

Use a label property to show the label for tags input and placeholder property for the placeholder in paper-input element.

    <paper-tags-input label="Tags" placeholder="Please enter the tag"></paper-tags-input>

It may include an optional error message. For now, the tags list is case sensitive. So Taeyeon and taeyeon will not be considered as duplicate.
  
    <paper-tags-input empty-error-message="Tag could not be empty"></paper-tags-input>
    <paper-tags-input duplicate-error-message="Tag could not be duplicate"></paper-tags-input>

Tags list are stored in the property of tags.

    <paper-tags-input tags="{{tags_list}}"></paper-tags-input>

<b>Styling</b>

For the color of tags, it is using theme color --light-primary-color by default.

But you can change the color by applying custom colors.

    <paper-tags-input tag-color="red" font-color="#FFFFFF" tags="{{tags_list}}"></paper-tags-input>

<b>Internaltional</b>

paper-tags-input work with all unicode languages, such as Chinese, Korean, Japanese, German, Russian, Arabic, etc.

<b>Installation</b>

Install with bower

    bower install paper-tags-input

If you want to save it in bower.json file, remember to add flag --save

    bower install --save paper-tags-input


@demo
-->
<dom-module id="paper-phones-input">
  <style>
    :host {
      display     : block;
      box-sizing  : border-box;
      font-family : 'Roboto', 'Noto', sans-serif;
    }

    .clearfix:after {
      content : " ";
      display : block;
      height  : 0;
      clear   : both;
    }
  </style>

  <template>
    <div class="clearfix" id="tags-items">
      <template is="dom-repeat" items="{{tags}}">
        <tag-item font-color="{{fontColor}}"
                  tag-color="{{tagColor}}"
                  size="medium"
                  tags="{{tags}}"
                  enable-remove="{{enableRemove}}"
                  index="{{index}}"
                  value="{{item}}"
                  disabled="{{disabled}}"
                  on-delete="phoneDeleted"
            ></tag-item>
      </template>
    </div>
    <div class="phoneInputCont" disabled$="[[disabled]]">
      <h3 class="mini-label">Добавить номер</h3>
      <input invalid$="{{invalid}}"
             id="tagInput"
             on-focusout="_focusOut"
             error-message="{{emptyErrorMessage}}"
             label="{{placeholder}}"
             on-keydown="_keyDown"
             value="{{input_value}}"
          >

      <div invalid$="{{invalid}}" class="errorText">{{errorMessage}}</div>
    </div>
  </template>
</dom-module>

<script>

  Polymer({
    is        : 'paper-phones-input',
    properties: {
      tags                 : {
        type  : Array,
        notify: true,
				value: []
      },
      tagColor             : String,
      fontColor            : String,
      size                 : {
        type : String,
        value: 'large'
      },
      emptyErrorMessage    : {
        type : String,
        value: "Пустой номер телефона"
      },
      enableAdd            : {
        type : Boolean,
        value: true
      },
      enableRemove         : {
        type : Boolean,
        value: true
      },
      duplicateErrorMessage: {
        type : String,
        value: "Дублирующий номер телефона"
      },
      label                : {
        type : String,
        value: ''
      },
      placeholder          : {
        type : String,
        value: 'Please enter a new tag'
      },
      _input_value         : String,
      invalid              : {
        type  : String,
        value : false,
        notify: true
      },
      errorMessage         : String,
      required             : {
        type : String,
        value: false
      },
      invalidFormatError   : {
        type : String,
        value: "Неверный формат номера"
      },
      disabled             : Boolean
    },
    // Element Lifecycle
    ready     : function () {
      var input = this.$$('#tagInput');
      $(input).intlTelInput({
        autoHideDialCode: true,
        initialCountry  : 'ru',
        nationalMode    : true,
        utilsScript     : '../../../bower_components/intl-tel-input/build/js/utils.js'
      });
    },
    attached  : function () {
    },
    detached  : function () {
    },

    // Element Behavior
    /**
     * _addTag is the internal method to add a new tag to the list
     *
     * @param {string} the tag that needs to be added.
     */
    _addTag     : function (tag) {
      if (this.enableAdd == false) {
        return;
      }
      if (typeof(this.tags) == 'undefined') {
        this.tags = [];
      }
      this.tags.push(tag);
      this.tags = this.tags.slice();
    },
    /**
     * _getInputVal is the internal method to get the value of paper-input. It performs a trim on the value.
     *
     * @return {string} returns the trimmed version of paper-input value.
     */
    _getInputVal: function () {
      var input = this.$$('#tagInput');
      return $(input).intlTelInput("getNumber");
    },
    /**
     * _focusOut is fired when input lose focus
     *
     * @param {object} event object
     */
    _focusOut   : function (e) {
      var self = this;
      if (typeof this.tags == 'undefined') this.tags = [];
      var self = this;
      setTimeout(function () {
        //empty valid
        if (self._getInputVal().trim() == "") {
          if (self.required && !self.tags.length) {
            self.set('invalid', true);
            self.set('errorMessage', self.emptyErrorMessage);
          }
          return;
        }
        var valid = $(self.$.tagInput).intlTelInput("isValidNumber");

        self.set('invalid', !valid);
        //format valid
        if (!valid) {
          self.set('errorMessage', self.invalidFormatError);
          return;
        }
        //duplicate valid
        if (self.tags.indexOf(self._getInputVal()) >= 0) {
          self.errorMessage = self.duplicateErrorMessage;
          self.invalid = true;
          return;
        }

        var tag = self._getInputVal();
        if (typeof(tag) != undefined && tag != "") {
          self._addTag(self._getInputVal());
          self.input_value = "";
          $(self.$.tagInput).intlTelInput("setNumber", '');
        }
      }, 100);
    },
    /**
     * _keyDown is fired when user enters a key in the input
     *
     * @param {object} event object
     */
    _keyDown    : function (e) {
      if (typeof this.tags == 'undefined') this.tags = [];
      var self = this;
      setTimeout(function () {
        self.set('invalid', false);
        if (self._getInputVal().trim() == "" && self.required && !self.tags.length) {
          self.set('invalid', true);
          self.set('errorMessage', self.emptyErrorMessage);
          return;
        }

        var keyVal = e.which;
        if (keyVal == 13) {
          var valid = $(self.$.tagInput).intlTelInput("isValidNumber");
          self.set('invalid', !valid);
          if (!valid) {
            self.set('errorMessage', self.invalidFormatError);
            return;
          }
          if (self._getInputVal() == "") {
            self.errorMessage = self.emptyErrorMessage;
            self.invalid = true;
          } else if (self.tags.indexOf(self._getInputVal()) >= 0) {
            self.errorMessage = self.duplicateErrorMessage;
            self.invalid = true;
          } else {
            self._addTag(self._getInputVal());
            self.input_value = "";
            $(self.$.tagInput).intlTelInput("setNumber", '');
          }
        } else {
          var input = Polymer.dom(self.root).querySelector('#tagInput');
          input.invalid = false;
        }
      }, 100);
    },
    setInput    : function (val) {
      this.$.tagInput.value = val;
    },
    phoneDeleted: function () {
      this.set('invalid', false);
    }
  });

</script>
