<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<!--
tag-item is a tag element used by tags-input to show tags with a closed button.

    <tag-item></tag-item>

@demo
-->
<dom-module id="tag-item">

  <style>
    :host {
      display     : block;
      box-sizing  : border-box;
      font-family : 'Roboto', 'Noto', sans-serif;
    }

    .tag-value {
      margin-top : 11px;
    }

    .tag-item-container {
      background-color : var(--light-primary-color);
      border-radius    : 20px;
      float            : left;
      margin-right     : 6px;
      margin-bottom    : 3px;
      padding          : 5px;
      padding-left     : 17px;
    }

    .large {

      font-size : 14px;
    }

    .large paper-icon-button::shadow #icon {
      width  : 22px;
      height : 22px;
    }

    .medium {
      font-size : 14px;
    }

    .medium paper-icon-button::shadow #icon {
      width  : 18px;
      height : 18px;
    }

    .medium paper-icon-button {
      padding : 0px;
      width   : 24px;
      height  : 17px;
    }

    .small {
      font-size : 12px;
    }

    .small paper-icon-button::shadow #icon {
      width  : 14px;
      height : 14px;
    }


  </style>

  <template>
    <div style$="{{_containerColor(tagColor, fontColor)}}" class$="{{_containerClass(size)}}">
      <span class="tag-value">{{value}}</span>
      <paper-icon-button on-tap="_removeItem" icon="icons:cancel" disabled="{{disabled}}"></paper-icon-button>
    </div>
  </template>

</dom-module>

<script>

  Polymer({
    is             : 'tag-item',
    properties     : {
      disabled    : Boolean,
      /**
       * index of the tag
       */
      index       : Number,
      /**
       * size of the tags, possible values: small, medium, large
       */
      size        : {
        type : String,
        value: 'large'
      },
      /**
       * CSS color of tag
       */
      tagColor    : String,
      /**
       * CSS color of text and remove button
       */
      fontColor   : String,
      /**
       * Boolean flag to indicate if enable remove operation
       */
      enableRemove: {
        type : Boolean,
        value: true
      }
      ,
      /**
       * value of the tag
       */
      value       : String,
      /**
       * value of the tags
       */
      tags        : {
        type  : Array,
        notify: true
      },
    },
    /**
     * _containerColor is the internal method to compute background style
     *
     */
    _containerColor: function (tagColor, fontColor) {
      var styles = []
      if (typeof(tagColor) != "undefined") {
        styles.push("background-color:" + tagColor);
      }
      if (typeof(fontColor) != "undefined") {
        styles.push("color:" + fontColor);
      }
      return styles.join(";");
    },
    /**
     * _containerClass is the internal method to compute size css name
     *
     */
    _containerClass: function (size) {
      return size + " tag-item-container";
    },
    /**
     * _removeItem is the internal method to remove a tag from the tags list
     *
     * @param {object} event object
     */
    _removeItem    : function (e) {
      if (this.enableRemove == false) {
        return;
      }
      var parent = e.target.parentElement.parentElement.parentElement;
      var index = parent.index;
      this.tags.splice(index, 1);
      this.tags = this.tags.slice();
      this.fire('delete');
    }

  });

</script>
