<script>
	FormBehavior = {
		properties     : {
			isNew  : Number,
			isAdmin: Boolean,
			caption: String,
		},
		handlePutError : function (e, data) {
			app.loader.hide();
			var response = (data.request.xhr.response) ? data.request.xhr.response : data.request.xhr;
			if (!app.checkErrorResponse(response)) return;

			var status = e.detail.request.status;
			switch (status) {
				case 400:
					app.toaster.show('Поля содержат ошибки');
					this.highlightErrors(response);
					break;
			}
		},
		_getDateString : function (dateVal) {
			var dat = new Date(1000 * dateVal);
			var options = {
				month : 'long',
				day   : 'numeric',
				hour  : 'numeric',
				minute: 'numeric',
				year  : 'numeric'
			};
			return dat.toLocaleString('ru', options)
		},
		handleGetError : function (e, data) {
			app.loader.hide();
			var response = data.request.xhr.response;
			if (!app.checkErrorResponse(response)) return;
		},
		cancel         : function () {
			app.routeBack();
		},
		collapseBlock  : function (e) {
			//collapse
			e.path.forEach(function (par, par_i, par_arr) {
				if (par.tagName == 'PAPER-MATERIAL') {
					var collapser = par.querySelector('iron-collapse');
					collapser.toggle();
				}
			});
			//set icon
			var iconTarget;
			if (e.target.tagName == 'PAPER-ICON-BUTTON') iconTarget = e.target;
			else {
				e.path.forEach(function (par, par_i, par_arr) {
					if (par.tagName == 'PAPER-ICON-BUTTON') {
						iconTarget = par;
					}
				});
			}
			if (iconTarget.icon == 'icons:expand-less') iconTarget.set('icon', 'icons:expand-more');
			else iconTarget.set('icon', 'icons:expand-less');
		},
		highlightErrors: function (errors) {
			app.loader.hide('save-realty');
			var self = this;
			var errorsText = '';
			errors.forEach(function (er, er_i, er_ar) {
				var field = self.$$('*[name="' + er.field + '"]');
				if (typeof field != 'undefined') {
					field.set('errorMessage', er.message);
					field.set('invalid', true);
					if (er.field == 'address')
						field.highlightError();
				}
				errorsText += '<li>' + er.message + '</li>'
			})
			self.$.formErrors.innerHTML = '<ul>' + errorsText + '</ul>';
		},
		isValid        : function () {
			var isValid = true;
			$(this.id + ' *[name]').each(function () {
				if ($(this)[0].invalid) isValid = false;
			});
			return isValid;
		},
	}
</script>