<script>
    FormModalBehavior = {
        properties: {
            isNew: Boolean,
            caption: String,
            itemFields: Array,
            urls: Object,
            response: Object
        },
        open: function(entityId, fields, callback){
            this.$.formErrors.innerHTML = '';
            this.set('response', {});
            var self = this;
            $(this).find('.form-field').each(function(){
                var vartype = typeof this.value;
                if(Array.isArray(this.value)) vartype ='array';
                switch(vartype){
                    case 'string':
                        this.set('value', '');
                        break;
                    case 'object':
                        this.set('value', {});
                        break;
                    case 'number':
                        this.set('value', 0);
                        break;
                    case 'array':
                        this.set('value', []);
                        break;
                    default:
                        this.set('value', '');
                        break;
                }
                this.set('invalid', false);
            })
            if(entityId){

            }else{
                this.set('caption', 'Добавить контрагента');
            }
            this.$.dialog.addEventListener('iron-overlay-closed', function(e){
                e.target.removeEventListener(e.type, arguments.callee);
                callback((e.detail.confirmed), self.response)
            });
            fields.forEach(function(field, field_i, field_arr){
                if(field.field == 'phones'){
                    var f = $(self.tagName + ' *[name="' + field.field + '"]')[0];
                    f.setInput(field.value);
                }else{
                    var f = $(self.tagName + ' *[name="' + field.field + '"]')[0];
                    f.set('value', field.value);
                }
            });
            this.$.dialog.open();
        },
        save: function(){
            var self = this;
            var fields = {};
            setTimeout(function(){
                var isError = false;
                self.$.formErrors.innerHTML = '';
                $(self).find('.form-field').each(function(){
                    fields[$(this).attr('name')] = this.value;
                    if(this.invalid == true) isError = true;
                })
                if(isError){
                    app.toaster.show('Поля содержат ошибки');
                }else{
                    $.ajax({
                        url: self.urls.put,
                        type: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify(fields),
                        complete: function(data){
                            switch (data.status){
                                case 201: {
                                    self.set('response', data.responseJSON);
                                    app.toaster.show('Контрагент создан');
                                    self.$.dialog.close();
                                    break;
                                }
                                case 200: {
                                    app.toaster.show('Контрагент изменен');
                                    break;
                                }
                                case 400: {
                                    app.toaster.show('Поля содержат ошибка');
                                    self.highlightErrors(data.responseJSON);
                                    break;
                                }
                                default: {
                                    break;
                                }
                            }
                        }
                    })
                }
            }, 300);
        },
        highlightErrors: function (errors) {
            var self = this;
            var errorsText = '';
            errors.forEach(function (er, er_i, er_ar) {
                var field = self.$$('*[name="' + er.field + '"]');
                if(typeof field != 'undefined'){
                    field.set('errorMessage', er.message);
                    field.set('invalid', true);
                }
                errorsText += '<li>'+er.message+'</li>'
            })
            self.$.formErrors.innerHTML = '<ul>'+errorsText+'</ul>';
        },
    };
</script>