<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="autocomplete-field">
    <style>
        paper-spinner{
            bottom: 9px;
        }
        #autocompLoader{
            visibility: hidden;
            --paper-spinner-stroke-width: 1px;
        }
    </style>
    <template>
        <iron-ajax
                id="requester"
                method="get"
                handle-as="json"
                on-response="handleResponse"
                on-error="handleError"
                url="{{url}}"
                params="{{requestParams}}"
                auto
                ></iron-ajax>
        <div class="layout horizontal justified end">
            <paper-input-autocomplete value="{{init}}"
                                      auto-validate
                                      required
                                      id="autocompField"
                                      label="{{label}}"
                                      on-input="autocompChanged"
                                      on-change="autocompChanged"
                                      invalid="{{invalid}}"
                                      style="width: 100%"
                    ></paper-input-autocomplete>
            <paper-spinner id="autocompLoader" title="Загрузка списка" active></paper-spinner>
        </div>
        <div class="clear"></div>
    </template>
    <script>
        Polymer({
            is: "autocomplete-field",
            properties: {
                url: {
                    type: String,
                    observer: 'urlChanged'
                },
                value: {
                    type: Object,
                    notify: true
                },
                phones: {
                    type: Object,
                    notify: true
                },
                source: Array,
                label: {
                    type: String,
                    value: 'Введите имя'
                },
                init: {
                    type: Object,
                    observer: 'initChanged'
                },
                entitiesName: String,
                requestParams: {
                    type: Object,
                    value: {
                        offset: 0,
                        amount: 0,
                        orderBy: "name",
                        order: "desc",
                    }
                },
                invalid: Number
            },
            local: function (string) {
                return Drupal.t(string);
            },
            initChanged: function(newVal, oldVal){
                this.autocompChanged({
                    srcElement: {
                        value: newVal
                    }
                })
            },
            urlChanged: function(){
                this.showLoader();
            },
            _getDateString: function (dateVal) {
                var dat = new Date(1000 * dateVal);
                var options = {
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric'
                };
                return dat.toLocaleString('en', options)
            },
            autocompChanged: function (e) {
                var self = this;
                var value = e.srcElement.value;
                var result = 0;
                if(!self.source) return;
                self.source.forEach(function (item, item_i, item_arr) {
                    if (item.name == value){
                        result = item;
                        self.set('invalid', 0);
                    }
                })
                if (result) {
                    self.set('value', {
                        name: result.name,
                        id: result.id
                    });
                    self.set('phones', result.phones);
                } else {
                    self.set('invalid', 1);
                    self.set('phones', []);
                }
            },
            handleResponse: function(e){
                var self = this;
                this.hideLoader();
                var data = e.detail.response;
                this.set('source', data[this.entitiesName]);
                var autoCompAr = [];
                var initEntity = {};
                data[this.entitiesName].forEach(function (item, item_i, item_ar) {
                    if(item.id == self.init.id) initEntity = item;
                    autoCompAr.push({
                        id: item.id,
                        name: item.name
                    });
                })
                //init value
                this.set('value', {
                    id: initEntity.id,
                    name: initEntity.name
                });
                this.set('phones', initEntity.phones);
                this.$$('#autocompField').set('source', autoCompAr);
            },
            showLoader: function(){
//                this.$.autocompLoader.active = true;
                $(this.$.autocompLoader).css('visibility', 'visible');
                this.$.autocompField.set('disabled', true);
            },
            hideLoader: function(){
                this.$.autocompLoader.active = false;
                $(this.$.autocompLoader).css('visibility', 'hidden');
//                $(this.$.loader).css('display', 'none');
                this.$.autocompField.set('disabled', false);
            }
        });
    </script>
</dom-module>