<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="best-dropdown">
    <style>
        :host {
            position: relative;
            width: 100%;

        }

        paper-spinner {
            bottom: 9px;
        }

        #autocompLoader {
            /*visibility: hidden;*/
            --paper-spinner-stroke-width: 1px;
        }

        paper-input {
            width: 100%;
        }

        .suggestions-container {
            max-height: 500px;
            overflow-y: scroll;
            position: absolute;
            z-index: 9;
            visibility: hidden;
            width: 400px;
        }

        .suggestions-container paper-item {
            border-bottom: 1px solid #efefef;
            font-size: 10pt;
            line-height: 24px;
            min-height: 24px;
        }

        .suggestions-container paper-item:last-of-type {
            border-bottom: none
        }
    </style>
    <template>
        <div class="layout horizontal justified end">
            <paper-input
                    disabled="{{disabled}}"
                    value="{{value}}"
                    invalid="{{invalid}}"
                    error-message="{{errorMessage}}"
                    label="{{label}}"
                    on-input="inputChanged"
                    id="fieldInput"></paper-input>
            <iron-a11y-keys id="a11y"
                            target="[[keyTarget]]"
                            keys="enter up down esc"
                            on-keys-pressed="onKeyPress"></iron-a11y-keys>
            <paper-spinner id="autocompLoader" title="Загрузка списка" active="[[loading]]"></paper-spinner>
        </div>
        <paper-material id="suggestions" class="suggestions-container">
            <paper-menu id="suggestsMenu" item-for-selected="{{value}}" selected="{{selectedSuggestion}}">
                <template is="dom-repeat" items="{{source}}">
                    <paper-item on-click="selectSuggestions" value="{{item}}">
                            {{item}}
                    </paper-item>
                </template>
            </paper-menu>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: "best-dropdown",
            properties: {
                selectedSuggestion: {
                    type: Number,
                    value: 0
                },
                loading: Boolean,
                label: String,
                value: {
                    type: String,
                    notify: true
                },
                phones: {
                    type: Array,
                    notify: true
                },
                source: {
                    type: Array,
                    observer: 'sourceChanged'
                },
                urls: Array,
                entitiesName: String,
                requestParams: {
                    type: Object,
                    value: {
                        offset: 0,
                        amount: 0,
                        orderBy: "name",
                        order: "desc",
                    }
                },
                inputTimeout: Object,
                keyTarget: {
                    type: Object,
                    value: function () {
                        return this.$.fieldInput;
                    }
                },
                suggShows: {
                    type: Boolean,
                    value: 0
                },
                invalid: {
                    type: Boolean,
                    value: false,
                    notify: true
                },
                errorMessage: String,
                disabled: Boolean
            },
            local: function (string) {
                return Drupal.t(string);
            },
            _getDateString: function (dateVal) {
                var dat = new Date(1000 * dateVal);
                var options = {
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric'
                };
                return dat.toLocaleString(Drupal.t('en'), options)
            },
            inputChanged: function (e) {
                this.set('invalid', false);
                this.fire('input', {});
            },
            hideSuggestions: function () {
                $(this.$$('.suggestions-container')).css('visibility', 'hidden');
                this.set('suggShows', false);
            },
            showSuggestions: function () {
                $(this.$$('.suggestions-container')).css('visibility', 'visible');
                this.set('suggShows', true);
            },
            selectSuggestions: function (e) {
                var entity = app.getNeededSrc(e, 'PAPER-ITEM', 'tag');
                this.$.fieldInput.value = entity.value;
                this.set('value', entity.value);
                this.hideSuggestions();
                this.fire('input', {});
            },
            onKeyPress: function(e){
                var key = e.detail.keyboardEvent.keyCode;
                if(!this.suggShows) return;
                switch(key){
                    //enter
                    case 13:
                        this.set('value', this.source[this.selectedSuggestion]);
                        this.hideSuggestions();
                        this.fire('input', {});
                        break;
                    //up
                    case 38:
                        this.$.suggestsMenu.selectPrevious();
                        break;
                    //down
                    case 40:
                        this.$.suggestsMenu.selectNext();
                        break;
                    //escape
                    case 27:
                        this.hideSuggestions();
                        break;
                    default :
                        break;
                }
            },
            initValue: function(value){
                this.$.fieldInput.value = value.name;
                this.set('value', value);
                this.initPhoneByValue(value);
            },
            initPhoneByValue: function(value){
                this.requestParams.name = value.name;
                this.$.phoneRequester.generateRequest();
            },
            sourceChanged: function(newVal, oldVal){
                if(!newVal.length || newVal == oldVal || newVal.length == 1 && newVal[0] == this.value){
                    this.hideSuggestions();
                }else{
                    if(!this.disabled) this.showSuggestions();
                }
            }
        });
    </script>
</dom-module>