<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="checkbox-group">
    <style>
        #error{
            color: #db4437;
        }
    </style>
    <template>
        <h3 class="mini-label">{{label}}</h3>
        <template is="dom-if" if="{{invalid}}">
            <div id="error">{{errorMessage}}</div>
        </template>
        <paper-menu multi id="menu" attr-for-selected="value" on-iron-select="selectCh" on-iron-deselect="selectCh">
            <template is="dom-repeat" items="{{items}}">
                <paper-item disabled="{{disabled}}" value="{{item.id}}" role="menuitemcheckbox" style="min-height: 24px">{{item.title}}</paper-item>
            </template>
        </paper-menu>
    </template>
    <script>
        Polymer({
            is: "checkbox-group",
            properties: {
                label: String,
                errorMessage: String,
                invalid: {
                    type: Boolean,
                    value: false
                },
                items: Array,
                disabled: {
                    type: Boolean,
                    value: false
                },
                value: {
                    type: Array,
                    notify: true,
                    observer: 'valueChanged'
                },
                required: Boolean
            },
            local: function (string) {
                return Drupal.t(string);
            },
            _getDateString: function (dateVal) {
                var dat = new Date(1000 * dateVal);
                var options = {
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric'
                };
                return dat.toLocaleString(Drupal.t('en'), options)
            },
            valueChanged: function(newVal, oldval){
                if(typeof newVal == 'undefined') this.$.menu.set('selectedValues', []);
                if(typeof newVal == 'object'){
                    this.$.menu.set('selectedValues', newVal);
                }
            },
            selectCh: function(e, o){
                if(!e.target.selectedValues.length && this.required){
                    this.set('invalid', true);
                    this.set('errorMessage', 'Обязательно для заполнения');
                }else{
                    this.set('invalid', false);
                }
                this.set('value', e.target.selectedValues);
            }
        });
    </script>
</dom-module>