<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="date-range-picker">
    <style>
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
        paper-icon-button{
            width: 25px;
            height: 25px;
            padding: 4px;
            min-width: 25px;
        }
        paper-input{
            cursor: pointer;
        }
    </style>
    <template>
        <div>
            <paper-input label="{{label}}" on-click="showPicker" value="{{textValue}}" id="pickerInput"></paper-input><paper-icon-button icon="close" on-click="clear"></paper-icon-button>
        </div>

    </template>
    <script>
        Polymer({
            is: "date-range-picker",
            properties: {
                label: String,
                textValue: String,
                value: Object
            },
            local: function (string) {
                return Drupal.t(string);
            },
            _getDateString: function (dateVal) {
                var dat = new Date(1000 * dateVal);
                var options = {
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric'
                };
                return dat.toLocaleString(Drupal.t('en'), options)
            },
            ready: function(){
                var self = this;
                $(this.$.pickerInput).dateRangePicker({
                    language:'ru'
                }).bind('datepicker-change', function(evt, obj) {
                    self.rangeChanged(evt, obj);
                });;
            },
            showPicker: function(){
                $(this.$.pickerInput).data('dateRangePicker').open();
            },
            rangeChanged: function(e, o) {
                this.set('textvalue', o.value);
                var start = new Date(o.date1.getTime());
                var end = new Date(o.date2.getTime());
                start.setHours(0, 0, 0, 0);
                end.setHours(23, 59, 59, 999);
                this.set('value', {
                    min: parseInt(start.getTime()/1000),
                    max: parseInt(end.getTime()/1000)
                });
                this.fire('change', this.value);
            },
            clear: function(){
                $(this.$.pickerInput).data('dateRangePicker').clear();
                this.set('textvalue', '');
                this.set('value', {
                    min: 0,
                    max: 0
                });
                this.fire('change', this.value);
            }
        });
    </script>
</dom-module>