<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="message-box">
    <style>

    </style>
    <template>
        <paper-dialog id="dialog"
                modal
                always-on-top
                entry-animation="fade-in-animation"
                exit-animation="fade-out-animation">
            <h2>{{title}}</h2>
            <p>{{content}}</p>
            <div class="buttons">
                <paper-button dialog-confirm>Ок</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: "message-box",
            properties: {
                title: String,
                content: String
            },
            open: function(title, content, callback){
                this.set('title', title);
                this.set('content', content);
                this.$.dialog.open();
                this.$.dialog.addEventListener('iron-overlay-closed', function(e){
                    e.target.removeEventListener(e.type, arguments.callee);
                    callback(e.detail.confirmed)
                });
            }
        });
    </script>
</dom-module>