<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="multi-dropdown">
    <style>
        #applyBtn{
            background-color: #3f51b5;
            background-color: #3f51b5;
            width: calc(100% - 20px);
            margin: 0 10px 10px 10px;
        }
        iron-collapse{
            background-color: #fff;
            right: 20px;
        }
        #btnIcon{
            position: relative;
            top: -1px;
            margin-right: 5px;
            color: #aaa;
        }
    </style>
    <template id="multiDropdownTemplate">
        <paper-button on-click="toggleMenu" id="triggerBtn">
            <iron-icon id="btnIcon" icon="{{icon}}"></iron-icon>
            Назначение объекта
            <iron-icon icon="paper-dropdown-menu:arrow-drop-down"></iron-icon>
        </paper-button>
        <iron-collapse id="collapse">
            <paper-menu multi class="dropdown-content" attr-for-selected="value" id="menu" selected-values="{{value}}">
                <template is="dom-repeat" items="{{items}}">
                    <paper-item value="{{item.id}}">{{item.title}}</paper-item>
                </template>
            </paper-menu>
            <paper-button raised on-click="apply" id="applyBtn">применить</paper-button>
    </iron-collapse>
</template>
<script>
    Polymer({
        is: "multi-dropdown",
        properties: {
            items: Array,
            value: Array,
            icon: String
        },
        local: function (string) {
            return Drupal.t(string);
        },
        _getDateString: function (dateVal) {
            var dat = new Date(1000 * dateVal);
            var options = {
                month: 'long',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric'
            };
            return dat.toLocaleString(Drupal.t('en'), options)
        },
        toggleMenu: function(){
            if(this.$.collapse.opened) this.changeValue();
            this.$.collapse.toggle();
        },
        apply: function(){
            this.$.collapse.hide();
            this.changeValue();
        },
        changeValue: function(){
            this.set('value', this.$.menu.selectedValues);
            this.fire('change', this.value);
            this.setRising();
        },
        setRising: function(){
            if(this.value.length){
                this.$.triggerBtn.raised = true;
                $(this.$.btnIcon).css('color', '#fff');
                $(this.$.triggerBtn).css('background-color', '#3f51b5');
            }else{
                this.$.triggerBtn.raised = false;
                $(this.$.btnIcon).css('color', '#aaa');
                $(this.$.triggerBtn).css('background-color', 'transparent');
            }
        }
    });
</script>
</dom-module>