<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="password-changer">
    <style>
    </style>
    <template>
        <paper-input required="{{isNew}}"
                     id="passField"
                     type="password"
                     label="Введите новый пароль"
                     on-input="passInput"
                     value="{{password}}"
                     invalid="{{invalid}}"
                     error-message="{{errorMessage}}"
                ></paper-input>
        <template is="dom-if" if="{{isNew}}">
            <paper-input
                    required="{{isNew}}"
                    id="repassField"
                    type="password"
                    label="Введите подтверждение"
                    value="{{passwordConfirm}}"
                    on-input="repassInput"></paper-input>
        </template>
    </template>
    <script>
        Polymer({
            is: "password-changer",
            properties: {
                isChange: Number,
                isNew: {
                    type: Boolean,
                    value: true,
                    observer: "isNewChanged"
                },
                password: {
                    type: String,
                    notify: true,
                    value: ""
                },
                passwordConfirm: {
                    type: String,
                    notify: true,
                    value: ""
                },
                invalid: {
                    type: Boolean,
                    value: 0
                },
                required: {
                    type: Boolean,
                    value: true
                },
                invalid: Boolean,
                errorMessage: String
            },
            local: function (string) {
                return Drupal.t(string);
            },
            _getDateString: function (dateVal) {
                var dat = new Date(1000 * dateVal);
                var options = {
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric'
                };
                return dat.toLocaleString(Drupal.t('en'), options)
            },
            isNewChanged: function(newVal, oldVal){
//                console.log(newVal, oldVal)
//                if(typeof oldVal == 'undefined') return;
//                if(newVal){
//                    this.$$('#passField').set('invalid', true);
//                    this.$$('#repassField').set('invalid', true);
//                }else{
//                    this.$$('#passField').set('invalid', false);
//                    this.$$('#repassField').set('invalid', false);
//                }
            },
            passInput: function(e){
                if(this.password.trim() != '') this.set('isNew', true);
                else{
                    if(!this.isNew) this.set('isNew', false);
                }
                this.repassInput();
            },
            repassInput: function(e){
                var valid = (this.password.trim() == this.passwordConfirm.trim());
                this.$$('#passField').invalid = (valid) ? false : true;
                this.$$('#repassField').invalid = (valid) ? false : true;
                this.set('invalid', !valid);
            }
        });
    </script>
</dom-module>