<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="phones-edit">
    <style>
    </style>
    <template>
        <div class="phones-edit">
            <paper-phones-input
                invalid="{{invalid}}"
                error-message="{{errorMessage}}"
                required="{{required}}"
                placeholder="Введите новый номер"
                tags="{{value}}"
                disabled="{{disabled}}"
            ></paper-phones-input>
        </div>
    </template>
    <script>
        Polymer({
            is: "phones-edit",
            properties: {
                invalid: {
                    type: String,
                    value: false
                },
                errorMessage: String,
                required: {
                    type: String,
                    value: false
                },
                disabled: Boolean,
                value: {
                    type: Array,
                    notify: true,
                    value: [],
                }
            },
            tempReady: function(){
                var self = this;
                $('.phone-input').each(function(){
                    $(this).intlTelInput({
                        autoHideDialCode: true,
                        initialCountry: 'ru',
                        nationalMode: true,
                        utilsScript: '../../reality/bower_components/intl-tel-input/build/js/utils.js'
                    });
                });
            },
            local: function (string) {
                return Drupal.t(string);
            },
            phoneChanged: function(e){
//                var fVal = e.srcElement.value;
//                this.set('phones.' + $(e.srcElement).attr('index'), $(e.srcElement).intlTelInput("getNumber"));
//                e.srcElement.value = fVal;
//                if($(e.srcElement).intlTelInput("isValidNumber")){
//                    $(e.srcElement).removeClass('invalid');
//                }else{
//                    $(e.srcElement).addClass('invalid');
//                }
            },
            _getDateString: function (dateVal) {
                var dat = new Date(1000 * dateVal);
                var options = {
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric'
                };
                return dat.toLocaleString(Drupal.t('en'), options)
            },
            add: function(){
//                this.phones.push('');
//                var self = this;
//                this.push('phones', new String());
            },
            remove: function(e){
                var targetEl;
                if(e.target.tagName == 'PAPER-ICON-BUTTON'){
                    targetEl = e.target;
                }else{
                    e.path.forEach(function(parEl, par_ind, par_arr){
                        if(parEl.tagName == 'PAPER-ICON-BUTTON'){
                            targetEl = parEl;
                        }
                    });
                }
                this.splice('value', $(targetEl).attr('index'), 1);
            },
            setInput: function(val){
                this.$$('paper-phones-input').setInput(val);
            }
        });
    </script>
</dom-module>