<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="phones-autocomplete">
    <style>
        :host {
            position: relative;
        }

        paper-spinner {
            bottom: 9px;
        }

        #autocompLoader {
            /*visibility: hidden;*/
            --paper-spinner-stroke-width: 1px;
        }

        paper-input {
            width: 100%;
        }

        .suggestions-container {
            max-height: 500px;
            overflow-y: scroll;
            position: absolute;
            z-index: 9;
            visibility: hidden;
            width: 400px;
        }

        .suggestions-container paper-item {
            border-bottom: 1px solid #efefef;
            font-size: 10pt;
            line-height: 24px;
            min-height: 24px;
        }

        .suggestions-container paper-item:last-of-type {
            border-bottom: none
        }
    </style>
    <template>
        <iron-ajax
                id="requester"
                method="get"
                handle-as="json"
                on-response="handleResponse"
                on-error="handleError"
                url="{{url}}"
                params="{{requestParams}}"
                loading="{{loading}}"
                ></iron-ajax>
        <iron-ajax
                id="phoneRequester"
                method="get"
                handle-as="json"
                on-response="handlePhoneResponse"
                on-error="handlePhoneError"
                url="{{url}}"
                params="{{requestParams}}"
                loading="{{loading}}"
                ></iron-ajax>
        <div class="layout horizontal justified end">
            <paper-input value="{{arrToStr(phones)}}"
                         invalid="{{invalid}}"
                         error-message="{{errorMessage}}"
                         label="{{label}}"
                         on-input="inputChanged"
                         id="fieldInput"
                         disabled="{{disabled}}"
                    ></paper-input>
            <iron-a11y-keys id="a11y"
                            target="[[keyTarget]]"
                            keys="enter up down escape"
                            on-keys-pressed="onKeyPress"></iron-a11y-keys>
            <paper-spinner id="autocompLoader" title="Загрузка списка" active="[[loading]]"></paper-spinner>
            <template is="dom-if" if="{{!found}}">
                <paper-icon-button icon="add" title="Добавить" on-click="add"></paper-icon-button>
            </template>
        </div>
        <paper-material id="suggestions" class="suggestions-container">
            <paper-menu id="suggestsMenu" item-for-selected="{{value}}" selected="{{selectedSuggestion}}">
                <template is="dom-repeat" items="{{source}}">
                    <paper-item on-click="selectSuggestions" value="{{item.id}}" entity="{{item}}">
                        <paper-item-body>
                            <template is="dom-repeat" items="{{item.phones}}" as="phone">
                                {{phone}}
                            </template>
                        </paper-item-body>
                        <paper-item-body>
                            {{item.name}}
                        </paper-item-body>
                    </paper-item>
                </template>
            </paper-menu>
        </paper-material>

    </template>
    <script>
        Polymer({
            is: "phones-autocomplete",
            properties: {
                selectedSuggestion: {
                    type: Number,
                    value: 0
                },
                loading: Boolean,
                label: String,
                value: {
                    type: Object,
                    notify: true
                },
                phones: {
                    type: Array,
                    notify: true,
                },
                email: String,
                source: Array,
                urls: Array,
                entitiesName: String,
                requestParams: {
                    type: Object,
                    value: {
                        offset: 0,
                        amount: -1,
                        orderBy: "name",
                        order: "asc",
                    }
                },
                inputTimeout: Object,
                keyTarget: {
                    type: Object,
                    value: function () {
                        return this.$.fieldInput;
                    }
                },
                suggShows: {
                    type: Boolean,
                    value: 0
                },
                invalid: {
                    type: Boolean,
                    value: false
                },
                errorMessage: String,
                required: {
                    type: Number,
//                    value: false
                },
                disabled: Boolean,
                inputVal: String,
                adding: Boolean,
                found: {
                    type: Boolean,
                    value: true
                },
                addForm: String
            },
            local: function (string) {
                return Drupal.t(string);
            },
            _getDateString: function (dateVal) {
                var dat = new Date(1000 * dateVal);
                var options = {
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric'
                };
                return dat.toLocaleString(Drupal.t('en'), options)
            },
            inputChanged: function (e) {
                var valName = e.srcElement.value;
                if(!this.required && valName.trim() == '') {
                    this.set('invalid', false);
                    this.set('value', {
                        id: null,
                        name: '',
                        phones: [],
                        email: ''
                    });
                }else
                    this.set('invalid', true);
                this.set('errorMessage', 'Выберите значение из списка');
                this.hideSuggestions();
                clearTimeout(this.inputTimeout);
                if (valName == '') {
                    this.set('source', []);
                    this.hideSuggestions();
                } else {
                    var self = this;
                    this.inputTimeout = setTimeout(function () {
                        self.requestParams['phone[]'] = self.strToArr(valName);
                        if(!self.disabled) self.$.requester.generateRequest();
                    }, 500);
                }
            },
            handleResponse: function (e) {
                var responseName = this.getUrlParam('phone[]', e.detail.xhr.responseURL);
                if (responseName == this.$.fieldInput.value) {
                    var data = e.detail.response;
                    this.set('selectedSuggestion', 0);
                    if (data.result.length) {
                        this.showSuggestions();
                        this.set('found', true);
                    } else {
                        this.hideSuggestions();
                        this.set('found', false);
                    }
                    this.set('source', data.result);
                }
            },
            handleError: function (e, data) {
                app.loader.hide();
                var response = data.request.xhr.response;
                if (!app.checkErrorResponse(response)) return;
            },
            getUrlParam: function (name, url) {
                if (!url) url = window.location.href;
                name = encodeURIComponent(name);
                name = name.replace(/[\[\]]/g, "\\$&");
                var result = [];
                var resFound = true;
                do{
                    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
                    var results = regex.exec(url);
                    if (!results || !results[2]) {
                        resFound = false;
                        continue;
                    }
                    result.push(decodeURIComponent(results[2].replace(/\+/g, " ")));
                    var str = name + '=' + results[2].replace(/\+/g, " ");
                    url = url.replace(str, '');
                }while(resFound)

                if(!result.length) return null;
                if(result.length == 1) return result[0];
                if(result.length > 1) return result;
            },
            hideSuggestions: function () {
                $(this.$$('.suggestions-container')).css('visibility', 'hidden');
                this.set('suggShows', false);
            },
            showSuggestions: function () {
                $(this.$$('.suggestions-container')).css('visibility', 'visible');
                this.set('suggShows', true);
            },
            selectSuggestions: function (e) {
                this.set('invalid', false);
                var entity = app.getNeededSrc(e, 'PAPER-ITEM', 'tag').entity;
                this.$.fieldInput.value = entity.name;
                this.set('value', {
                    id: entity.id,
                    name: entity.name,
                    phones: entity.phones,
                    email: entity.email
                });
                this.set('phones', entity.phones);
                this.set('email', entity.email);
                this.hideSuggestions();
            },
            onKeyPress: function(e){
                var key = e.detail.keyboardEvent.keyCode;
                if(!this.suggShows) return;

                switch(key){
                    //enter
                    case 13:
                        this.set('invalid', false);
                        this.$.fieldInput.value = this.source[this.selectedSuggestion].name;
                        this.set('value', {
                            id: this.source[this.selectedSuggestion].id,
                            name: this.source[this.selectedSuggestion].name,
                            phones: this.source[this.selectedSuggestion].phones,
                            email: this.source[this.selectedSuggestion].email
                        });
                        this.set('phones', this.source[this.selectedSuggestion].phones);
                        this.set('email', this.source[this.selectedSuggestion].email);
                        this.hideSuggestions();
                        break;
                    //up
                    case 38:
                        this.$.suggestsMenu.selectPrevious();
                        break;
                    //down
                    case 40:
                        this.$.suggestsMenu.selectNext();
                        break;
                    default :
                        break;
                }
            },
            initValue: function(value){
                this.set('value', value);
//                this.initPhoneByValue(value);
            },
            initPhoneByValue: function(value){
                this.requestParams.phone = (value.phones[0]) ? value.phones[0] : '';
                if(!this.disabled) this.$.phoneRequester.generateRequest();
            },
            handlePhoneResponse: function (e) {
                var self = this;
                var data = e.detail.response.result;
                data.forEach(function(item, item_i, item_arr){
                    if(item.id == self.value.id){
                        self.set('phones', item.phones)
                    }
                });
            },
            handlePhoneError: function (e, data) {
                app.loader.hide();
                var response = data.request.xhr.response;
                if (!app.checkErrorResponse(response)) return;
            },
            arrToStr: function(arr){
                if(typeof arr == 'undefined' || !arr) return '';
                var strBuilder = '';
                arr.forEach(function(elem, elem_i, elem_arr){
                    strBuilder += elem + ','
                });
                strBuilder = strBuilder.substring(0, strBuilder.length-1);
                return strBuilder;
            },
            strToArr: function(string){
                return string.split(',');
            },
            add: function(){
                var self = this;
                app.openModal(this.addForm, 0, [
                    {
                        field: 'phones',
                        value: this.strToArr(this.$.fieldInput.value)
                    }
                ], function(data, object){
                    if(!object.id) return;
                    self.set('value', {
                        id: object.id,
                        name: object.name,
                        phones: object.phones,
                        email: object.email
                    });
                    self.set('phones', object.phones);
                    self.set('email', object.email);
                    self.set('invalid', false);
                    self.set('found', true);
                });
            }
        });
    </script>
</dom-module>