<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="price-range-filter">
	<style>

	</style>
	<template>
		<div class="shown" on-click="open">{{textValue}}</div>
		<div class="hidden" id="hidden" style="max-width: 340px;">
			<paper-material class="hiddenContainer">
				<div class="layout horizontal justified">
					<div>
						<paper-input on-input="fieldInput" errorMessage="Неверный диапозон" id="minField" type="number" min="0"
												 label="От"></paper-input>
					</div>
					<div class="rangeRowText">&nbsp;&nbsp;-&nbsp;&nbsp;</div>
					<div>
						<paper-input on-input="fieldInput" errorMessage="Неверный диапозон" id="maxField" type="number" min="0"
												 label="До"></paper-input>
					</div>
					<div class="rangeRowText">&nbsp;&nbsp;руб.&nbsp;&nbsp;</div>
					<div>
						<paper-dropdown-menu name="priceType" id="priceTypeFilter" label="Период">
							<paper-menu class="dropdown-content" selected="month" attr-for-selected="value">
								<template is="dom-repeat" items="{{priceTypes}}">
									<paper-item value="{{item.name}}">
										{{item.title}}
									</paper-item>
								</template>
							</paper-menu>
						</paper-dropdown-menu>
					</div>
				</div>
				<div class="buttons">
					<paper-button on-click="confirm">Применить</paper-button>
					<paper-button on-click="cancel">Закрыть</paper-button>
				</div>
			</paper-material>
		</div>
	</template>
	<script>
		Polymer({
			is            : "price-range-filter",
			properties    : {
				label    : String,
				measure  : String,
				textValue: String,
				value    : {
					type : Number,
					value: null
				},
				priceTypes: {
					type : Array,
					value: [
						{
							name : 'month',
							title: 'В месяц'
						},
						{
							name : 'year',
							title: 'В год'
						}
					]
				}
			},
			local         : function (string, context) {
				if (typeof context == 'undefined')
					return Drupal.t(string);
				else return Drupal.t(string, {}, {context: context});
			},
			_getDateString: function (dateVal) {
				var dat = new Date(1000 * dateVal);
				var options = {
					month : 'long',
					day   : 'numeric',
					hour  : 'numeric',
					minute: 'numeric'
				};
				return dat.toLocaleString('ru', options)
			},
			open          : function () {
				$(this.$.hidden).slideToggle(200);
			},
			ready         : function () {
				this.set('textValue', this.label);
			},
			confirm       : function () {
				if (!parseInt(this.$.maxField.value) && !parseInt(this.$.minField.value)) {
					//both null
					this.set('value', null);
					this.fire('apply');
					this.set('textValue', this.label);
					$(this.$.hidden).slideToggle(200);
				} else if (!parseInt(this.$.maxField.value)) {
					//one null
					this.$.maxField.invalid = true;
				} else if (parseInt(this.$.maxField.value) < parseInt(this.$.minField.value)) {
					//min more then max
					this.$.minField.invalid = true;
					this.$.maxField.invalid = true;
				} else {
					//all ok
					this.set('value', {
						min: this.$.minField.value,
						max: this.$.maxField.value,
						priceType: this.$.priceTypeFilter.selectedItem.value
					});
					this.fire('apply');
					$(this.$.hidden).slideToggle(200);
					this.set('textValue', this.$.minField.value + ' - ' + this.$.maxField.value + ' ' + this.measure);
				}
			},
			cancel        : function () {
				$(this.$.hidden).slideToggle(200);
			},
			fieldInput    : function (e) {
				this.$.minField.invalid = false;
				this.$.maxField.invalid = false;
			}
		});
	</script>
</dom-module>