<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="range-filter">
	<style>

	</style>
	<template>
		<div class="shown" on-click="open">{{textValue}}</div>
		<div class="hidden" id="hidden" style="max-width: 220px;">
			<paper-material class="hiddenContainer">
				<div class="layout horizontal justified">
					<div>
						<paper-input on-input="fieldInput" errorMessage="Неверный диапозон" id="minField" type="number" min="0"
												 label="От"></paper-input>
					</div>
					<div class="rangeRowText">&nbsp;&nbsp;-&nbsp;&nbsp;</div>
					<div>
						<paper-input on-input="fieldInput" errorMessage="Неверный диапозон" id="maxField" type="number" min="0"
												 label="До"></paper-input>
					</div>
					<div class="rangeRowText">
						&nbsp;&nbsp;{{measure}}
					</div>
				</div>
				<div class="buttons">
					<paper-button on-click="confirm">Применить</paper-button>
					<paper-button on-click="cancel">Закрыть</paper-button>
				</div>
			</paper-material>
		</div>
	</template>
	<script>
		Polymer({
			is            : "range-filter",
			properties    : {
				label    : String,
				measure  : String,
				textValue: String,
				value    : {
					type : Number,
					value: null
				}
			},
			local         : function (string, context) {
				if (typeof context == 'undefined')
					return Drupal.t(string);
				else return Drupal.t(string, {}, {context: context});
			},
			_getDateString: function (dateVal) {
				var dat = new Date(1000 * dateVal);
				var options = {
					month : 'long',
					day   : 'numeric',
					hour  : 'numeric',
					minute: 'numeric'
				};
				return dat.toLocaleString('ru', options)
			},
			open          : function () {
				$(this.$.hidden).slideToggle(200);
				/*$(document).on('click', this ,this.focusOutListener);
				$(this).click(function(e){
					e.stopPropagation();
				});*/
				var self = this;
				$(document).mouseup(function (e){ // событие клика по веб-документу
					var div = $(self.$.hidden); // тут указываем ID элемента
					if (!div.is(e.target) // если клик был не по нашему блоку
							&& div.has(e.target).length === 0) { // и не по его дочерним элементам
						div.slideUp(200); // скрываем его
					}
				});
			},
			ready         : function () {
				this.set('textValue', this.label);
			},
			confirm       : function () {
				if (!parseInt(this.$.maxField.value) && !parseInt(this.$.minField.value)) {
					//both null
					this.set('value', null);
					this.fire('apply');
					this.set('textValue', this.label);
					$(this.$.hidden).slideToggle(200);
				} else if (!parseInt(this.$.maxField.value)) {
					//one null
					this.$.maxField.invalid = true;
				} else if (parseInt(this.$.maxField.value) < parseInt(this.$.minField.value)) {
					//min more then max
					this.$.minField.invalid = true;
					this.$.maxField.invalid = true;
				} else {
					//all ok
					this.set('value', {
						min: this.$.minField.value,
						max: this.$.maxField.value
					});
					this.fire('apply');
					$(this.$.hidden).slideToggle(200);
					this.set('textValue', this.$.minField.value + ' - ' + this.$.maxField.value + ' ' + this.measure);
				}
			},
			cancel        : function () {
				$(this.$.hidden).slideToggle(200);
//				this.onfocusout=function(){
////					self.cancel();
////					console.log('focus out');
//				};
			},
			fieldInput    : function (e) {
				this.$.minField.invalid = false;
				this.$.maxField.invalid = false;
			},
			/*focusOutListener: function(e){
				console.log('out');
				$(document).off('click', e.data.focusOutListener);
				$(e.data.$.hidden).slideToggle(200);
			}*/
		});
	</script>
</dom-module>