<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="rooms-filter">
	<style>
		:host {
			position : relative;
		}

		#hidden {
			display  : none;
			position : absolute;
			bottom   : 58px;
			right    : -10px;
		}

		paper-material {
			width      : 590px;
			box-shadow : 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
		}

		.measureText {
			font-size : 16px;
			position  : relative;
			bottom    : 12px;
		}

		.buttons {
			display         : flex;
			flex-direction  : row;
			justify-content : flex-end;
			margin-top      : 24px;
		}

		.buttons paper-button {
			background-color : #303F9F;
			color            : #FFFFFF;
		}

		.mini-label {
			margin-top : 2px;
		}
	</style>
	<template>
		<paper-icon-button icon="icons:filter-list" title="Фильтр по помещениям"
											 on-click="toggleFilter"></paper-icon-button>
		<div id="hidden">
			<paper-material class="padded-10">
				<div class="filters layout horizontal start-justified start columns-container">
					<!--general fields-->
					<div style="flex-basis: 400px; margin-right: 20px;">
						<div class="general-fields">
							<!--сдано-->
							<paper-dropdown-menu name="leased" label="Сдано">
								<paper-menu class="dropdown-content" selected="{{filter.leased}}" attr-for-selected="value">
									<paper-item value="null">Всё</paper-item>
									<template is="dom-repeat" items="{{enumerators.ynAlt}}">
										<paper-item value="{{item.name}}">
											{{item.title}}
										</paper-item>
									</template>
								</paper-menu>
							</paper-dropdown-menu>
							<!--general type-->
							<paper-dropdown-menu auto-validate name="roomType" label="Тип помещения">
								<paper-menu class="dropdown-content" selected="{{filter.roomType}}" attr-for-selected="value">
									<paper-item value="">Всё</paper-item>
									<template is="dom-repeat" items="{{enumerators.roomType}}">
										<paper-item value="{{item.name}}">
											{{item.title}}
										</paper-item>
									</template>
								</paper-menu>
							</paper-dropdown-menu>
							<!--info-->
							<paper-textarea
									name="info"
									label="Описание"
									value="{{filter.info}}"
									onInput="this.invalid = false"
							></paper-textarea>
							<!--floor #-->
							<h3 class="mini-label">Этаж</h3>
							<range-filter class="modal-filter" name="floorNumber" label="Выберите значение" measure=""></range-filter>
							<!--square-->
							<h3 class="mini-label">Площадь</h3>
							<range-filter class="modal-filter" name="square" label="Выберите значение" measure="кв.м."></range-filter>
							<!--ceilingHeight-->
							<h3 class="mini-label">Высота потолков</h3>
							<range-filter class="modal-filter" name="ceilingHeight" label="Выберите значение"
														measure="м."></range-filter>
							<!--shareable-->
							<paper-dropdown-menu name="shareable" label="Разделяемое">
								<paper-menu class="dropdown-content" selected="{{filter.shareable}}" attr-for-selected="value">
									<paper-item value="null">Всё</paper-item>
									<template is="dom-repeat" items="{{enumerators.ynAlt}}">
										<paper-item value="{{item.name}}">
											{{item.title}}
										</paper-item>
									</template>
								</paper-menu>
							</paper-dropdown-menu>
							<!--минимальная площадь-->
							<template is="dom-if" if="{{isShareable}}">
								<h3 class="mini-label">Мин. площадь</h3>
								<range-filter class="modal-filter" name="minimalPart" label="Выберите значение" measure="кв.м."></range-filter>
							</template>
						</div>
					</div>
					<!--price fields-->
					<div style="flex-basis: 400px; margin-right: 20px;">

						<div class="general-fields">
							<!--pricePerSquareMeter-->
							<h3 class="mini-label">Цена на кв. метр</h3>
							<range-filter class="modal-filter" name="pricePerSquareMeter" label="Выберите значение"
														measure="руб."></range-filter>
							<!--totalPrice-->
							<h3 class="mini-label">Стоимость</h3>
							<range-filter class="modal-filter" name="totalPrice" label="Выберите значение"
														measure="руб."></range-filter>
							<!--priceType-->
							<paper-dropdown-menu name="priceType" label="Период аренды *">
								<paper-menu class="dropdown-content" selected="{{filter.priceType}}"
														attr-for-selected="value">
									<paper-item value="">Не учитывается</paper-item>
									<template is="dom-repeat" items="{{enumerators.priceType}}">
										<paper-item value="{{item.name}}">
											{{item.title}}
										</paper-item>
									</template>
								</paper-menu>
							</paper-dropdown-menu>
							<h3 class="mini-label">
								* - только для заявок на аренду
							</h3>
						</div>
					</div>
					<!--bundable fields-->
					<div style="flex-basis: 400px;">
						<div class="office-fields">
							<template is="dom-if" if="{{isOffice}}">
								<!--roomPlanType-->
								<paper-dropdown-menu name="roomPlanType" label="Тип планировки">
									<paper-menu class="dropdown-content" selected="{{filter.roomPlanType}}" attr-for-selected="value">
										<paper-item value="">Всё</paper-item>
										<template is="dom-repeat" items="{{enumerators.roomPlanType}}">
											<paper-item value="{{item.name}}">
												{{item.title}}
											</paper-item>
										</template>
									</paper-menu>
								</paper-dropdown-menu>
								<!--roomCondition-->
								<paper-dropdown-menu name="roomCondition" label="Состояние помещения">
									<paper-menu class="dropdown-content" selected="{{filter.roomCondition}}"
															attr-for-selected="value">
										<paper-item value="">Всё</paper-item>
										<template is="dom-repeat" items="{{enumerators.roomCondition}}">
											<paper-item value="{{item.name}}">
												{{item.title}}
											</paper-item>
										</template>
									</paper-menu>
								</paper-dropdown-menu>
								<!--windowType-->
								<paper-dropdown-menu name="windowType" label="Тип окон">
									<paper-menu class="dropdown-content" selected="{{filter.windowType}}" attr-for-selected="value">
										<paper-item value="">Всё</paper-item>
										<template is="dom-repeat" items="{{enumerators.windowType}}">
											<paper-item value="{{item.name}}">
												{{item.title}}
											</paper-item>
										</template>
									</paper-menu>
								</paper-dropdown-menu>
								<!--withFurniture-->
								<paper-dropdown-menu name="withFurniture" label="Наличие мебели">
									<paper-menu class="dropdown-content" selected="{{filter.withFurniture}}" attr-for-selected="value">
										<paper-item value="null">Всё</paper-item>
										<template is="dom-repeat" items="{{enumerators.yn}}">
											<paper-item value="{{item.name}}">
												{{item.title}}
											</paper-item>
										</template>
									</paper-menu>
								</paper-dropdown-menu>
							</template>
						</div>
						<div class="stock-fields">
							<template is="dom-if" if="{{isStock}}">
								<!--dedicatedElectricPower-->
								<h3 class="mini-label">Эл. мощность</h3>
								<range-filter class="modal-filter" name="dedicatedElectricPower" label="Выберите значение"
															measure="КВт"></range-filter>
								<!--<paper-dropdown-menu name="dedicatedElectricPower" label="Эл. мощность">
									<paper-menu class="dropdown-content" selected="{{filter.dedicatedElectricPower}}"
															attr-for-selected="value">
										<paper-item value="">Всё</paper-item>
										<template is="dom-repeat" items="{{enumerators.dedicatedElectricPower}}">
											<paper-item value="{{item.name}}">
												{{item.title}}
											</paper-item>
										</template>
									</paper-menu>
								</paper-dropdown-menu>-->
								<!--isHeated-->
								<paper-dropdown-menu name="heatType" label="Отопление">
									<paper-menu class="dropdown-content" selected="{{filter.heatType}}" attr-for-selected="value">
										<paper-item value="null">Всё</paper-item>
										<template is="dom-repeat" items="{{enumerators.heatTypes}}">
											<paper-item value="{{item.name}}">
												{{item.title}}
											</paper-item>
										</template>
									</paper-menu>
								</paper-dropdown-menu>
								<!--rampantAvailable-->
								<paper-dropdown-menu name="rampantAvailable" label="Наличие пандуса">
									<paper-menu class="dropdown-content" selected="{{filter.rampantAvailable}}" attr-for-selected="value">
										<paper-item value="null">Всё</paper-item>
										<template is="dom-repeat" items="{{enumerators.yn}}">
											<paper-item value="{{item.name}}">
												{{item.title}}
											</paper-item>
										</template>
									</paper-menu>
								</paper-dropdown-menu>
							</template>
						</div>
					</div>
				</div>
				<div class="buttons">
					<paper-button on-click="applyFilter">Применить</paper-button>
					<paper-button on-click="reset">Сбросить</paper-button>
					<paper-button on-click="cancel">Отмена</paper-button>
				</div>
			</paper-material>
		</div>
	</template>
	<script>
		Polymer({
			is           : "rooms-filter",
			behaviors    : [Polymer.IronOverlayBehavior],
			properties   : {
				isOffice   : {
					type    : Number,
					computed: 'getIsOffice(filter.roomType)'
				},
				isStock    : {
					type    : Number,
					computed: 'getIsStock(filter.roomType)'
				},
				isShareable: {
					type: Number,
					computed: 'getIsShareable(filter.shareable)'
				},
				filter     : {
					type : Object,
					value: {
						//general type
						roomType              : '',
						//общая информация
						info                  : '',
						//сдано
						leased                : "null",
						//id объекта
						realty                : 0,
						//№ этажа
						floorNumber           : null,
						//площадь
						square                : null,
						//высота потолков
						ceilingHeight         : null,
						//цена за кв. метр
						pricePerSquareMeter   : null,
						//стоимость
						totalPrice            : null,
						//тип цены
						priceType             : '',
						//разделяемое
						shareable: "null",
						//мин. площадь
						minimalPart: null,
						//office
						//мебель
						withFurniture         : 'null',
						//тип планировки
						roomPlanType          : '',
						//состояние
						roomCondition         : '',
						//тип окон
						windowType            : '',
						//stock
						//отопление
						heatType              : 'null',
						//выделенная эл. мощность
						dedicatedElectricPower: '',
						//наличие пандуса
						rampantAvailable      : 'null'
					}
				},
				enumerators: {
					type : Object,
					value: {
						roomType              : [
							{
								name : 'office',
								title: 'Офис'
							},
							{
								name : 'stock',
								title: 'Склад'
							}
						],
						priceType             : [
							{
								name : 'month',
								title: 'В месяц'
							},
							{
								name : 'year',
								title: 'В год'
							}
						],
						roomPlanType          : [
							{
								name : 'coridor',
								title: 'Коридорная'
							},
							{
								name : 'open',
								title: 'Открытая'
							},
							{
								name : 'mixed',
								title: 'Смешанная'
							}
						],
						roomCondition         : [
							{
								name : 'office',
								title: 'Офисная отделка'
							},
							{
								name : 'clean',
								title: 'Под чистовую отделку'
							},
							{
								name : 'capital',
								title: 'Требуется кап. ремонт'
							},
							{
								name : 'cosmetic',
								title: 'Требуется косм. ремонт'
							}
						],
						windowType            : [
							{
								name : 'typical',
								title: 'Обычные'
							},
							{
								name : 'panoram',
								title: 'Панорамные'
							},
							{
								name : 'pit',
								title: 'В приямках'
							},
							{
								name : 'without',
								title: 'Без окон'
							}
						],
						dedicatedElectricPower: [
							{
								name : 220,
								title: '220 В'
							},
							{
								name : 380,
								title: '380 В'
							}
						],
						heatTypes             : [
							{
								name : 'heated',
								title: 'Отапливаемое'
							},
							{
								name : 'warmed',
								title: 'Утепленное'
							},
							{
								name : 'cold',
								title: 'Холодное'
							},
							{
								name : 'open',
								title: 'Открытая площадка,'
							},
							{
								name : 'refrigerator',
								title: 'Холодильник'
							}
						],
						yn                    : [
							{
								name : "true",
								title: "Есть"
							},
							{
								name : "false",
								title: "Нет"
							}
						],
						ynAlt                    : [
							{
								name : "true",
								title: "Да"
							},
							{
								name : "false",
								title: "Нет"
							}
						]
					}
				}
			},
			behaviors    : [CoreBehavior],
			ready        : function () {

			},
			toggleFilter : function () {
				$(this.$.hidden).slideToggle(200);
			},
			cancel       : function () {
				this.toggleFilter();
			},
			getIsOffice  : function (type) {
				return type == 'office';
			},
			getIsStock   : function (type) {
				return type == 'stock';
			},
			getIsShareable: function(shareable){
				return (shareable == "true") ? 1 : 0;
			},
			reset        : function () {
				this.set('filter', {
					//сдано
					leased: "null",
					//general type
					roomType              : '',
					//общая информация
					info                  : '',
					//id объекта
					realty                : 0,
					//№ этажа
					floorNumber           : null,
					//площадь
					square                : null,
					//высота потолков
					ceilingHeight         : null,
					//цена за кв. метр
					pricePerSquareMeter   : null,
					//стоимость
					totalPrice            : null,
					//тип цены
					priceType             : '',
					//разделяемое
					shareable: "null",
					//мин. площадь
					minimalPart: null,
					//office
					//мебель
					withFurniture         : 'null',
					//тип планировки
					roomPlanType          : '',
					//состояние
					roomCondition         : '',
					//тип окон
					windowType            : '',
					//stock
					//отопление
					heatType              : 'null',
					//выделенная эл. мощность
					dedicatedElectricPower: '',
					//наличие пандуса
					rampantAvailable      : 'null'
				});
				$(this).find('range-filter').each(function () {
					this.set('value', null);
					this.set('textValue', this.label);
				});
			},
			applyFilter  : function () {
				var filterObj = this.getFilterData();
				this.fire('apply-filter', filterObj);
				this.toggleFilter();
			},
			getFilterData: function () {
				var res = {};
				$(this).find('.general-fields [name]').each(function () {
					if (this.tagName.toLowerCase() == 'paper-dropdown-menu') {
						if (this.selectedItem.value != '' && typeof this.selectedItem.value != 'undefined') res[this.name] = this.selectedItem.value;
					} else if (this.tagName.toLowerCase() == 'paper-textarea') {
						if (this.value.trim() != '') res[this.name] = this.value;
					} else if (this.tagName.toLowerCase() == 'range-filter') {
						if (this.value != null) res[this.getAttribute('name')] = this.value;
					}
				});
				if (res.roomType == 'office') {
					$(this).find('.office-fields [name]').each(function () {
						if (this.tagName.toLowerCase() == 'paper-dropdown-menu') {
							if (this.selectedItem.value != '' && typeof this.selectedItem.value != 'undefined') res[this.name] = this.selectedItem.value;
						} else if (this.tagName.toLowerCase() == 'paper-textarea') {
							if (this.value.trim() != '') res[this.name] = this.value;
						} else if (this.tagName.toLowerCase() == 'range-filter') {
							if (this.value != null) res[this.getAttribute('name')] = this.value;
						}
					});
				} else if (res.roomType == 'stock') {
					$(this).find('.stock-fields [name]').each(function () {
						if (this.tagName.toLowerCase() == 'paper-dropdown-menu') {
							if (this.selectedItem.value != '' && typeof this.selectedItem.value != 'undefined') res[this.name] = this.selectedItem.value;
						} else if (this.tagName.toLowerCase() == 'paper-textarea') {
							if (this.value.trim() != '') res[this.name] = this.value;
						} else if (this.tagName.toLowerCase() == 'range-filter') {
							if (this.value != null) res[this.getAttribute('name')] = this.value;
						}
					});
				}
				return res;
			}
		});
	</script>
</dom-module>