<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="sections-progress">
	<style>
		paper-progress{
			--paper-progress-active-color: #303F9F;
			width: 100%;
		}
		label{
			color: #434343;
			font-size: 10px;
		}
	</style>
	<template>
		<template is="dom-repeat" items="{{loadings}}" as="load">
			<template is="dom-if" if="{{load.val}}">
				<label for="loading-[[index]]">[[load.text]]</label>
				<paper-progress id="loading-[[index]]" indeterminate></paper-progress>
			</template>
		</template>
	</template>
	<script>
		Polymer({
			is        : "sections-progress",
			properties: {
				loadings: {
					type : Array,
					value: [
						{
							name: 'counterparties',
							enabled: 0,
							text: 'Загрузка списка контрагентов',
							val: 0
						},
						{
							name: 'orders',
							enabled: 0,
							text: 'Загрузка списка заявок',
							val: 0
						},
						{
							name: 'realties',
							enabled: 0,
							text: 'Загрузка списка объектов',
							val: 0
						},
						{
							name: 'users',
							enabled: 0,
							text: 'Загрузка списка пользователей',
							val: 0
						}
					]
				}
			},
			behaviors : [CoreBehavior],
			ready     : function () {

			},
			addLoading: function(loadName){
				var newVal = this.loadings[this.getIdByName(loadName)].val + 1;
				this.set('loadings.' + this.getIdByName(loadName) + '.val', newVal);
			},
			removeLoading: function(loadName){
				var newVal = this.loadings[this.getIdByName(loadName)].val - 1;
				this.set('loadings.' + this.getIdByName(loadName) + '.val', newVal);
			},
			getIdByName: function(name){
				var id = -1;
				for(var i=0; i<this.loadings.length; i++){
					if(this.loadings[i].name == name){
						id = i;
						break;
					}
				}
				return (id == -1) ? false : id;
			}
		})
		;
	</script>
</dom-module>