<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="yes-no-dialog">
	<style>

	</style>
	<template>
		<paper-dialog id="dialog"
									modal
									always-on-top
									entry-animation="fade-in-animation"
									exit-animation="fade-out-animation"
									on-iron-overlay-opened="patchOverlay">
			<h2>{{title}}</h2>
			<p>{{content}}</p>
			<div class="buttons">
				<paper-button dialog-dismiss>Нет</paper-button>
				<paper-button dialog-confirm>Да</paper-button>
			</div>
		</paper-dialog>
	</template>
	<script>
		Polymer({
			is            : "yes-no-dialog",
			properties    : {
				title  : String,
				content: String
			},
			local         : function (string) {
				return Drupal.t(string);
			},
			_getDateString: function (dateVal) {
				var dat = new Date(1000 * dateVal);
				var options = {
					month : 'long',
					day   : 'numeric',
					hour  : 'numeric',
					minute: 'numeric'
				};
				return dat.toLocaleString(Drupal.t('en'), options)
			},
			open          : function (callback) {
				this.$.dialog.open();
				this.$.dialog.addEventListener('iron-overlay-closed', function (e) {
					e.target.removeEventListener(e.type, arguments.callee);
					callback(e.detail.confirmed)
				});
			},
			patchOverlay: function (e) {
				if (e.target.withBackdrop) {
					e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
				}
			},
		});
	</script>
</dom-module>