<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="realty-rooms">
	<style>
		.search-list-header {
			margin-right : 0;
		}

		.search-list-header > div {
			width           : calc(12.5% - 32px);
			display         : flex;
			justify-content : space-between;
			align-items     : flex-end;
		}
		.search-list-header.periodless > div {
			width           : calc(14.28% - 32px);
			display         : flex;
			justify-content : space-between;
			align-items     : flex-end;
		}
		#add{
			min-width: 111px;
		}
		#addIcon{
			min-width: 32px;
		}
	</style>
	<template>
		<iron-ajax
				id="requester"
				url="{{urls.list}}"
				handle-as="json"
				on-response="handleResponse"
				on-error="handleError"
		></iron-ajax>
		<paper-material class="marged-10">
			<div class="search-list-header">
				<!--blank-->
				<div>
					<paper-button id="add" on-click="addRoom"><iron-icon icon="icons:add-circle" id="addIcon"></iron-icon>Создать</paper-button>
				</div>
				<!--area-->
				<div>
					<range-filter
							class="filterField"
							name="square"
							type="range"
							label="Площадь"
							on-apply="filterChanged"
							measure="кв.м."
					></range-filter>
					<div class="sorter">
						<iron-icon
								for="square"
								direction="asc"
								icon="icons:expand-more"
								on-click="sortChanged"></iron-icon>
					</div>
				</div>
				<!--price-->
				<div>
					<range-filter
							class="filterField"
							name="pricePerSquareMeter"
							type="range"
							label="Цена/кв.м."
							on-apply="filterChanged"
							measure="руб."
					></range-filter>
					<div class="sorter">
						<iron-icon
								for="pricePerSquareMeter"
								direction="asc"
								icon="icons:expand-more"
								on-click="sortChanged"></iron-icon>
					</div>
				</div>
				<!--total-->
				<div>
					<range-filter
							class="filterField"
							name="totalPrice"
							type="priceRange"
							label="Стоимость"
							on-apply="filterChanged"
							measure="руб."
					></range-filter>
					<div class="sorter">
						<iron-icon
								for="totalPrice"
								direction="asc"
								icon="icons:expand-more"
								on-click="sortChanged"></iron-icon>
					</div>
				</div>
				<!--priceType-->
				<template is="dom-if" if="{{showPriceTypes}}">
					<div>
						<paper-dropdown-menu class="filterField" name="priceType" id="priceTypeFilter" label="Период" type="dropdown">
							<paper-menu class="dropdown-content" selected="{{priceType}}" attr-for-selected="value">
								<paper-item value="" class="stateBody">Все</paper-item>
								<paper-item value="month">В месяц</paper-item>
								<paper-item value="year">В год</paper-item>
							</paper-menu>
						</paper-dropdown-menu>
					</div>
				</template>
				<!--created-->
				<div>
					<date-range-picker
							class="filterField"
							name="created"
							label="Создано"
							on-change="filterChanged"></date-range-picker>
					<div class="sorter">
						<iron-icon
								for="created"
								direction="asc"
								icon="icons:expand-more"
								on-click="sortChanged"></iron-icon>
					</div>
				</div>
				<!--updated-->
				<div>
					<date-range-picker
							class="filterField"
							name="updated"
							label="Обновлено"
							on-change="filterChanged"></date-range-picker>
					<div class="sorter">
						<iron-icon
								for="updated"
								direction="asc"
								icon="icons:expand-more"
								on-click="sortChanged"></iron-icon>
					</div>
				</div>
				<!--type-->
				<div>
					<paper-dropdown-menu class="filterField" name="roomType" id="roomTypeFilter" label="Тип" type="dropdown">
						<paper-menu class="dropdown-content" selected="{{roomType}}" attr-for-selected="value">
							<paper-item value="" class="stateBody">Всё</paper-item>
							<paper-item value="stock">Склад</paper-item>
							<paper-item value="office">Офис</paper-item>
						</paper-menu>
					</paper-dropdown-menu>
					<!--<div class="sorter">
						<iron-icon
								for="roomType"
								direction="asc"
								icon="icons:expand-more"
								on-click="sortChanged"></iron-icon>
					</div>-->
				</div>
			</div>
			<vaadin-grid id="grid" style="height: calc(100vh - 216px)" on-selected-items-changed="selectionChanged"></vaadin-grid>
		</paper-material>
	</template>
	<script>
		Polymer({
			is             : "realty-rooms",
			properties     : {
				realtyId: {
					type    : Number,
					observer: 'realtyChanged'
				},
				sorting : {
					type : Object,
					value: {
						par      : 'created',
						direction: 'desc'
					}
				},
				filtering: {
					type: Array,
					value: []
				},
				offerType: {
					type: Number,
					observer: 'offerTypeChanged'
				},
				showPriceTypes: {
					type: Number,
					computed: 'getShowPriceTypes(offerType)'
				},
				roomType  : {
					type    : String,
					value   : "",
					observer: 'roomTypeFilterChanged'
				},
				priceType  : {
					type    : String,
					value   : "",
					observer: 'priceTypeFilterChanged'
				},
				realtyComment: String
			},
			behaviors      : [SectionBehavior],
			_getDateString : function (dateVal) {
				var dat = new Date(1000 * dateVal);
				var options = {
					month : 'long',
					day   : 'numeric',
					hour  : 'numeric',
					minute: 'numeric'
				};
				return dat.toLocaleString('ru', options)
			},
			ready          : function () {
				this.set('urls', app.urls.rooms);
				var self = this;
				var grid = this.$$('#grid');
				grid.columns = [
					{name: 'images'},
					{name: 'square'},
					{name: 'pricePerSquareMeter'},
					{name: 'totalPrice'},
					{name: 'priceType'},
					{name: 'created'},
					{name: 'updated'},
					{name: 'roomType'}
				];
				//images
				grid.columns[0].renderer = function(cell) {
					if(cell.data.length){
						cell.element.innerHTML =    '<iron-image preload ' +
								'onclick="app.imgViewer.openFromVaadin(event, this, ' +
								'\'' + encodeURI(JSON.stringify(cell.data)) + '\', \'realty-rooms\')" ' +
								'class="showPhotos" sizing="cover" style="width: 70px;height: 50px;" ' +
								'index$="' + cell.row + '" ' +
								'src="' + cell.data[0].thumbnails.h70 + '"></iron-image>';
					}else{
						cell.element.innerHTML = '<iron-image preload sizing="contain" style="width: 70px;height: 50px;" src="/img/no_photo.png"></iron-image>';
					}
				};
				//square
				grid.columns[1].renderer = function (cell) {
					cell.element.innerHTML = cell.data + ' кв.м.';
				};
				//price
				grid.columns[2].renderer = function (cell) {
					cell.element.innerHTML = cell.data + ' руб/кв.м.'
				};
				//total price
				grid.columns[3].renderer = function (cell) {
					cell.element.innerHTML = cell.data + 'руб';
				};
				//priceType
				grid.columns[4].renderer = function (cell) {
					switch (cell.data){
						case 'year':
							cell.element.innerHTML = 'в год';
							break;
						case 'month':
							cell.element.innerHTML = 'в месяц';
							break;
					}
				};
				//created
				grid.columns[5].renderer = function (cell) {
					cell.element.innerHTML = self._getDateString(cell.data);
				};
				//updated
				grid.columns[6].renderer = function (cell) {
					cell.element.innerHTML = self._getDateString(cell.data);
				};
				//type
				grid.columns[7].renderer = function (cell) {
					switch (cell.data){
						case 'office':
							cell.element.innerHTML = 'Офис';
							break;
						case 'stock':
							cell.element.innerHTML = 'Склад';
							break;
					}
				};

				grid.items = this.sendDataRequest;
			},
			sendDataRequest: function (params, callback) {
				var self = document.getElementById('realty-rooms');
				var requestParams = {
					offset : (params) ? params.index : 0,
					amount : (params) ? params.count : 0,//500,
					orderBy: self.sorting.par,
					order  : self.sorting.direction,
					realty : self.realtyId
				};
				//get values of all filters
				self.filtering.forEach(function (filter, filter_ind, filter_arr) {
					//if it exists
					if(filter.value){
						if(typeof filter.value !== 'undefined' && filter.value != null){
							//parse object-filter
							if(typeof filter.value === 'object'){
								for(var propertyName in filter.value) {
									requestParams[filter.par + '.' + propertyName] = filter.value[propertyName];
								}
							//simple-value filter
							}else{
								requestParams[filter.par] = filter.value;
							}
						}
					}
				});
				self.getJSON(self.urls.list, requestParams, function (json) {
					if (callback) callback(json.result, json.size);
				});
			},
			addRoom        : function () {
				app.openForm('room-form', 1, 0, {
					field : 'realty',
					entity: $('realty-form')[0].itemFields
				})
			},
			realtyChanged  : function (newValue, oldValue) {
				if (parseInt(newValue)) {
					grid.items = [];
					this.$$('#grid').refreshItems();
					grid.items = this.sendDataRequest;
				}
			},
			filterChanged: function (e) {
				var self = this;
				var filterArr = [];
				//get values from filterFields
				$(this.tagName + ' .search-list-header .filterField').each(function () {
					//get dropdowm filter val
					if($(this).attr('type') == 'dropdown'){
						filterArr.push({
							par: $(this).attr('name'),
							value: self[$(this).attr('name')]
						});
					}else{
						//other types values
						filterArr.push({
							par: $(this).attr('name'),
							value: this.value
						});
					}
				});
				this.set('filtering', filterArr);

				this.refresh();
			},
			roomTypeFilterChanged: function (newVal, oldVal) {
				if (typeof oldVal == 'undefined') return;
				this.filterChanged();
			},
			priceTypeFilterChanged: function (newVal, oldVal) {
				if (typeof oldVal == 'undefined') return;
				this.filterChanged();
			},
			getShowPriceTypes: function(offerType){
				return offerType == 1;
			},
			offerTypeChanged: function(newVal, oldVal){
				if(newVal == 1){
					$(this.$.grid).removeClass('periodless');
					$(this.$$('.search-list-header')).removeClass('periodless');
					this.$.grid.columns[4].hidden = false;
				}else if(newVal == 2){
					$(this.$.grid).addClass('periodless');
					$(this.$$('.search-list-header')).addClass('periodless');
					this.$.grid.columns[4].hidden = true;
				}
			}
		});
	</script>
</dom-module>