<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="realty-form">
	<style>
		:host {
			display : block;
			height  : 100vh;
		}

		paper-tabs {
			--paper-tabs-selection-bar-color : #303F9F;
			background-color                 : #FFFFFF;
			position                         : relative;
			top                              : 10px;
			width                            : calc(100% - 20px);
			margin                           : 0 10px;
			box-shadow                       : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		}

		paper-tab {
			--paper-tab-ink : #303F9F;
		}
		paper-radio-group[name="offerTypes"]{
			display: flex;
			flex-direction: column;
		}
		paper-radio-group[name="offerTypes"] paper-radio-button{
			padding: 1px 1px 6px 1px;
		}
	</style>
	<template>
		<iron-ajax
				id="getRequester"
				method="GET"
				handle-as="json"
				on-response="handleGetResponse"
				on-error="handleGetError"
		></iron-ajax>
		<iron-ajax
				id="putRequester"
				method="PUT"
				handle-as="json"
				on-response="handlePutResponse"
				on-error="handlePutError"
		></iron-ajax>
		<paper-header-panel main mode="waterfall">
			<paper-toolbar>
				<paper-icon-button class="drawer-menu drawer-toggle" icon="menu"
													 paper-drawer-toggle></paper-icon-button>
				<paper-icon-button class="drawer-menu" icon="icons:arrow-back" on-click="cancel"></paper-icon-button>
				<div class="title">{{caption}}</div>
				<paper-button on-click="save" id="btnCancel">Сохранить</paper-button>
			</paper-toolbar>
			<div id="formErrors"></div>
			<paper-tabs selected="{{selectedTab}}">
				<paper-tab>Общая информация</paper-tab>
				<paper-tab disabled="{{isNew}}">Комментарии</paper-tab>
				<paper-tab>Адрес</paper-tab>
				<paper-tab disabled="{{isNew}}">Фотографии</paper-tab>
				<paper-tab disabled="{{isNew}}">Помещения</paper-tab>
			</paper-tabs>
			<iron-pages selected="{{selectedTab}}">
				<div>
					<paper-material class="marged-10 padded-10">
						<div class="layout horizontal start-justified start">
							<div style="margin-right: 20px; flex-grow: 0; flex-basis: 350px">
								<template is="dom-if" if="{{!isNew}}">
									<div class="orders-times" style="padding-top: 7px;">
										<div><span>Дата создания: </span>{{_getDateString(itemFields.created)}}</div>
										<div><span>Дата изменения: </span>{{_getDateString(itemFields.updated)}}
										</div>
									</div>
								</template>
								<!--INFO-->
								<paper-textarea label="Информация об объекте"
																name="info"
																value="{{itemFields.info}}"
																disabled="{{!isAdmin}}"></paper-textarea>
								<!--REALTY PHONES-->
								<h3 class="mini-label">Номера телефонов объекта</h3>
								<phones-edit name="phones"
														 value="{{itemFields.phones}}"
														 disabled="{{!isAdmin}}"></phones-edit>
								<div class="clear"></div>
								<!--OWNER-->
								<h3 class="mini-label">Информация о собственнике</h3>

								<div class="autocomplete-info">
									ФИО: {{itemFields.owner.name}}<br>
									Email: {{itemFields.owner.email}}
								</div>
								<phones-autocomplete
										id="ownerAc"
										name="owner"
										entities-name="counterparties"
										value="{{itemFields.owner}}"
										phones="{{itemFields.owner.phones}}"
										label="Номера телефонов собственника"
										required="1"
										disabled="{{!isAdmin}}"
										adding="true"
										add-form="counterparty-form-modal"
								></phones-autocomplete>
							</div>
							<div style="flex-shrink: 0;">
								<!--REALTY PURPOSES-->
								<checkbox-group
										label="Назначение объекта"
										items="{{realtyPurposes}}"
										value="{{itemFields.purposes}}"
										required="true"
										name="purposes"
								></checkbox-group>
								<!--<checkbox-group
										label="Тип предложения"
										items="{{realtyOfferTypes}}"
										disabled="{{!isAdmin}}"
										value="{{itemFields.offerTypes}}"
										required="true"
										name="offerTypes"
								></checkbox-group>-->
								<h3 class="mini-label">Тип предложения</h3>
								<paper-radio-group
										onfocus="this.invalid = false"
										onclick="this.invalid = false"
										required="true"
										name="offerTypes"
										selected="{{offerTypeRadio}}"
								>
									<paper-radio-button disabled="{{!isNew}}" name="1">Аренда</paper-radio-button>
									<paper-radio-button disabled="{{!isNew}}" name="2">Продажа</paper-radio-button>
								</paper-radio-group>
							</div>
						</div>
					</paper-material>
				</div>
				<div>
					<template is="dom-if" if="{{!isNew}}">
						<paper-material class="marged-10 padded-10">
							<div class="comments">
								<div class="tools cardHead">
									<!--<h3>Комментарий</h3>-->
									<span class="manage">
                                        <span
																						on-click="commentsAll">История изменений</span>
                                    </span>
									<!--<paper-icon-button title="Развернуть" class="h3-icon" icon="icons:expand-less"
																		 on-click="collapseBlock"></paper-icon-button>-->
								</div>
								<iron-collapse class="comments-container" opened>
									<div class="layout horizontal justified add-comment-container">
										<paper-textarea on-input="commentInput"
																		onInput="this.invalid = false"
																		value="{{lastComment.comment}}"
																		id="lastCommentText"
																		class="padded-10"></paper-textarea>
										<paper-button on-click="addComment" id="btnEditComment" disabled>Изменить комментарий</paper-button>
									</div>
									<template is="dom-if" if="{{lastComment.author.name}}">
										<div class="description" style="padding-top: 10px">
											<div class="assignee">{{lastComment.author.name}}</div>
											<div class="date">{{_getDateString(lastComment.created)}}</div>
										</div>
									</template>
									<template is="dom-repeat" items="{{itemFields.comments}}" as="comment">
										<div class="comment-item">
											<paper-textarea disabled class="text" value="{{comment.comment}}"></paper-textarea>
											<div class="description">
												<div class="assignee">{{comment.author.name}}</div>
												<div class="date">{{_getDateString(comment.created)}}</div>
											</div>
										</div>
										<div class="clear"></div>
									</template>
								</iron-collapse>
							</div>
						</paper-material>
					</template>
				</div>
				<div>
					<yandex-map-realty
							id="map"
							name="address"
							country="{{itemFields.address.country}}"
							region="{{itemFields.address.region}}"
							city="{{itemFields.address.city}}"
							street="{{itemFields.address.street}}"
							building="{{itemFields.address.building}}"
							room="{{itemFields.address.room}}"
							lat="{{itemFields.address.location.lat}}"
							lon="{{itemFields.address.location.lon}}"
							is-admin="{{isAdmin}}"
					></yandex-map-realty>
				</div>
				<div>
					<paper-material class="marged-10 padded-10">
						<images-upload
								label="Фотографии объекта"
								id="imagesUploader"
								accept="image/*"
								multi="true"
								droppable="false"
								target="{{imagesUrls.uploadRealty}}"
								drop-text="Перетащите файлы в эту область"
								value="{{itemFields.images}}"
								name="images"
								is-admin="{{isAdmin}}"
						></images-upload>
					</paper-material>
				</div>
				<div>
					<template is="dom-if" if="{{!isNew}}">
						<realty-rooms
								id="realty-rooms"
								realty-id="{{itemFields.id}}"
								form="room-form"
								offer-type="{{itemFields.offerTypes.0}}"
								realty-comment="{{lastComment.comment}}"
						></realty-rooms>
					</template>
				</div>
			</iron-pages>
		</paper-header-panel>
	</template>
	<script>
		Polymer({
			is               : "realty-form",
			behaviors        : [/*Polymer.NeonAnimatableBehavior, */FormBehavior],
			properties       : {
				urls          : Object,
				itemFields    : {
					type : Object,
					value: {
						id        : null,
						phones    : [],
						address   : {
							country : "",
							region  : "",
							city    : "",
							street  : "",
							building: "",
							room    : "",
							location: {
								lat: "",
								lon: ""
							}
						},
						created   : null,
						updated   : null,
						comments  : [],
						purposes  : [],
						owner     : {
							name: String,
							id  : Number
						},
						info      : '',
						offerTypes: [],
						images    : []
					}
				},
				counterparties: Array,
				realtyPurposes: Array,
				lastComment   : {
					type : String,
					value: ''
				},
				offerTypes    : Array,
				imagesUrls    : Object,
				isNew         : {
					type : Number,
					value: 1
				},
				selectedTab   : {
					type : Number,
					value: 0,
					observer: 'tabChanged'
				},
				offerTypeRadio : {
					type: Number,
					value: 0,
					observer: 'offerTypeRadioChanged'
				},
				entityRoute: String
			},
			open             : function (itemId, reopened) {
				if(!reopened) this.set('selectedTab', 0);
				if (itemId) this.set('isNew', false);
				else this.set('isNew', true);

				//autocomplete url
				this.$.ownerAc.set('url', app.urls.counterparties.list);
				this.$.ownerAc.hideSuggestions();
				//clear form errors
				this.$.formErrors.innerHTML = '';
				$(this.id + ' *[name]').each(function () {
					if (typeof this.set === 'function') this.set('invalid', false);
					$(this).removeAttr('invalid');
				});

				if (itemId) {
					app.loader.show();
					this.$.getRequester.set('url', this.urls.get + '/' + itemId);
					this.$.getRequester.generateRequest();
					$(this).removeClass('new');
				} else {
					this.set('itemFields', {
						address: {
							type : Object,
							value: {
								country   : "",
								region    : "",
								city      : "",
								street    : "",
								building  : "",
								room      : "",
								location  : {
									lat: "",
									lon: ""
								},
								purposes  : [],
								offerTypes: []
							}
						}
					});
					this.$.map.init();
					this.$.map.set('addressString', '');
					this.set('caption', 'Добавить объект');
					this.set('offerTypeRadio', 0);

					//set form requester
					if (Object.keys(this.requester).length !== 0) {
						this.set('itemFields.' + this.requester.field, this.requester.entity);
					}
				}
				this.$.imagesUploader.init();
			},
			handleGetResponse: function (e) {
				var data = e.detail.response;
				this.set('itemFields', data);
				this.set('offerTypeRadio', this.itemFields.offerTypes[0]);
				var adrString = data.address.country + ', ' + data.address.region + ', ' + data.address.city;
				if (data.address.street != null) adrString += ', ' + data.address.street;
				if (data.address.building != null) adrString += ', ' + data.address.building;
				this.set('caption', adrString);
				this.$.map.init(adrString);
				//set autocomplete value
				this.$.ownerAc.initValue(data.owner);
				//set last comment
				this.set('lastComment', (data.comments.length) ? data.comments[0] : {});
				this.set('itemFields.comments', []);
			},
			handlePutResponse: function (e) {
				app.loader.hide();
				var data = e.detail.response;
				var status = e.detail.status;
				switch (status) {
						//item added
					case 201:
						app.addItem('realties', data);
						app.toaster.show('Объект добавлен');
						app.openForm('realty-form', 0, data.id, null, 1);
						this.$.formErrors.innerHTML = '';
						break;
						//item edited
					case 200:
						app.editItem('realties', data);
						app.toaster.show('Объект изменен');
						app.openForm('realty-form', 0, data.id, null, 1);
						break;
					default:
						app.toaster.show('Неизвестная ошибка сервера');
						break;
				}
			},
			save             : function () {
				var self = this;
				app.loader.show();
				setTimeout(function () {
					if (!self.isValid()) {
						app.loader.hide();
						app.toaster.show('Поля содержат ошибки');
						return;
					}
					//save comment
					if (!self.isNew && !self.$$('#btnEditComment').disabled) {
						self.addComment(function () {
							//save form
							self.$.putRequester.set('body', JSON.stringify({
								phones    : self.itemFields.phones,
								owner     : (self.itemFields.owner) ? self.itemFields.owner.id : 0,
								info      : self.itemFields.info,
								purposes  : self.itemFields.purposes,
								offerTypes: self.itemFields.offerTypes,
								images    : self.itemFields.images,
								address   : (self.itemFields.address) ? {
											country : self.itemFields.address.country,
											region  : self.itemFields.address.region,
											city    : self.itemFields.address.city,
											street  : self.itemFields.address.street,
											building: self.itemFields.address.building,
											room    : self.itemFields.address.room,
											location: {
												lat: self.$.map.lat,
												lon: self.$.map.lon
											}
										} : {}
							}));
							self.$.putRequester.set('url', self.urls.put + ((self.isNew) ? '' : ('/' + self.itemFields.id)));
							self.$.putRequester.set('contentType', 'application/json');
							self.$.putRequester.generateRequest();
						});
					} else {
						//save form
						var obj = {
							phones    : self.itemFields.phones,
							owner     : (self.itemFields.owner) ? self.itemFields.owner.id : 0,
							info      : self.itemFields.info,
							purposes  : self.itemFields.purposes,
							offerTypes: self.itemFields.offerTypes,
							images    : self.itemFields.images,
							address   : (self.itemFields.address) ? {
										country : self.itemFields.address.country,
										region  : self.itemFields.address.region,
										city    : self.itemFields.address.city,
										street  : self.itemFields.address.street,
										building: self.itemFields.address.building,
										room    : self.itemFields.address.room,
										location: {
											lat: self.$.map.lat,
											lon: self.$.map.lon
										}
									} : {},
							shareable : (self.itemFields.shareable) ? true : false
						};
						if (obj.shareable) obj.minimalPart = +self.itemFields.minimalPart;
						self.$.putRequester.set('body', JSON.stringify(obj));
						self.$.putRequester.set('url', self.urls.put + ((self.isNew) ? '' : ('/' + self.itemFields.id)));
						self.$.putRequester.set('contentType', 'application/json');
						self.$.putRequester.generateRequest();
					}
				}, 300);
			},
			addComment       : function (callback) {
				if (typeof this.lastComment.comment == 'undefined' || !this.lastComment.comment || this.lastComment.comment.trim() == '') {
					this.$$('#lastCommentText').invalid = true;
					this.$$('#lastCommentText').errorMessage = 'Введите комментарий';
					app.toaster.show('Введите текст комментария')
					return;
				}
				var self = this;
				app.addComment('realties', this.itemFields.id, {
					comment: this.lastComment.comment
				}, function (res) {
					if (res) {
						if (typeof callback == 'function') callback(true);
						self.set('lastComment', res);
						self.$$('#btnEditComment').disabled = true;
						app.toaster.show('Комментарий изменен');
					}
				});
			},
			commentsAll      : function () {
				var self = this;
				app.commentsAll('realties', this.itemFields.id, function (res) {
					if (res) {
						res.comments.shift();
						self.set('itemFields.comments', res.comments);
					}
				});
			},
			commentInput     : function () {
				this.$$('#btnEditComment').disabled = false;
			},
			offerTypeRadioChanged: function(newVal, oldVal){
				this.set('itemFields.offerTypes', [newVal]);
			},
			tabChanged: function(newVal, oldVal){
				if(newVal == 4) this.$$('realty-rooms').ready();
//				console.log(newVal);
			},
			patchOverlay            : function (e) {
				if (e.target.withBackdrop) {
					e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
				}
			},
		});
	</script>
</dom-module>