<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="room-form">
	<style>
		paper-tabs {
			--paper-tabs-selection-bar-color : #303F9F;
			background-color                 : #FFFFFF;
			position                         : relative;
			top                              : 10px;
			width                            : calc(100% - 20px);
			margin                           : 0 10px;
			box-shadow                       : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		}

		paper-tab {
			--paper-tab-ink : #303F9F;
		}

		.measureText {
			font-size : 16px;
			position  : relative;
			bottom    : 12px;
		}

		paper-dropdown-menu[name='priceType'] {
			margin-left : 8px;
			max-width   : 86px;
		}

		.columns-container > div {
			margin-left    : 20px;
			display        : flex;
			flex-grow      : 0;
			flex-direction : column;
			flex-basis : 350px;
		}

		paper-checkbox {
			padding : 25px 0 11px 0;
		}

		paper-dropdown-menu paper-item {
			cursor : pointer;
		}

		.realty-comment {
			padding : 20px;
		}
	</style>
	<template>
		<iron-ajax
				id="getRequester"
				method="GET"
				handle-as="json"
				on-response="handleGetResponse"
				on-error="handleGetError"
		></iron-ajax>
		<iron-ajax
				id="putRequester"
				method="PUT"
				handle-as="json"
				on-response="handlePutResponse"
				on-error="handlePutError"
		></iron-ajax>
		<paper-header-panel main mode="waterfall">
			<paper-toolbar>
				<paper-icon-button class="drawer-menu drawer-toggle" icon="menu" paper-drawer-toggle></paper-icon-button>
				<paper-icon-button class="drawer-menu" icon="icons:arrow-back" on-click="cancel"></paper-icon-button>
				<template is="dom-if" if="{{isNew}}">
					<div class="title">Добавить помещение</div>
				</template>
				<template is="dom-if" if="{{!isNew}}">
					<div class="title">{{caption}}</div>
				</template>
				<div class="layout vertical start-justified end" style="    padding-top: 27px;">
					<paper-button on-click="save" id="btnCancel">Сохранить</paper-button>
					<template is="dom-if" if="{{!isNew}}">
						<paper-button on-click="deleteRoom" id="btnDelete">Удалить</paper-button>
					</template>
				</div>
			</paper-toolbar>
			<div id="formErrors"></div>
			<paper-tabs selected="{{selectedTab}}">
				<paper-tab active>Общая информация</paper-tab>
				<paper-tab disabled="{{isNew}}">Комментарии</paper-tab>
				<paper-tab disabled="{{isNew}}">Фотографии</paper-tab>
			</paper-tabs>
			<iron-pages selected="{{selectedTab}}">
				<div id="generalInfoPage">
					<paper-material class="marged-10 padded-10">
						<div class="layout horizontal start-justified start columns-container">
							<!--general fields-->
							<div>
								<!--created and updated-->
								<template is="dom-if" if="{{!isNew}}">
									<div class="layout horizontal center justified">
										<div class="orders-times" style="padding-top: 7px;">
											<div><span>Дата создания: </span>{{_getDateString(itemFields.created)}}</div>
											<div><span>Дата изменения: </span>{{_getDateString(itemFields.updated)}}</div>
										</div>
									</div>
								</template>
								<!--сдано-->
								<paper-checkbox auto-validate
																name="leased"
																checked="{{itemFields.leased}}"
								>Сдано
								</paper-checkbox>
								<!--general type-->
								<paper-dropdown-menu auto-validate name="roomType" label="Тип помещения">
									<paper-menu class="dropdown-content" selected="{{itemFields.roomType}}" attr-for-selected="value">
										<template is="dom-repeat" items="{{enumerators.roomType}}">
											<paper-item value="{{item.name}}">
												{{item.title}}
											</paper-item>
										</template>
									</paper-menu>
								</paper-dropdown-menu>
								<!--info-->
								<paper-textarea
										name="info"
										label="Описание"
										value="{{itemFields.info}}"
										onInput="this.invalid = false"
								></paper-textarea>
								<!--floor #-->
								<paper-input name="floorNumber" type="number" label="Этаж"
														 value="{{itemFields.floorNumber}}" auto-validate></paper-input>
								<!--square-->
								<div class="layout horizontal start-justified end">
									<div>
										<paper-input step="0.01" auto-validate name="square" type="number" label="Площадь"
																 value="{{itemFields.square}}"></paper-input>
									</div>
									<div class="measureText">&nbsp;&nbsp;<span>кв.м</span></div>
								</div>
								<!--ceilingHeight-->
								<div class="layout horizontal start-justified end">
									<div>
										<paper-input step="0.01" auto-validate name="ceilingHeight" type="number" label="Высота потолков"
																 value="{{itemFields.ceilingHeight}}"></paper-input>
									</div>
									<div class="measureText">&nbsp;&nbsp;<span>м</span></div>
								</div>
								<!--pricePerSquareMeter and price type-->
								<div class="layout horizontal start-justified start">
									<div>
										<div class="layout horizontal start-justified end">
											<div>
												<paper-input auto-validate name="pricePerSquareMeter" type="number" label="Цена за кв.м."
																		 value="{{itemFields.pricePerSquareMeter}}"></paper-input>
											</div>
											<div class="measureText">&nbsp;&nbsp;<span>руб</span></div>
										</div>
									</div>
									<template is="dom-if" if="{{isShowPriceType}}">
										<div>
											<paper-dropdown-menu auto-validate name="priceType" label="Период">
												<paper-menu class="dropdown-content" selected="{{itemFields.priceType}}"
																		attr-for-selected="value">
													<template is="dom-repeat" items="{{enumerators.priceType}}">
														<paper-item value="{{item.name}}">
															{{item.title}}
														</paper-item>
													</template>
												</paper-menu>
											</paper-dropdown-menu>
										</div>
									</template>
								</div>
								<!--shareble and min square-->
								<h3 class="mini-label">Помещения</h3><br>
								<paper-checkbox name="shareable" checked="{{itemFields.shareable}}" style="padding: 0;">Разделяемая площадь</paper-checkbox>
								<template is="dom-if" if="{{itemFields.shareable}}">
									<paper-input
											name="minimalPart"
											label="Мин. площадь помещения"
											value="{{itemFields.minimalPart}}"
											type="number"
											min="0"
											oninput="this.invalid = false"
									>
										<div suffix> м.</div>
									</paper-input>
								</template>
							</div>
							<!--bundable fields-->
							<div>
								<template is="dom-if" if="{{isOffice}}">
									<!--roomPlanType-->
									<paper-dropdown-menu auto-validate name="roomPlanType" label="Тип планировки">
										<paper-menu class="dropdown-content" selected="{{itemFields.roomPlanType}}"
																attr-for-selected="value">
											<template is="dom-repeat" items="{{enumerators.roomPlanType}}">
												<paper-item value="{{item.name}}">
													{{item.title}}
												</paper-item>
											</template>
										</paper-menu>
									</paper-dropdown-menu>
									<!--roomCondition-->
									<paper-dropdown-menu auto-validate name="roomCondition" label="Состояние помещения">
										<paper-menu class="dropdown-content" selected="{{itemFields.roomCondition}}"
																attr-for-selected="value">
											<template is="dom-repeat" items="{{enumerators.roomCondition}}">
												<paper-item value="{{item.name}}">
													{{item.title}}
												</paper-item>
											</template>
										</paper-menu>
									</paper-dropdown-menu>
									<!--windowType-->
									<paper-dropdown-menu auto-validate name="windowType" label="Тип окон">
										<paper-menu class="dropdown-content" selected="{{itemFields.windowType}}" attr-for-selected="value">
											<template is="dom-repeat" items="{{enumerators.windowType}}">
												<paper-item value="{{item.name}}">
													{{item.title}}
												</paper-item>
											</template>
										</paper-menu>
									</paper-dropdown-menu>
									<!--withFurniture-->
									<paper-checkbox auto-validate
																	name="withFurniture"
																	checked="{{itemFields.withFurniture}}"
									>Наличие мебели
									</paper-checkbox>
								</template>
								<template is="dom-if" if="{{isStock}}">
									<!--dedicatedElectricPower-->
									<div class="layout horizontal start-justified end">
										<div>
											<paper-input
													name="dedicatedElectricPower"
													type="number"
													label="Эл. мощность"
													value="{{itemFields.dedicatedElectricPower}}"
													auto-validate></paper-input>
										</div>
										<div class="measureText">&nbsp;&nbsp;<span>КВт</span></div>
									</div>
									<!--<paper-dropdown-menu auto-validate name="dedicatedElectricPower" label="Эл. мощность">
										<paper-menu class="dropdown-content" selected="{{itemFields.dedicatedElectricPower}}"
																attr-for-selected="value">
											<template is="dom-repeat" items="{{enumerators.dedicatedElectricPower}}">
												<paper-item value="{{item.name}}">
													{{item.title}}
												</paper-item>
											</template>
										</paper-menu>
									</paper-dropdown-menu>-->
									<!--heatType-->
									<paper-dropdown-menu auto-validate name="heatType" label="Тип отопления">
										<paper-menu class="dropdown-content" selected="{{itemFields.heatType}}"
																attr-for-selected="value">
											<template is="dom-repeat" items="{{enumerators.heatTypes}}">
												<paper-item value="{{item.name}}">
													{{item.title}}
												</paper-item>
											</template>
										</paper-menu>
									</paper-dropdown-menu>
									<!--rampantAvailable-->
									<paper-checkbox auto-validate
																	name="rampantAvailable"
																	checked="{{itemFields.rampantAvailable}}"
									>Наличие пандуса
									</paper-checkbox>
								</template>
							</div>
						</div>
						<div class="realty-comment">
							<h3>Комментарий к объекту: </h3>
							<p>{{realtyComment}}</p></div>
					</paper-material>
				</div>
				<div>
					<template is="dom-if" if="{{!isNew}}">
						<paper-material class="marged-10 padded-10">
							<div class="comments">
								<div class="tools cardHead">
									<h3>Комментарий</h3>
									<span class="manage">
                                        <span
																						on-click="commentsAll">История изменений</span>
                                    </span>
									<!--<paper-icon-button title="Развернуть" class="h3-icon" icon="icons:expand-less"
																		 on-click="collapseBlock"></paper-icon-button>-->
								</div>
								<iron-collapse class="comments-container" opened>
									<div class="layout horizontal justified add-comment-container">
										<paper-textarea on-input="commentInput"
																		onInput="this.invalid = false"
																		value="{{lastComment.comment}}"
																		id="lastCommentText"
																		class="padded-10"></paper-textarea>
										<paper-button on-click="addComment" id="btnEditComment" disabled>Изменить комментарий</paper-button>
									</div>
									<template is="dom-if" if="{{lastComment.author.name}}">
										<div class="description" style="padding-top: 10px">
											<div class="assignee">{{lastComment.author.name}}</div>
											<div class="date">{{_getDateString(lastComment.created)}}</div>
										</div>
									</template>
									<template is="dom-repeat" items="{{itemFields.comments}}" as="comment">
										<div class="comment-item">
											<paper-textarea disabled class="text" value="{{comment.comment}}"></paper-textarea>
											<div class="description">
												<div class="assignee">{{comment.author.name}}</div>
												<div class="date">{{_getDateString(comment.created)}}</div>
											</div>
										</div>
										<div class="clear"></div>
									</template>
								</iron-collapse>
							</div>
						</paper-material>
					</template>
				</div>
				<div id="photosPage">
					<paper-material class="marged-10 padded-10">
						<images-upload
								label="Фотографии помещения"
								id="imagesUploader"
								accept="image/*"
								multi="true"
								droppable="false"
								target="{{imagesUrls.uploadRoom}}"
								drop-text="Перетащите файлы в эту область"
								value="{{itemFields.images}}"
								name="images"
								is-admin="1"
						></images-upload>
					</paper-material>
				</div>
			</iron-pages>
		</paper-header-panel>
	</template>
	<script>
		Polymer({
			is                : "room-form",
			properties        : {
				urls           : Object,
				itemFields     : {
					type : Object,
					value: {
						//general
						id                    : 0,
						//general type
						roomType              : 'office',
						//сдано
						leased: false,
						//общая информация
						info                  : '',
						//id объекта
						realty                : 0,
						//№ этажа
						floorNumber           : 0,
						//площадь
						square                : 0,
						//высота потолков
						ceilingHeight         : 0,
						//цена за кв. метр
						pricePerSquareMeter   : 0,
						//разделяемое
						shareable : false,
						//стоимость
						totalPrice            : 0,
						//тип цены
						priceType             : 'month',
						//office
						//мебель
						withFurniture         : 0,
						//тип планировки
						roomPlanType          : 'coridor',
						//состояние
						roomCondition         : 'office',
						//тип окон
						windowType            : 'typical',
						//stock
						//отопление
						heatType              : null,
						//выделенная эл. мощность
						dedicatedElectricPower: 0,
						//наличие пандуса
						rampantAvailable      : 0
					}
				},
				enumerators    : {
					type : Object,
					value: {
						roomType              : [
							{
								name : 'office',
								title: 'Офис'
							},
							{
								name : 'stock',
								title: 'Склад'
							}
						],
						priceType             : [
							{
								name : 'month',
								title: 'В месяц'
							},
							{
								name : 'year',
								title: 'В год'
							}
						],
						roomPlanType          : [
							{
								name : 'coridor',
								title: 'Коридорная'
							},
							{
								name : 'open',
								title: 'Открытая'
							},
							{
								name : 'mixed',
								title: 'Смешанная'
							}
						],
						roomCondition         : [
							{
								name : 'office',
								title: 'Офисная отделка'
							},
							{
								name : 'clean',
								title: 'Под чистовую отделку'
							},
							{
								name : 'capital',
								title: 'Требуется кап. ремонт'
							},
							{
								name : 'cosmetic',
								title: 'Требуется косм. ремонт'
							}
						],
						windowType            : [
							{
								name : 'typical',
								title: 'Обычные'
							},
							{
								name : 'panoram',
								title: 'Панорамные'
							},
							{
								name : 'pit',
								title: 'В приямках'
							},
							{
								name : 'without',
								title: 'Без окон'
							}
						],
						dedicatedElectricPower: [
							{
								name : 220,
								title: '220 В'
							},
							{
								name : 380,
								title: '380 В'
							}
						],
						heatTypes: [
							{
								name : 'heated',
								title: 'Отапливаемое'
							},
							{
								name : 'warmed',
								title: 'Утепленное'
							},
							{
								name : 'cold',
								title: 'Холодное'
							},
							{
								name : 'open',
								title: 'Открытая площадка,'
							},
							{
								name : 'refrigerator',
								title: 'Холодильник'
							}
						]
					}
				},
				isNew          : Boolean,
				selectedTab    : {
					type : Number,
					value: 0
				},
				isOffice       : {
					type    : Number,
					computed: 'getIsOffice(itemFields.roomType)'
				},
				isStock        : {
					type    : Number,
					computed: 'getIsStock(itemFields.roomType)'
				},
				requester      : Number,
				imagesUrls     : Object,
				lastComment    : {
					type : String,
					value: ''
				},
				isShowPriceType: {
					type    : Number,
					computed: 'getIsShowPriceType(itemFields.realty)'
				},
				entityRoute    : String,
				realtyComment  : {
					type    : String
				}
			},
			behaviors         : [FormBehavior],
			local             : function (string, context) {
				if (typeof context == 'undefined')
					return Drupal.t(string);
				else return Drupal.t(string, {}, {context: context});
			},
			_getDateString    : function (dateVal) {
				var dat = new Date(1000 * dateVal);
				var options = {
					month : 'long',
					day   : 'numeric',
					hour  : 'numeric',
					minute: 'numeric'
				};
				return dat.toLocaleString('ru', options)
			},
			ready             : function () {

			},
			open              : function (itemId, reopened) {
				if (!reopened) this.set('selectedTab', 0);
				if (itemId) this.set('isNew', false);
				else this.set('isNew', true);
				//clear form errors
				this.$.formErrors.innerHTML = '';
				$(this.id + ' *[name]').each(function () {
					if (typeof this.set === 'function') this.set('invalid', false);
					$(this).removeAttr('invalid');
				});

				if (itemId) {
					app.loader.show();
					this.$.getRequester.set('url', this.urls.get + '/' + itemId);
					this.$.getRequester.generateRequest();
					$(this).removeClass('new');
				} else {
					//init new room fields
					this.set('itemFields', {
						//general
						id                    : 0,
						//general type
						roomType              : 'office',
						//сдано
						leased              : false,
						//общая информация
						info                  : '',
						//id объекта
						realty                : 0,
						//№ этажа
						floorNumber           : null,
						//площадь
						square                : null,
						//высота потолков
						ceilingHeight         : null,
						//цена за кв. метр
						pricePerSquareMeter   : null,
						//стоимость
						totalPrice            : 0,
						//тип цены
						priceType             : 'month',
						//office
						//мебель
						withFurniture         : 0,
						//тип планировки
						roomPlanType          : 'coridor',
						//состояние
						roomCondition         : 'office',
						//тип окон
						windowType            : 'typical',
						//stock
						//отопление
						heatType              : null,
						//выделенная эл. мощность
						dedicatedElectricPower: null,
						//наличие пандуса
						rampantAvailable      : 0
					});
					$(this).addClass('new');
					//init requester fields
					if (Object.keys(this.requester).length !== 0) {
						this.set('itemFields.' + this.requester.field, this.requester.entity);
					}
					this.getRealtyComment(this.itemFields.realty);
				}
			},
			getIsOffice       : function (type) {
				return type == 'office';
			},
			getIsStock        : function (type) {
				return type == 'stock';
			},
			isValid           : function () {
				var isValid = true;
				$(this.id + ' input[invalid]').each(function () {
					if ($(this).attr('invalid') != '0')
						isValid = false;
				});
				$(this.id + ' input').each(function () {
					if ($(this).hasClass('invalid'))
						isValid = false;
				});
				return isValid;
			},
			save              : function () {
				var self = this;
				app.loader.show();
				setTimeout(function () {
					/*if (!self.isValid()) {
						app.loader.hide('save-room');
						app.toaster.show('Поля содержат ошибки');
						return;
					}*/
					//save comment
					if (!self.isNew && typeof self.newComment != 'undefined' && self.newComment && self.newComment.trim() != '')
						self.addComment(function () {
						});

					//save form
					//general fields
					var item = {
						roomType           : self.itemFields.roomType,
						leased           : self.itemFields.leased,
						info               : self.itemFields.info,
						floorNumber        : self.itemFields.floorNumber,
						square             : parseFloat(self.itemFields.square),
						ceilingHeight      : parseFloat(self.itemFields.ceilingHeight),
						pricePerSquareMeter: self.itemFields.pricePerSquareMeter,
						images             : self.itemFields.images,
						shareable : (self.itemFields.shareable) ? true : false
					};
					if (item.shareable) item.minimalPart = +self.itemFields.minimalPart;
					//pricetype if ren object
					if (self.isShowPriceType) item.priceType = self.itemFields.priceType;
					//room realty
					item.realty = self.itemFields.realty.id;
					//bundleble fields
					switch (self.itemFields.roomType) {
						case 'office':
							var fields = {
								withFurniture: (self.itemFields.withFurniture) ? true : false,
								roomPlanType : self.itemFields.roomPlanType,
								roomCondition: self.itemFields.roomCondition,
								windowType   : self.itemFields.windowType
							};
							Object.assign(item, fields);
							break;
						case 'stock':
							var fields = {
								heatType              : self.itemFields.heatType,
								dedicatedElectricPower: self.itemFields.dedicatedElectricPower,
								rampantAvailable      : (self.itemFields.rampantAvailable) ? true : false
							};
							Object.assign(item, fields);
							break;
					}
					self.$.putRequester.set('body', JSON.stringify(item));
					self.$.putRequester.set('contentType', 'application/json');
					self.$.putRequester.set('method', 'put');
					self.$.putRequester.set('url', self.urls.put + ((self.isNew) ? '' : ('/' + self.itemFields.id)));
					self.$.putRequester.generateRequest();
				}, 300);
			},
			handlePutResponse : function (e) {
				app.loader.hide();
				var data = e.detail.response;
				var status = e.detail.status;
				switch (status) {
						//item added
					case 201:
//						app.addItem('rooms', data);
						app.toaster.show('Помещение добавлено');
						app.openForm('room-form', 0, data.id, null, 1);
						this.$.formErrors.innerHTML = '';
						break;
						//item edited
					case 200:
//						app.editItem('rooms', data);
						app.toaster.show('Помещение изменено');
						app.openForm('room-form', 0, data.id, null, 1);
						this.$.formErrors.innerHTML = '';
						break;
					default:
						app.toaster.show('Неизвестная ошибка сервера');
						break;
				}
			},
			handleGetResponse : function (e) {
				var data = e.detail.response;
				this.set('itemFields', data);

				var adrString = this.itemFields.realty.address.country + ', ' + this.itemFields.realty.address.region + ', ' + this.itemFields.realty.address.city;
				if (this.itemFields.realty.address.street != null) adrString += ', ' + this.itemFields.realty.address.street;
				if (this.itemFields.realty.address.building != null) adrString += ', ' + this.itemFields.realty.address.building;
				//init comments
				//set last comment
				this.set('lastComment', (data.comments.length) ? data.comments[0] : {});
				this.set('itemFields.comments', []);
				//set caption
				this.set('caption', 'Помещение в "' + adrString + '"');

				app.loader.hide();
				this.getRealtyComment(this.itemFields.realty);
			},
			handleGetError    : function (e, data) {
				app.loader.hide();
				var response = data.request.xhr.response;
				if (!app.checkErrorResponse(response)) return;
			},
			addComment        : function (callback) {
				if (typeof this.lastComment.comment === 'undefined' || !this.lastComment.comment || this.lastComment.comment.trim() == '') {
					this.$$('#lastCommentText').invalid = true;
					this.$$('#lastCommentText').errorMessage = 'Введите комментарий';
					app.toaster.show('Введите текст комментария');
					return;
				}
				var self = this;
				app.addComment('rooms', this.itemFields.id, {
					comment: this.lastComment.comment
				}, function (res) {
					if (res) {
						if (typeof callback == 'function') callback(true);
						self.set('lastComment', res);
						self.$$('#btnEditComment').disabled = true;
						app.toaster.show('Комментарий изменен');
					}
				});
			},
			commentsAll       : function () {
				var self = this;
				app.commentsAll('rooms', this.itemFields.id, function (res) {
					if (res) {
						res.comments.shift();
						self.set('itemFields.comments', res.comments);
					}
				});
			},
			commentInput      : function () {
				this.$$('#btnEditComment').disabled = false;
			},
			getIsShowPriceType: function (realty) {
				if (realty == null || typeof realty !== 'object') return 1;
				return realty.offerTypes[0] == 1;
			},
			deleteRoom        : function () {
				var self = this;
				app.$.yesNoDialog.set('title', 'Удалить помещение?');
				app.$.yesNoDialog.set('content', 'Это действие нельзя будет отменить');
				app.$.yesNoDialog.open(function (res) {
					if (res) {
						app.loader.show('room-delete');
						$.ajax({
							url    : self.urls.delete + '/' + self.itemFields.id,
							type   : 'delete',
							success: function (data) {
								app.loader.hide('room-delete');
								app.toaster.show('Помещение удалено');
								app.routeBack();
							},
							error  : function () {
								app.loader.hide('room-delete');
								app.toaster.error('Невозможно удалить помещение');
							}
						});
					}
				});
			},
			getRealtyComment  : function (realty) {
				if (!realty || typeof realty === 'undefined') return '-';
				var self = this;
				app.loader.show('get-realty');
				$.ajax({
					url: app.urls.realties.get + '/' + realty.id,
					type: 'GET',
					success: function(data){
						app.loader.hide('get-realty');
						if(data.comments.length){
							self.set('realtyComment', data.comments[0].comment)
						}else{
							return '-';
						}
					},
					error: function(e){
						app.loader.hide('get-realty');
					}
				});
				return $('realty-form')[0].lastComment.comment;
			}
		});
	</script>
</dom-module>