<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="images-slider">
    <style>
        :host{
            position: relative;
        }
        #img{
            width: calc(100% - 10px);
            height: calc(100% - 10px);
        }
        .controls-cont{
            /*width: 100%;*/
            /*height: 100%;*/
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9;
            transition: opacity 0.5s ease;
        }

        :host:hover .controls-cont {
            opacity: 1;
        }
        .controls-cont paper-icon-button{
            width: 40px !important;
            height: 40px !important;
            color: #fff;
            padding: 0;
        }
        .image-cont{
            width: 100%;
            height: 100%;
        }
    </style>
    <template>
        <div class="controls-cont layout horizontal justified center">
            <template is="dom-if" if="{{scrollable}}">
                <paper-icon-button icon="icons:chevron-left" on-click="prev">prev</paper-icon-button>
            </template>
            <template is="dom-if" if="{{viewable}}">
                <paper-icon-button icon="av:play-arrow" on-click="play"></paper-icon-button>
            </template>
            <template is="dom-if" if="{{scrollable}}">
                <paper-icon-button icon="icons:chevron-right" on-click="prev">next</paper-icon-button>
            </template>
        </div>
        <div class="image-cont">
            <iron-image class="cur-image" src="{{curSrc}}" id="img" sizing="cover"></iron-image>
        </div>
    </template>
    <script>
        Polymer({
            is: "images-slider",
            properties: {
                images: {
                    type: Array,
                    observer: 'imagesChanged'
                },
                scrollable: Boolean,
                viewable: Boolean,
                curSrc: String,
                curIndex: {
                    type: Number,
                    value: 0,
                    observer: 'curIndexChanged'
                }
            },
            ready: function(){
            },
            imagesChanged: function(newVal, oldVal){
                $(this.$$('.controls-cont')).css('height', '150px');
                $(this.$$('.controls-cont')).css('width', '150px');
                if(typeof newVal == 'undefined') return;

                if(!newVal.length || newVal.length == 1) this.set('scrollable', false);
                else this.set('scrollable', true);

                this.set('viewable', newVal.length);

                if(this.viewable){
                    this.set('curSrc', newVal[0].thumbnails.w150);
                }else{
                    this.set('curSrc', '/img/no_photo.png');
                }
            },
            curIndexChanged: function(newVal, oldVal){
                if(Array.isArray(this.images) && this.images.length)
                    this.set('curSrc', this.images[newVal].thumbnails.w150)
            },
            prev: function(e){
                e.stopPropagation();
                if(!this.curIndex) this.set('curIndex', this.images.length - 1);
                else this.set('curIndex', this.curIndex - 1);
            },
            next: function(e){
                e.stopPropagation();
                if(this.curIndex == this.images.length - 1) this.set('curIndex', 0);
                else this.set('curIndex', this.curIndex + 1);
            },
            play: function(e){
                e.stopPropagation();
                var collection = [];
                this.images.forEach(function(img, img_i, img_arr){
                    collection.push({
                        type: 'image',
                        src: img.path
                    })
                });
                app.imgViewer.open(collection, this.curIndex);
            }
        });
    </script>
</dom-module>