<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="orders-section">
  <style>
    .search-list-header > div {
      width           : 16.66% !important;
      display         : flex;
      justify-content : space-between;
      align-items     : flex-end;
    }

    .stateBody.open {
      color : #03A9F4
    }

    .stateBody.closed {
      color : #4CAF50
    }

    .stateBody.rejected {
      color : #DB4437
    }
  </style>
  <template>
    <iron-ajax
        id="requester"
        url="{{urls.list}}"
        handle-as="json"
        on-response="handleResponse"
        on-error="handleError"
        ></iron-ajax>
    <paper-header-panel main mode="waterfall">
      <paper-toolbar>
        <paper-icon-button class="drawer-menu drawer-toggle" icon="menu"
                           paper-drawer-toggle></paper-icon-button>
        <div class="title">{{caption}}</div>
        <multi-dropdown
            id="purposes"
            items="{{realtyPurposes}}"
            on-change="purposesChanged"
            icon="icons:filter-list"
            ></multi-dropdown>
        <div id="fabsSection">
          <template is="dom-if" if="{{isAdmin}}">
            <paper-fab id="addItemFab" title="Добавить заявку" icon="add" on-click="addItem"></paper-fab>
          </template>
        </div>
      </paper-toolbar>
      <paper-material class="marged-10">
        <div class="search-list-header">
          <!--index-->
          <div>
            <paper-input
                class="filterField"
                name="id"
                type="search"
                label="Номер"
                on-change="filterChanged"></paper-input>
            <div class="sorter">
              <iron-icon
                  for="id"
                  direction="asc"
                  icon="icons:expand-more"
                  on-click="sortChanged"></iron-icon>
            </div>
          </div>
          <!--counterparty-->
          <div>
            <paper-input
                class="filterField"
                name="counterparty"
                type="search"
                label="Клиент"
                on-change="filterChanged"></paper-input>
            <div class="sorter">
              <iron-icon
                  for="counterparty"
                  direction="asc"
                  icon="icons:expand-more"
                  on-click="sortChanged"></iron-icon>
            </div>
          </div>
          <!--assignee-->
          <div>
            <paper-input
                class="filterField"
                name="assignee"
                type="search"
                label="Сотрудник"
                on-change="filterChanged"></paper-input>
            <div class="sorter">
              <iron-icon
                  for="assignee"
                  direction="asc"
                  icon="icons:expand-more"
                  on-click="sortChanged"></iron-icon>
            </div>
          </div>
          <!--status-->
          <div>
            <paper-dropdown-menu class="filterField" name="state" id="cpTypeFilter" label="Статус"
                                 class="toolbar-dropdown">
              <paper-menu class="dropdown-content" selected="{{statusFilter}}" attr-for-selected="value">
                <paper-item value="" class="stateBody">Всё</paper-item>
                <template is="dom-repeat" items="{{orderStates}}" as="status">
                  <paper-item value="{{status.name}}" class$="{{status.name}} stateBody">
                    {{status.title}}
                  </paper-item>
                </template>
              </paper-menu>
            </paper-dropdown-menu>
            <div class="sorter">
              <iron-icon
                  for="state"
                  direction="asc"
                  icon="icons:expand-more"
                  on-click="sortChanged"></iron-icon>
            </div>
          </div>
          <!--created-->
          <div>
            <date-range-picker
                class="filterField"
                name="created"
                label="Дата создания"
                on-change="filterChanged"></date-range-picker>
            <div class="sorter">
              <iron-icon
                  for="created"
                  direction="asc"
                  icon="icons:expand-more"
                  on-click="sortChanged"></iron-icon>
            </div>
          </div>
          <!--updated-->
          <div>
            <date-range-picker
                class="filterField"
                name="updated"
                label="Дата обновления"
                on-change="filterChanged"></date-range-picker>
            <div class="sorter">
              <iron-icon
                  for="updated"
                  direction="asc"
                  icon="icons:expand-more"
                  on-click="sortChanged"></iron-icon>
            </div>
          </div>
        </div>
        <vaadin-grid id="grid" style="height: calc(100vh - 159px)" on-selected-items-changed="selectionChanged">
          <!--<table>
            <colgroup>
              <col name="id"/>
              <col name="counterparty.name"/>
              <col name="assignee.name"/>
              <col name="state"/>
              <col name="created"/>
              <col name="updated"/>
            </colgroup>
          </table>-->
        </vaadin-grid>
      </paper-material>
    </paper-header-panel>
  </template>
  <script>
    Polymer({
      is                 : "orders-section",
      behaviors          : [/*Polymer.NeonAnimatableBehavior, */SectionBehavior],
      properties         : {
        sorting       : {
          type : Object,
          value: {
            par      : 'id',
            direction: 'asc'
          }
        },
        filtering     : {
          type : Array,
          value: [
            {
              par  : "id",
              value: ""
            },
            {
              par  : "counterparty",
              value: ""
            },
            {
              par  : "assignee",
              value: ""
            },
            {
              par  : "created",
              value: {
                min: 0,
                max: 0
              }
            },
            {
              par  : "updated",
              value: {
                min: 0,
                max: 0
              }
            },
            {
              par  : "offerType",
              value: 1
            }
          ]
        },
        orderStates   : Array,
        statusFilter  : {
          type    : String,
          value   : "",
          observer: 'statusFilterChanged'
        },
        bundleProperty: {
          type : String,
          value: 'offerType'
        },
        realtyPurposes: Array
      },
      ready              : function () {
        var self = this;
        var grid = this.$$('#grid');
        grid.columns = [
          {name: 'id'},
          {name: 'counterparty.name'},
          {name: 'assignee.name'},
          {name: 'state'},
          {name: 'created'},
          {name: 'updated'}
        ];
        grid.columns[0].renderer = function (cell) {
          cell.element.innerHTML = '#' + cell.data;
        };
        grid.columns[3].renderer = function (cell) {
          cell.element.innerHTML = self.getStateName(cell.data);
        };
        grid.columns[4].renderer = function (cell) {
          cell.element.innerHTML = self._getDateString(cell.data);
        };
        grid.columns[5].renderer = function (cell) {
          cell.element.innerHTML = self._getDateString(cell.data);
        };
      },
      statusFilterChanged: function (newVal, oldVal) {
        if (typeof oldVal == 'undefined') return;

        this.refresh();
      },
      //generate and send request
      sendDataRequest    : function (params, callback) {
      	app.addLoading('orders');
//                app.loader.show('orders-section');
        var self = $('orders-section')[0];
        var state = self.statusFilter;
        var requestParams = {
          offset : (params) ? params.index : 0,
          amount : (params) ? params.count : 0,
          orderBy: self.sorting.par,
          order  : self.sorting.direction,
          state  : state
        };
        self.filtering.forEach(function (filter, filter_ind, filter_arr) {
          requestParams[filter.par] = filter.value;
        });
        $('orders-section .search-list-header date-range-picker').each(function () {
          var vals = this.value;
          if (typeof vals == 'undefined') {
            requestParams[$(this).attr('name') + '.min'] = 0;
            requestParams[$(this).attr('name') + '.max'] = 0;
          } else {
            requestParams[$(this).attr('name') + '.min'] = vals.min;
            requestParams[$(this).attr('name') + '.max'] = vals.max;
          }
        });
        requestParams['purposes'] = self.$$('#purposes').value;
        self.getJSON(self.urls.list, requestParams, function (json) {
					app.removeLoading('orders');
          if (callback) callback(json.result, json.size);
        });
      },
      purposesChanged    : function (e, o) {
        this.refresh();
      }
    });
  </script>
</dom-module>