<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="order-suggests">
	<style>
		.address, .updated, .phones {
			font-size : 8pt;
		}

		.updated, .comment, .phones {
			color : #808080;
		}

		.status-menu {
			font-size : 12pt;
			width     : 150px;
			max-width : 150px;
		}

		.search-list-header div {
			display         : flex;
			justify-content : space-between;
			align-items     : flex-end;
		}

		.state {
			width : 150px;
		}

		paper-material {
			max-height : 600px;
		}

		.list-items-container {
			max-height : 516px !important;
		}

		.roomBtn{
			padding: 2px;
			font-size: 11px;
			margin: 0;
			margin-left: 2px;
			margin-bottom: 2px;
		}
		.roomBtn.leased{
			color: #fff;
			background-color: #888;
		}
		.rooms-container{
			max-height: 18px;
			overflow-y: auto;
		}
		.roomBtn.addRoomBtn{
			min-width: 18px;
			height: 15px;
			background-color: #3F51B5;
		}
		.addRoomBtnIcon{
			height: 10px;
			color: white;
			width: 10px;
		}
	</style>
	<template>
		<iron-ajax
				id="requester"
				url="{{urls.list}}"
				handle-as="json"
				on-response="handleResponse"
				on-error="handleError"
		></iron-ajax>
		<iron-ajax
				id="actionsRequester"
				method="POST"
				handle-as="json"
				on-response="handleActionsResponse"
				on-error="handleActionsError"
				content-type="application/json"
		></iron-ajax>
		<iron-ajax
				id="updateRequester"
				method="GET"
				handle-as="json"
				on-response="handleUpdateResponse"
				on-error="handleActionsError"
				content-type="application/json"
		></iron-ajax>
		<paper-material class="marged-10">
			<div class="layout horizontal justified center padded-10">
				<h3>Подобранные объекты: {{suggestsCount}}</h3>
				<div class="layout horizontal end">
					<paper-dropdown-menu class="filterField" name="suitability" id="suitabilityFilter" label="Тип подбора">
						<paper-menu class="dropdown-content" selected="{{suitabilityFilter}}" attr-for-selected="value">
							<paper-item value="">Всё</paper-item>
							<template is="dom-repeat" items="{{suitabilityTypes}}" as="suitability">
								<paper-item value="{{suitability.name}}" class$="stateBody">{{suitability.title}}</paper-item>
							</template>
						</paper-menu>
					</paper-dropdown-menu>
						<div id="roomFilterContainer">
							<rooms-filter on-apply-filter="roomFilterChanged"></rooms-filter>
						</div>
				</div>
			</div>
			<iron-collapse opened>
				<div class="search-list-header">
					<!--address-->
					<div class="">
						<paper-input
								class="filterField"
								name="address"
								type="search"
								label="Адрес"
								on-change="filterChanged">
							<div prefix>
								<iron-icon icon="icons:search"></iron-icon>
							</div>
						</paper-input>
						<div class="sorter">
							<iron-icon
									for="address"
									class="active"
									direction="asc"
									icon="icons:expand-more"
									on-click="sortChanged"></iron-icon>
						</div>
					</div>
					<div>
						<paper-input
								class="filterField"
								name="phone"
								type="search"
								label="Номер телефона"
								on-change="filterChanged">
							<div prefix>
								<iron-icon icon="icons:search"></iron-icon>
							</div>
						</paper-input>
					</div>
					<!--fullInfo-->
					<div class="fullInfo">
						<paper-input
								class="filterField"
								name="fullInfo"
								type="search"
								label="Информация об объекте"
								on-change="filterChanged">
							<div prefix>
								<iron-icon icon="icons:search"></iron-icon>
							</div>
						</paper-input>
					</div>
					<!--status-->
					<div class="state">
						<paper-dropdown-menu class$="{{stateFilter}} filterField" name="state" id="stateFilter" label="Состояние"
																 class="toolbar-dropdown">
							<paper-menu class="dropdown-content" selected="{{stateFilter}}" attr-for-selected="value">
								<paper-item value="">Всё</paper-item>
								<template is="dom-repeat" items="{{types}}" as="status">
									<paper-item value="{{status.name}}" class$="{{status.name}} stateBody">{{status.title}}</paper-item>
								</template>
							</paper-menu>
						</paper-dropdown-menu>
						<div class="sorter">
							<iron-icon
									for="state"
									direction="asc"
									icon="icons:expand-more"
									on-click="sortChanged"></iron-icon>
						</div>
					</div>
				</div>
				<div class="list-items-container" id="suggestsContainer">
					<iron-data-table id="dataTable"
													 items="[[dataArray]]"
													 selection-enabled
													 id="suggestionsDataTable"
													 on-selected="handleItemClick">
						<data-table-column name="info">
							<template>
								<div class="cell-container layout horizontal">
									<div class="stater">
									</div>
									<div class="photo">
										<images-slider images="[[item.realty.images]]"></images-slider>
									</div>
									<div class="info layout vertical">
										<div class="main-info layout horizontal">
											<div class="layout vertical justified">
												<div class="address">
													<h3 class="mini-label">Адрес:</h3><br>
													[[item.realty.address]]
												</div>
												<div class="owner">
													<h3 class="mini-label">Собственник:</h3><br>
													[[item.realty.counterparty.name]]
												</div>
												<div class="rooms">
													<h3 class="mini-label">Помещения:</h3><br>
													<div class="rooms-container">
														<!--<paper-button title="Добавить помещение к объекту" raised class="roomBtn addRoomBtn" on-click="addRoom"><iron-icon icon="add" class="addRoomBtnIcon"></iron-icon></paper-button>-->
														<template is="dom-repeat" items="{{item.realty.rooms}}">
															<paper-button raised class$="roomBtn {{getRoomClass(item.leased)}}" itemId$="{{item.id}}" on-click="openRoom">{{item.square}} м<sup>2</sup></paper-button>
														</template>
													</div>
												</div>
											</div>
										</div>
										<div class="realty-comment-container">
											<div class="realty-comment layout horizontal center-justified end">
												<paper-textarea
														no-label-float
														readonly
														label="Комментарий к объекту"
														value="{{item.comment.comment}}"
												></paper-textarea>
												<template is="dom-if" if="1">
													<iron-icon
															class="show-all-comment"
															icon="image:remove-red-eye"
															on-mouseover="showComment"
															on-mouseout="hideComment"
															data-args$="{{item.comment.comment}}"
													></iron-icon>
												</template>
												<paper-icon-button comment$="{{item.comment.comment}}" class="edit-realty-comment-btn"
																					 realty$="[[item.realty.id]]" rowindex$="{{index}}" toggles
																					 icon="icons:create" on-click="editRealtyComment"></paper-icon-button>
											</div>
											<template is="dom-if" if="{{item.comment.author.name}}">
												<div class="realty-comment-info layout horizontal justified end">
													<div class="author">{{item.comment.author.name}}</div>
													<div class="date">{{_getDateString(item.comment.created)}}</div>
												</div>
											</template>
										</div>
									</div>
								</div>
							</template>
						</data-table-column>
						<data-table-column name="Phones" width="120px" flex="0">
							<template>
								<h3 class="mini-label">
								<iron-icon icon="communication:phone"></iron-icon>
								Объекта:
								</h3>
								<template is="dom-repeat" items="[[item.phones]]" as="phone">
									[[phone]]
								</template>
								<h3 class="mini-label">
									<iron-icon icon="communication:phone"></iron-icon>
									Собственника:
								</h3>
								<template is="dom-repeat" items="[[item.realty.counterparty.phones]]" as="phone">
									[[phone]]
								</template>
							</template>
						</data-table-column>
						<data-table-column name="Status" width="200px" flex="0">
							<template>
								<h3 class="mini-label">Состояние</h3>
								<select rowindex$="{{index}}"
												value="{{item.state}}"
												class$="{{item.state}} suggestStateSelect"
												suggest$="[[item.id]]"
												on-change="statusChanged">
									<template is="dom-repeat" items="[[types]]" as="state">
										<option value="[[state.name]]">[[state.title]]</option>
									</template>
								</select>

								<div class="suggest-comment layout horizontal center-justified end">
									<paper-textarea
											no-label-float
											disabled
											label="Комментарий"
											value="{{item.stateComment.comment}}"
									></paper-textarea>
									<paper-icon-button purpose$="[[item.id]]" rowindex$="{{index}}" toggles icon="icons:create"
																		 on-click="editSuggestComment"></paper-icon-button>
								</div>
								<template is="dom-if" if="{{item.stateComment}}">
									<div class="suggest-comment-info layout vertical center-justified end">
										<div class="author">{{item.stateComment.author.name}}</div>
										<div class="date">{{_getDateString(item.stateComment.created)}}</div>
									</div>
								</template>
							</template>
						</data-table-column>
					</iron-data-table>
				</div>
			</iron-collapse>
		</paper-material>
		<paper-dialog id="suggestStateCommentDialog"
									modal
									always-on-top
									entry-animation="fade-in-animation"
									exit-animation="fade-out-animation"
									on-iron-overlay-opened="patchOverlay">
			<h2>Введите комментарий</h2>
			<paper-textarea
					id="commentDialogField"
					label="Текст комментария"
					onInput="this.invalid = false"></paper-textarea>
			<div class="buttons">
				<paper-button dialog-dismiss>Отмена</paper-button>
				<paper-button dialog-confirm>Сохранить</paper-button>
			</div>
		</paper-dialog>
	</template>
	<script>
		Polymer({
			is                      : "order-suggests",
			properties              : {
				urls                 : Object,
				orderId              : {
					type    : Number,
					observer: 'orderIdChanged'
				},
				dataArray            : {
					type    : Array,
					observer: 'itemsChanged'
				},
				types                : {
					type : Array,
					value: [
						{
							name : 'unprocessed',
							title: 'Не обработано'
						},
						{
							name : 'compatible',
							title: 'Подходит'
						},
						{
							name : 'incompatible',
							title: 'Не подходит'
						},
						{
							name : 'pending',
							title: 'Не дозвонились'
						},
						{
							name : 'processing',
							title: 'Уточняется'
						},
					]
				},
				suitabilityTypes     : {
					type : Array,
					value: [
						{
							name : 'excellent',
							title: 'Объекты с помещениями'
						},
						{
							name : 'shareable',
							title: 'Разделяемые объекты'
						},
						{
							name : 'bytotalsquare',
							title: 'По площадям на этаже'
						},
						{
							name : 'byplace',
							title: 'Остальные объекты области'
						}
					]
				},
				stateFilter          : {
					type    : String,
					value   : "",
					observer: "stateFilterChanged"
				},
				suitabilityFilter    : {
					type    : String,
					value   : "",
					observer: "suitabilityFilterChanged"
				},
				isExcelentSuitability: {
					type: Number,
				},
				filtering            : {
					type : Array,
					value: [
						{
							par  : "state",
							value: ""
						},
						{
							par  : "fullInfo",
							value: ""
						},
						{
							par  : "address",
							value: ""
						},
						{
							par  : "phone",
							value: ""
						},
						{
							par  : "suitability",
							value: ""
						}
					]
				},
				roomFilter           : {
					type : Object,
					value: null
				},
				sorting              : {
					type : Object,
					value: {
						par      : 'address',
						direction: 'asc'
					}
				},
				suggestsCount        : {
					type: Number
				},
				isAdmin              : Boolean,
				itemClicker          : {
					type : Object,
					value: {
						last   : 0,
						clicked: false,
						timeout: {}
					}
				},
				lastRowComment       : Number
			},
			_getDateString          : function (dateVal) {
				var dat = new Date(1000 * dateVal);
				var options = {
					month : 'long',
					day   : 'numeric',
					hour  : 'numeric',
					minute: 'numeric'
				};
				return dat.toLocaleString('ru', options)
			},
			handleResponse          : function (e) {
				app.loader.hide('order-suggests');
				var data = e.detail.response;
				if (typeof this.dataArray == 'undefined')
					this.dataArray = new Array;
				if (data.proposals.length) {
					this.$$('iron-data-table').clearCache();
					this.set('dataArray', data.proposals);
					var placemarks = [];
					data.proposals.forEach(function (place, place_i, place_arr) {
						placemarks.push({
							suggestId: place.id,
							coords   : [
								place.realty.location.lon,
								place.realty.location.lat,
							],
							address  : place.realty.address,
							info     : place.realty.info,
							created  : place.realty.created,
							updated  : place.realty.updated,
							comment  : (place.comment) ? place.comment.comment : '',
							state    : place.state,
							name     : place.realty.name,
							phones   : place.phones,
							owner    : place.realty.counterparty,
							purposes : place.realty.purposes,
							id       : place.realty.id
						})
					});
					this.fire('setPlacemarks', placemarks);
					this.fire('proposals-loaded');
				}


				try {
					var scroll = JSON.parse(app.cooconfigs.get('order-suggests-scroll'));
					if (scroll.order == this.orderId) {
						var self = this;
						app.loader.show('order-suggests-init-scroll');
						setTimeout(function () {
							var index = 0;
							self.$.dataTable.items.forEach(function (item, item_i, item_arr) {
								if (item.id == scroll.suggest) {
									index = item_i;
									return;
								}
							});
							app.loader.hide('order-suggests-init-scroll');
							self.$$('iron-data-table').scrollToIndex(index);
							self.$$('iron-data-table').selectItem(index);
						}, 1000);
					}
				} catch (e) {
				}
			},
			handleError             : function (e, data) {
				app.loader.hide('order-suggests');
				var response = data.request.xhr.response;
				if (!app.checkErrorResponse(response)) return;
			},
			orderIdChanged          : function (newVal, oldVal) {
				this.set('dataArray', []);
				if (typeof newVal != 'undefined' && newVal != 0) {
					app.loader.show('order-suggests');
					this.sendDataRequest();
				}
			},
			sendDataRequest         : function () {
				var filterArr = [];
				$(this.id + ' .search-list-header paper-input.filterField').each(function () {
					filterArr.push({
						par  : $(this).attr('name'),
						value: this.value
					});
				});
				this.set('filtering', filterArr);
				var requestParams = {
					orderBy    : this.sorting.par,
					order      : this.sorting.direction,
					state      : this.stateFilter,
					suitability: this.suitabilityFilter,
					amount     : 0
				};
				//attach room filter
				for (var propertyName in this.roomFilter) {
					if (typeof this.roomFilter[propertyName] == 'object') {
						for (var subPropertyName in this.roomFilter[propertyName]) {
							requestParams['room.' + propertyName + '.' + subPropertyName] = this.roomFilter[propertyName][subPropertyName];
						}
					} else {
						requestParams['room.' + propertyName] = this.roomFilter[propertyName];
					}
				}
				//add general filtering fields
				this.filtering.forEach(function (filter, filter_ind, filter_arr) {
					requestParams[filter.par] = filter.value;
				});
				this.$.requester.set('params', requestParams);
				this.$.requester.set('url', this.urls.list.replace('%id', this.orderId));
				app.loader.show();
				this.$.requester.generateRequest();
			},
			handleItemClick         : function (event, selected) {
				if (!selected || !selected.id) return;
				//save scrollpos
				if (this.itemClicker.last == selected.realty.id && this.itemClicker.clicked) {
					//already clicked
					this.itemClicker.clicked = false;
					clearTimeout(this.itemClicker.timeout);
					var scrollpos = $('order-suggests iron-list')[0].scrollTop;
					app.cooconfigs.set('order-suggests-scroll', JSON.stringify({
						scroll : scrollpos,
						order  : this.orderId,
						suggest: selected.id
					}));
					app.openForm('realty-form', false, selected.realty.id);
				} else {
					//not clicked
					this.itemClicker.last = selected.realty.id;
					this.itemClicker.clicked = true;
					var self = this;
					clearTimeout(this.itemClicker.timeout);
					this.itemClicker.timeout = setTimeout(function () {
						self.itemClicker.clicked = false;
						$('yandex-map-order')[0].accentPlacemark(selected.realty);
					}, 500);
				}
			},
			statusChanged           : function (e, suggest, comment, rowindex) {
				var self = this;
				var newStatus = e.srcElement.value;
				var purpose = (suggest) ? suggest : $(e.srcElement).attr('suggest');
				var row = (rowindex) ? rowindex : $(e.srcElement).attr('rowindex');
				this.set('lastRowComment', row);
				this.set('dataArray.' + row + '.state', newStatus);
				self.$.actionsRequester.set('url', self.urls.state.replace('%id', self.orderId).replace('%rid', purpose));
				self.$.actionsRequester.set('method', 'POST');
				self.$.actionsRequester.set('body', JSON.stringify({
					state: newStatus
				}));
				self.$.actionsRequester.generateRequest();
			},
			handleActionsResponse   : function (e, response) {
				app.toaster.show('Предложение изменено');
				this.$.dataTable.set('items.' + this.lastRowComment + '.stateComment', e.detail.xhr.response.stateComment);
				this.fire('suggest-change', this.$.dataTable.items[this.lastRowComment]);
			},
			handleActionsError      : function (e, data) {
				app.loader.hide();
				var response = data.request.xhr.response;
				if (!app.checkErrorResponse(response)) return;
			},
			filterChanged           : function (e) {
				this.set('dataArray', []);
				//reset offset
				this.sendDataRequest();
			},
			stateFilterChanged      : function (newVal, oldVal) {
				this.set('dataArray', []);
				if (typeof oldVal == 'undefined') return;
				this.sendDataRequest();
			},
			suitabilityFilterChanged: function (newVal, oldVal) {
				this.set('dataArray', []);
				if (typeof oldVal == 'undefined') return;
				this.sendDataRequest();
				if (newVal == 'excellent') this.set('isExcelentSuitability', 1);
				else this.set('isExcelentSuitability', 0);
			},
			roomFilterChanged       : function (e, o) {
				this.set('dataArray', []);
				if (Object.keys(o).length === 0) this.set('roomFilter', null);
				else this.set('roomFilter', o);
				this.sendDataRequest();
			},
			sortChanged             : function (e) {
				this.set('dataArray', []);
				var sorter = e.target;
				//set styles
				$(this.id + ' .sorter iron-icon').each(function () {
					if (this == sorter) {
						if ($(this).hasClass('active')) {
							if ($(this).attr('direction') == 'asc') {
								$(this).attr('direction', 'desc');
								this.icon = 'icons:expand-less';
							} else {
								$(this).attr('direction', 'asc');
								this.icon = 'icons:expand-more';
							}
						} else {
							$(this).addClass('active');
						}
					} else {
						$(this).removeClass('active');
					}
				});
				//set sorting
				this.set('sorting', {
					par      : $(sorter).attr('for'),
					direction: $(sorter).attr('direction')
				});
				//reset offset
				this.set('paging.offset', 0);
				this.sendDataRequest();
			},
			itemsChanged            : function (newVal, oldVal) {
				if (newVal.length) this.set('suggestsCount', newVal.length);
				else this.set('suggestsCount', '');
			},
			clear                   : function () {
				this.set('dataArray', []);
				this.set('suggestsCount', '');
			},
			updateSuggestions       : function () {
				this.$.updateRequester.set('url', this.urls.list.replace('%id', this.orderId) + '/update');
				app.loader.show();
				this.$.updateRequester.generateRequest();
			},
			handleUpdateResponse    : function (e) {
				var data = e.detail.response;
				var status = e.detail.status;
				switch (status) {
						//item edited
					case 200:
						app.toaster.show('Подобранные объекты обновлены');
						app.openForm('order-form', 0, this.orderId, null, 1);
						break;
					default:
						app.toaster.show('Неизвестная ошибка сервера');
						break;
				}
			},
			collapseBlock           : function (e) {
				//collapse
				e.path.forEach(function (par, par_i, par_arr) {
					if (par.tagName == 'PAPER-MATERIAL') {
						var collapser = par.querySelector('iron-collapse');
						collapser.toggle();
					}
				});
				//set icon
				var iconTarget;
				if (e.target.tagName == 'PAPER-ICON-BUTTON') iconTarget = e.target;
				else {
					e.path.forEach(function (par, par_i, par_arr) {
						if (par.tagName == 'PAPER-ICON-BUTTON') {
							iconTarget = par;
						}
					});
				}
				if (iconTarget.icon == 'icons:expand-less') iconTarget.set('icon', 'icons:expand-more');
				else iconTarget.set('icon', 'icons:expand-less');
			},
			getStateComment         : function (comment, callback) {
				this.$.commentDialogField.value = (comment) ? comment : '';
				var self = this;
				this.$.suggestStateCommentDialog.addEventListener('iron-overlay-closed', function (e) {
					e.target.removeEventListener(e.type, arguments.callee);
					//if canceled
					if (!e.detail.confirmed) {
						callback({
							cancelled: true,
							value    : self.$.commentDialogField.value,
							event    : e
						});
						return;
					}
					callback({
						cancelled: false,
						value    : self.$.commentDialogField.value,
						event    : e
					});
				});
				this.$.suggestStateCommentDialog.open();
			},
			editSuggestComment      : function (e, n, o) {
				var self = this;
				var btn = app.getNeededSrc(e, 'PAPER-ICON-BUTTON', 'tag');
				var textarea = app.getNeededSrc(e, 'PAPER-ICON-BUTTON', 'tag').previousElementSibling;
				var select = app.getNeededSrc(e, 'data-table-cell', 'tag').querySelector('select');
				var row = $(btn).attr('rowindex');
				var purpose = $(btn).attr('purpose');

				this.getStateComment(textarea.value, function (e) {
					if (e.cancelled) return;
					self.set('lastRowComment', row);
					self.$.actionsRequester.set('url', self.urls.state.replace('%id', self.orderId).replace('%rid',
									purpose) + '/comment');
					self.$.actionsRequester.set('method', 'PUT');
					self.$.actionsRequester.set('body', JSON.stringify({
						comment: e.value
					}));
					self.$.actionsRequester.generateRequest();
				});
			},
			editRealtyComment       : function (e, n, o) {
				var self = this;
				var btn = app.getNeededSrc(e, 'PAPER-ICON-BUTTON', 'tag');
				var comment = $(btn).attr('comment');
				var textarea = app.getNeededSrc(e, 'PAPER-ICON-BUTTON', 'tag').previousElementSibling;
				var row = $(btn).attr('rowindex');
				var realty = $(btn).attr('realty');

				this.getStateComment(comment, function (e) {
					if (e.cancelled) return;
					self.set('lastRowComment', row);
					app.addComment('realties', realty, {
						comment: e.value
					}, function (e) {
						app.toaster.show('Предложение изменено');
						self.$.dataTable.set('items.' + self.lastRowComment + '.comment', e);
						self.fire('suggest-change', self.$.dataTable.items[self.lastRowComment]);
					});
				});
			},
			selectSuggest           : function (suggestId) {
				var index = 0;
				this.$.dataTable.items.forEach(function (item, item_i, item_arr) {
					if (item.id == suggestId) {
						index = item_i;
						return;
					}
				});
				app.loader.hide('order-suggests-init-scroll');
				this.$$('iron-data-table').scrollToIndex(index);
				this.$$('iron-data-table').selectItem(index);
			},
			isRealtyCommentBig      : function (suggestId) {
				return true;
//        if (!comment) return false;
//        return comment.split(/\r\n|\r|\n/).length > 2;
			},
			showComment             : function (e) {
				var comment = e.target.getAttribute('data-args');
				var comArr = comment.split(/\r\n|\r|\n/);
				var sB = '';
				comArr.forEach(function (line, line_i, line_arr) {
					sB += line + '<br>';
				})
				app.showTooltip(e, e.srcElement, sB);
			},
			hideComment             : function () {
				app.hideTooltip();
			},
			checkOverflow           : function (el) {
				var curOverflow = el.style.overflow;

				if (!curOverflow || curOverflow === "visible")
					el.style.overflow = "hidden";

				var isOverflowing = el.clientWidth < el.scrollWidth
						|| el.clientHeight < el.scrollHeight;

				el.style.overflow = curOverflow;

				return isOverflowing;
			},
			patchOverlay            : function (e) {
				if (e.target.withBackdrop) {
					e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
				}
			},
			openRoom: function(e, o){
				var suggestRow = app.getNeededSrc(e, 'DATA-TABLE-ROW', 'tag');
				var scrollpos = $('order-suggests iron-list')[0].scrollTop;
				app.cooconfigs.set('order-suggests-scroll', JSON.stringify({
					scroll : scrollpos,
					order  : this.orderId,
					suggest: $(suggestRow).attr('suggest')
				}));
				app.openForm('room-form', false, $(e.currentTarget).attr('itemId'), {}, false);
			},
			addRoom: function(e){
				app.openForm('room-form', 1, 0, {
					field : 'realty',
					entity: $('realty-form')[0].itemFields
				})
			},
			getRoomClass: function(leased){
				return leased ? 'leased' : 'not-leased';
			}
		});
	</script>
</dom-module>