<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="order-form">
	<style>
		.stateBody.open {
			color : #03A9F4
		}

		.stateBody.closed {
			color : #4CAF50
		}

		.stateBody.rejected {
			color : #DB4437
		}
		paper-tabs {
			--paper-tabs-selection-bar-color : #303F9F;
			background-color                 : #FFFFFF;
			position                         : relative;
			top                              : 10px;
			width                            : calc(100% - 20px);
			margin                           : 0 10px;
			box-shadow                       : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		}

		paper-tab {
			--paper-tab-ink : #303F9F;
		}
		.rows-container > div{
			margin-right: 20px;
		}
		#orderStateDD{
			width: 120px;
			margin-left: 20px;
		}

		paper-radio-group[name="offerTypes"]{
			display: flex;
			flex-direction: column;
		}
		paper-radio-group[name="offerTypes"] paper-radio-button{
			padding: 1px 1px 6px 1px;
		}
		.price-range paper-input, .price-range paper-dropdown-menu{
			width: 135px
		}
	</style>
	<template>
		<iron-ajax
				id="getRequester"
				method="GET"
				handle-as="json"
				on-response="handleGetResponse"
				on-error="handleGetError"
		></iron-ajax>
		<iron-ajax
				id="putRequester"
				method="PUT"
				handle-as="json"
				on-response="handlePutResponse"
				on-error="handlePutError"
		></iron-ajax>
		<iron-ajax
				id="actionsRequester"
				method="POST"
				handle-as="json"
				on-response="handleActionsResponse"
				on-error="handleActionsError"
		></iron-ajax>
		<paper-header-panel main mode="waterfall">
			<paper-toolbar>
				<paper-icon-button class="drawer-menu drawer-toggle" icon="menu"
													 paper-drawer-toggle></paper-icon-button>
				<paper-icon-button class="drawer-menu" icon="icons:arrow-back" on-click="cancel"></paper-icon-button>
				<template is="dom-if" if="{{isNew}}">
					<div class="title">Добавить заявку</div>
				</template>
				<template is="dom-if" if="{{!isNew}}">
					<div class="title">Заявка #{{itemFields.id}}</div>
				</template>
				<template is="dom-if" if="{{isAdmin}}">
					<paper-button on-click="save" id="btnCancel">Сохранить</paper-button>
				</template>
			</paper-toolbar>
			<div id="formErrors"></div>
			<paper-tabs selected="{{selectedTab}}">
				<paper-tab>Данные заявки</paper-tab>
				<paper-tab disabled="{{isNew}}">Комментарии</paper-tab>
				<paper-tab on-click="fitMap">Область заявки и подобранные объекты</paper-tab>
			</paper-tabs>
			<iron-pages selected="{{selectedTab}}">
				<div>
					<paper-material class="marged-10 padded-10 content-material">
						<div class="layout horizontal justified center">
							<!--<h3>Данные заявки</h3>-->
							<!--<paper-icon-button title="Развернуть"
																 class="h3-icon"
																 icon="icons:expand-less"
																 on-click="collapseBlock"
																 class="collapse-btn"
																 id="contentCollapseBtn"
							></paper-icon-button>-->
						</div>
						<iron-collapse opened>
							<div class="layout horizontal start-justified start rows-container">
								<div style="flex-grow: 0; flex-basis: 350px">
									<template is="dom-if" if="{{!isNew}}">
										<div class="layout horizontal center justified">
											<div class="orders-times" style="padding-top: 7px;">
												<div><span>Дата создания: </span>{{_getDateString(itemFields.created)}}</div>
												<div><span>Дата изменения: </span>{{_getDateString(itemFields.updated)}}</div>
											</div>
											<paper-dropdown-menu id="orderStateDD" name="state"
																					 id="orderType"
																					 label="Статус заявки"
																					 disabled="{{!isAdmin}}">
												<paper-menu class="dropdown-content" selected="{{itemFields.state}}" attr-for-selected="value"
																		on-iron-select="stateChanged" on-iron-activate="beforeStateChanged">
													<template is="dom-repeat" items="{{orderStates}}" as="status">
														<paper-item value="{{status.name}}" class$="{{status.name}} stateBody">{{status.title}}
														</paper-item>
													</template>
												</paper-menu>
											</paper-dropdown-menu>
										</div>
									</template>
									<!--INFO-->
									<paper-textarea
											name="info"
											label="Описание"
											value="{{itemFields.info}}"
											onInput="this.invalid = false"
											disabled="{{!isAdmin}}"></paper-textarea>
									<div class="clear"></div>
									<!--COUNTERPARTY-->
									<h3 class="mini-label">Информация о клиенте</h3>

									<div class="autocomplete-info">
										ФИО: {{itemFields.counterparty.name}}<br>
										Email: {{itemFields.counterparty.email}}
									</div>
									<phones-autocomplete
											id="counterpartyAc"
											name="counterparty"
											entities-name="counterparties"
											value="{{itemFields.counterparty}}"
											phones="{{itemFields.counterparty.phones}}"
											label="Номера телефонов клиента"
											required="1"
											disabled="{{!isAdmin}}"
											adding="true"
											add-form="counterparty-form-modal"
									></phones-autocomplete>
									<div class="clear"></div>
									<!--ASSIGNEE-->
									<best-autocomplete
											id="assigneeAc"
											name="assignee"
											entities-name="users"
											value="{{itemFields.assignee}}"
											phones="{{itemFields.assignee.phones}}"
											label="Ответственный сотрудник"
											required="0"
											disabled="{{!isAdmin}}"></best-autocomplete>
									<div class="clear"></div>
									<template is="dom-if" if="{{isAdmin}}">
										<h3 class="mini-label">Номера телефонов сотрудника</h3>

										<div class="clear"></div>
										<template is="dom-repeat" items="{{itemFields.assignee.phones}}">
											<div class="cp-phone">{{item}}</div>
										</template>
										<div class="clear"></div>
									</template>
									<paper-textarea
											label="Пожелания по адресу/району"
											value="{{itemFields.regionSuggestions}}"
											name="regionSuggestions"
											disabled="{{!isAdmin}}"></paper-textarea>
									<paper-textarea
											label="Пожелания по объекту"
											value="{{itemFields.realtySuggestions}}"
											name="realtySuggestions"
											disabled="{{!isAdmin}}"></paper-textarea>
								</div>
								<div style="flex-shrink: 0">
									<div class="layout horizontal start-justified end price-range">
										<paper-input
												value="{{itemFields.minPricePerMeter}}"
												name="minPrice"
												label="Мин. цена (кв.м)"
												type="number"
												min="0"
												auto-validate
												disabled="{{!isAdmin}}"></paper-input>
										&nbsp;&nbsp;-&nbsp;&nbsp;
										<paper-input
												value="{{itemFields.maxPricePerMeter}}"
												name="maxPrice"
												label="Макс. цена (кв.м)"
												type="number"
												min="0"
												auto-validate
												disabled="{{!isAdmin}}"></paper-input>
										&nbsp;&nbsp;руб.&nbsp;
										<template is="dom-if" if="{{isRentOrder}}">
											<paper-dropdown-menu id="periodSelect" auto-validate name="priceType" label="Период" on-iron-select="ddCh">
												<paper-menu class="dropdown-content" selected="{{priceType}}"
																		attr-for-selected="value">
													<template is="dom-repeat" items="{{enumerators.priceType}}">
														<paper-item value="{{item.name}}">
															{{item.title}}
														</paper-item>
													</template>
												</paper-menu>
											</paper-dropdown-menu>
										</template>
									</div>
									<div class="layout horizontal start-justified end square-range">
										<paper-input
												value="{{itemFields.minSquare}}"
												name="minSquare"
												label="Мин. площадь (кв.м)"
												type="number"
												min="0"
												auto-validate
												disabled="{{!isAdmin}}"></paper-input>
										&nbsp;&nbsp;-&nbsp;&nbsp;
										<paper-input
												value="{{itemFields.maxSquare}}"
												name="maxSquare"
												label="Макс. площадь (кв.м)"
												type="number"
												min="0"
												auto-validate
												disabled="{{!isAdmin}}"></paper-input>
										&nbsp;&nbsp;кв.м
									</div>
									<checkbox-group
											label="Назначение объекта"
											items="{{realtyPurposes}}"
											disabled="{{!isAdmin}}"
											value="{{itemFields.purposes}}"
											required="true"
											name="purposes"
									></checkbox-group>
									<h3 class="mini-label">Тип сделки</h3>
									<paper-radio-group
											required="true"
											name="offerTypes"
											selected="{{offerTypeRadio}}"
											onfocus="this.invalid = false"
											onclick="this.invalid = false"
									>
										<paper-radio-button disabled="{{!isNew}}" name="1">Аренда</paper-radio-button>
										<paper-radio-button disabled="{{!isNew}}" name="2">Продажа</paper-radio-button>
									</paper-radio-group>
									<!--<checkbox-group
											label="Тип сделки"
											items="{{realtyOfferTypes}}"
											disabled="{{!isAdmin}}"
											value="{{itemFields.offerTypes}}"
											required="true"
											name="offerTypes"
									></checkbox-group>-->
								</div>
							</div>
						</iron-collapse>
					</paper-material>
				</div>
				<div>
					<template is="dom-if" if="{{!isNew}}" id="commentsIf">
						<paper-material class="marged-10 padded-10 comments-material">
							<div class="comments">
								<div class="tools cardHead">
									<!--<h3>Комментарии</h3>-->
									<span class="manage">
                                        <span
																						on-click="commentsAll">Показать все</span>
                                    </span>
									<!--<paper-icon-button title="Развернуть"
																		 class="h3-icon collapse-btn"
																		 icon="icons:expand-less"
																		 on-click="collapseBlock"
																		 id="commentsCollapseBtn"></paper-icon-button>-->
								</div>
								<iron-collapse class="comments-container" opened>
									<div class="layout horizontal justified add-comment-container">
										<paper-textarea onInput="this.invalid = false" value="{{newComment}}" id="newCommentText"
																		class="padded-10" label="Введите текст нового комментария"></paper-textarea>
										<paper-button on-click="addComment">Добавить комментарий</paper-button>
									</div>
									<template is="dom-repeat" items="{{itemFields.comments}}" as="comment">
										<div class="comment-item">
											<paper-textarea disabled class="text" value="{{comment.comment}}"></paper-textarea>
											<div class="description">
												<div class="assignee">{{comment.author.name}}</div>
												<div class="date">{{_getDateString(comment.created)}}</div>
											</div>
										</div>
										<div class="clear"></div>
									</template>
								</iron-collapse>
							</div>
						</paper-material>
					</template>
				</div>
				<div>
					<yandex-map-order
							id="map"
							name="region"
							value="{{itemFields.region}}"
							is-new="{{isNew}}"
							region-changed="{{regionChanged}}"
							is-admin="{{isAdmin}}"
							on-mark-selected="markSelected"
							on-select-suggest="selectSuggestRow"
					></yandex-map-order>
					<order-suggests
							id="order-suggests"
							urls="{{urls.suggests}}"
							order-id="{{itemFields.id}}"
							is-admin="{{isAdmin}}"
							on-proposals-loaded="proposalsLoaded"
							on-suggest-change="suggestChanged"
					>
					</order-suggests>
				</div>
			</iron-pages>
		</paper-header-panel>
		<paper-dialog id="orderCloseCommentDialog"
									modal
									always-on-top
									entry-animation="fade-in-animation"
									exit-animation="fade-out-animation"
									on-iron-overlay-opened="patchOverlay">
			<h2>Введите комментарий о закрытии заявки</h2>
			<paper-textarea id="commentDialogField" label="Текст комментария" onInput="this.invalid = false"></paper-textarea>
			<div class="buttons">
				<paper-button dialog-dismiss>Отмена</paper-button>
				<paper-button dialog-confirm>Сохранить</paper-button>
			</div>
		</paper-dialog>
		<yes-no-dialog
				id="clearRegionDialog"
				title="Дейсвительно очистить область?"
				content="Все подобранные объекты будут удалены"
		></yes-no-dialog>
	</template>
	<script>
		Polymer({
			is                   : "order-form",
			behaviors            : [/*Polymer.NeonAnimatableBehavior, */FormBehavior],
			properties           : {
				itemFields    : {
					type : Object,
					value: {
						id               : 0,
						info             : "",
						created          : 0,
						updated          : 0,
						state            : "opened",
						counterparty     : {
							name  : "",
							id    : 0,
							phones: []
						},
						assignee         : {
							name: "",
							id  : 0
						},
						minPricePerMeter         : "",
						maxPricePerMeter         : "",
						minSquare        : "",
						maxSquare        : "",
						realtySuggestions: "",
						regionSuggestions: "",
						comments         : [],
						purposes         : [],
						offerTypes       : [],
//						priceType:
					}
				},
				isNew         : Number,
				orderStates   : Array,
				counterparties: Array,
				assignies     : Array,
				newComment    : String,
				lastState     : String,
				regionChanged : {
					type : Number,
					value: 0
				},
				requester     : Object,
				isAdmin       : Boolean,
				realtyPurposes: Array,
				offerTypes    : Array,
				reopened      : {
					type : Boolean,
					value: false
				},
				selectedTab    : {
					type : Number,
					value: 0,
					observer: 'tabChanged'
				},
				entityRoute: String,
				offerTypeRadio : {
					type: Number,
					value: 0,
					observer: 'offerTypeRadioChanged'
				},
				isRentOrder: {
					type: Number,
					computed: 'getIsRentOrder(itemFields.offerTypes)'
				},
				priceType: String,
				enumerators    : {
					type : Object,
					value: {
						priceType             : [
							{
								name : 'month',
								title: 'В месяц'
							},
							{
								name : 'year',
								title: 'В год'
							}
						],
					}
				},
			},
			local                : function (string) {
				return Drupal.t(string);
			},
			_getDateString       : function (dateVal) {
				var dat = new Date(1000 * dateVal);
				var options = {
					month : 'long',
					day   : 'numeric',
					hour  : 'numeric',
					minute: 'numeric'
				};
				return dat.toLocaleString('ru', options)
			},
			ready                : function () {
				var self = this;
				//recalc suggestions listener
				this.$.map.addEventListener('getSuggestions', function () {
					self.set('regionChanged', 1);
					self.save();
				});
				//clear region listener
				this.$.map.addEventListener('clearRegion', function () {
					;
					self.$.clearRegionDialog.open(function (dialogResult) {
						if (dialogResult) {
							self.$.map.clearPolygon();
							self.$$('#order-suggests').clear();
						}
					});
				});
				//replace marks listener
				this.$$('#order-suggests').addEventListener('setPlacemarks', function (e) {
					self.$.map.setPlacemarks(e.detail);
				});
			},
			cancel               : function () {
				app.routeBack();
			},
			open                 : function (itemId, reopened) {
				if(!reopened){
					if(itemId){
						this.set('selectedTab', 2);
					}else this.set('selectedTab', 0);
				}
				if (itemId) this.set('isNew', false);
				else this.set('isNew', true);
				//set reopened
				if (reopened) this.set('reopened', reopened);
				else this.set('reopened', false);
				//autocomp urls
				this.$.counterpartyAc.set('url', app.urls.counterparties.list);
				this.$.assigneeAc.set('url', app.urls.users.list);
				this.$.counterpartyAc.hideSuggestions();
				this.$.assigneeAc.hideSuggestions();
				//clear form errors
				this.$.formErrors.innerHTML = '';
				$(this.id + ' *[name]').each(function () {
					if (typeof this.set === 'function') this.set('invalid', false);
					$(this).removeAttr('invalid');
				});
				//clear phones
				this.set('lastState', undefined);
				//clear suggests data
				this.$$('#order-suggests').set('suggestsCount', '');

				if (itemId) {
					app.loader.show();
					this.$.getRequester.set('url', this.urls.get + '/' + itemId);
					this.$.getRequester.generateRequest();
					$(this).removeClass('new');
				} else {
					//init requester fields
					if (Object.keys(this.requester).length !== 0) {
						this.set('itemFields.' + this.requester.field, this.requester.entity);
					}
					this.$.map.init();
					this.set('offerTypeRadio', 0);
				}

				//collapsing blocks
				if (!reopened) {
					this.$.commentsIf.render();
					if (!$(this.tagName + ' .content-material iron-collapse')[0].opened) {
						var btn = this.$.contentCollapseBtn;
						btn.click();
					}
					var commentsCollapse = $(this.tagName + ' .comments-material iron-collapse')[0];
					if (!commentsCollapse.opened) {
						var btn = this.$$('#commentsCollapseBtn');
						btn.click();
					}
				}
			},
			handleGetResponse    : function (e) {
				var self = this;
				var data = e.detail.response;
				this.set('itemFields', data);
				app.loader.hide();

				this.$.map.init(this.itemFields.region);

				this.$.counterpartyAc.initValue(this.itemFields.counterparty);
				this.$.assigneeAc.initValue({
					id    : data.assignee.id,
					name  : data.assignee.name,
					phones: data.assignee.phones
				});
				if(this.isRentOrder)
					setTimeout(function(){
						self.set('priceType', self.itemFields.priceType);
					}, 200);
			},
			handleGetError       : function (e, data) {
				app.loader.hide();
				var response = data.request.xhr.response;
				if (!app.checkErrorResponse(response)) return;
			},
			addComment           : function (callback) {
				if (typeof this.newComment == 'undefined' || !this.newComment || this.newComment.trim() == '') {
					this.$$('#newCommentText').invalid = true;
					this.$$('#newCommentText').errorMessage = 'Введите комментарий';
					app.toaster.show('Введите текст комментария');
					return;
				}
				var self = this;
				app.addComment('orders', this.itemFields.id, {
					comment: this.newComment
				}, function (res) {
					if (res) {
						if (typeof callback == 'function') callback(true);
						self.unshift('itemFields.comments', res);
						self.set('newComment', '');
						app.toaster.show('Комментарий добавлен');
					}
				});
			},
			commentsAll          : function () {
				var self = this;
				app.commentsAll('orders', this.itemFields.id, function (res) {
					if (res) {
						self.set('itemFields.comments', res.comments);
					}
				});
			},
			collapseBlock        : function (e) {
				//collapse
				e.path.forEach(function (par, par_i, par_arr) {
					if (par.tagName == 'PAPER-MATERIAL') {
						var collapser = par.querySelector('iron-collapse');
						collapser.toggle();
					}
				});
				//set icon
				var iconTarget;
				if (e.target.tagName == 'PAPER-ICON-BUTTON') iconTarget = e.target;
				else {
					e.path.forEach(function (par, par_i, par_arr) {
						if (par.tagName == 'PAPER-ICON-BUTTON') {
							iconTarget = par;
						}
					});
				}
				if (iconTarget.icon == 'icons:expand-less') iconTarget.set('icon', 'icons:expand-more');
				else iconTarget.set('icon', 'icons:expand-less');
			},
			beforeStateChanged   : function (e) {
				this.set('lastState', e.srcElement.selected);
			},
			stateChanged         : function (e) {
				var self = this;
				if (typeof this.lastState == 'undefined') return;
				switch (this.itemFields.state) {
					case 'open':
						this.$.actionsRequester.set('url', this.urls.reopen.replace('%id', this.itemFields.id));
						this.$.actionsRequester.generateRequest();
						break;
					case 'closed':
						this.getCloseComment('closed', function (e) {
							switch (e.cancelled) {
								case true:
									var last = self.lastState;
									self.set('lastState', undefined);
									self.set('itemFields.state', last);
									break;
								case false:
									self.$.actionsRequester.set('url', self.urls.complete.replace('%id', self.itemFields.id));
									setTimeout(function () {
										self.$.actionsRequester.generateRequest();
									}, 300);
									break;
								default:
									break;
							}
						});
						break;
					case 'rejected':
						this.getCloseComment('rejected', function (e) {
							switch (e.cancelled) {
								case true:
									var last = self.lastState;
									self.set('lastState', undefined);
									self.set('itemFields.state', last);
									break;
								case false:
									self.$.actionsRequester.set('url', self.urls.discard.replace('%id', self.itemFields.id));
									setTimeout(function () {
										self.$.actionsRequester.generateRequest();
									}, 300);
									break;
								default:
									break;
							}
						});
						break;
				}
			},
			handleActionsResponse: function (e) {
				if (e.detail.url.replace('%id', this.itemFields.id) == this.urls.complete.replace('%id', this.itemFields.id)) {
					app.toaster.show('Заявка успешно закрыта');
				} else if (e.detail.url.replace('%id', this.itemFields.id) == this.urls.discard.replace('%id',
								this.itemFields.id)) {
					app.toaster.show('Заявка отменена');
				} else if (e.detail.url.replace('%id', this.itemFields.id) == this.urls.reopen.replace('%id',
								this.itemFields.id)) {
					app.toaster.show('Заявка переоткрыта');
				}
				app.editItem('orders', e.detail.response);
			},
			handleActionsError   : function (e, data) {
				app.loader.hide();
				var response = data.request.xhr.response;
				if (!app.checkErrorResponse(response)) return;
			},
			isValid              : function () {
				var isValid = true;
				$(this.id + ' input[invalid]').each(function () {
					if ($(this).attr('invalid') != '0')
						isValid = false;
				});
				$(this.id + ' input').each(function () {
					if ($(this).hasClass('invalid'))
						isValid = false;
				});
				$(this.id + ' best-autocomplete').each(function () {
					if ($(this)[0].invalid == true)
						isValid = false;
				});
				return isValid;
			},
			save                 : function () {
				var self = this;
				app.loader.show();
				setTimeout(function () {
					if (!self.isValid()) {
						app.loader.hide('save-order');
						app.toaster.show('Поля содержат ошибки');
						return;
					}
					//save comment
					if (!self.isNew && typeof self.newComment != 'undefined' && self.newComment && self.newComment.trim() != '') {
						self.addComment(function () {
							//save form
							self.$.putRequester.set('body', JSON.stringify({
								counterparty     : (self.itemFields.counterparty) ? self.itemFields.counterparty.id : 0,
								assignee         : (self.itemFields.assignee) ? self.itemFields.assignee.id : 0,
								info             : (self.itemFields.info) ? self.itemFields.info : '',
								minPrice         : (self.itemFields.minPrice) ? self.itemFields.minPrice : 0,
								maxPrice         : (self.itemFields.maxPrice) ? self.itemFields.maxPrice : 0,
								realtySuggestions: (self.itemFields.realtySuggestions) ? self.itemFields.realtySuggestions : '',
								regionSuggestions: (self.itemFields.regionSuggestions) ? self.itemFields.regionSuggestions : '',
								region           : self.itemFields.region,
								regionChanged    : self.regionChanged,
								purposes         : self.itemFields.purposes,
								offerTypes       : self.itemFields.offerTypes,
							}));
							self.$.putRequester.set('contentType', 'application/json');
							self.$.putRequester.set('method', 'put');
							self.$.putRequester.set('url', self.urls.put + ((self.isNew) ? '' : ('/' + self.itemFields.id)));
							self.$.putRequester.generateRequest();
						});
					} else {
						var obj = {
							counterparty     : (self.itemFields.counterparty) ? self.itemFields.counterparty.id : 0,
							assignee         : (self.itemFields.assignee) ? self.itemFields.assignee.id : 0,
							info             : (self.itemFields.info) ? self.itemFields.info : '',
							minPricePerMeter : (self.itemFields.minPricePerMeter) ? self.itemFields.minPricePerMeter : null,
							maxPricePerMeter : (self.itemFields.maxPricePerMeter) ? self.itemFields.maxPricePerMeter : null,
							minSquare         : (self.itemFields.minSquare) ? self.itemFields.minSquare : null,
							maxSquare         : (self.itemFields.maxSquare) ? self.itemFields.maxSquare : null,
							realtySuggestions: (self.itemFields.realtySuggestions) ? self.itemFields.realtySuggestions : '',
							regionSuggestions: (self.itemFields.regionSuggestions) ? self.itemFields.regionSuggestions : '',
							region           : self.itemFields.region,
							regionChanged    : self.regionChanged,
							purposes         : self.itemFields.purposes,
							offerTypes       : self.itemFields.offerTypes
						};
						if(self.isRentOrder) obj.priceType = (self.priceType) ? self.priceType : self.itemFields.priceType;
						//save form
						self.$.putRequester.set('body', JSON.stringify(obj));
						self.$.putRequester.set('contentType', 'application/json');
						self.$.putRequester.set('method', 'put');
						self.$.putRequester.set('url', self.urls.put + ((self.isNew) ? '' : ('/' + self.itemFields.id)));
						self.$.putRequester.generateRequest();
					}
				}, 300);
			},
			handlePutResponse    : function (e) {
				app.loader.hide();
				var data = e.detail.response;
				var status = e.detail.status;
				switch (status) {
						//item added
					case 201:
						app.addItem('orders', data);
						app.toaster.show('Заявка добавлена');
						app.openForm('order-form', 0, data.id, null, 1);
						this.$.formErrors.innerHTML = '';
						break;
						//item edited
					case 200:
						app.editItem('orders', data);
						app.toaster.show('Заявка изменена');
						app.openForm('order-form', 0, data.id, null, 1);
						this.$.formErrors.innerHTML = '';
						break;
					default:
						app.toaster.show('Неизвестная ошибка сервера');
						break;
				}
			},
			highlightErrors      : function (errors) {
				app.loader.hide('save-order');
				var self = this;
				var errorsText = '';
				errors.forEach(function (er, er_i, er_ar) {
					var field = self.$$('*[name="' + er.field + '"]');
					if (typeof field != 'undefined') {
						field.set('errorMessage', er.message);
						field.set('invalid', true);
					}
					errorsText += '<li>' + er.message + '</li>'
				})
				self.$.formErrors.innerHTML = '<ul>' + errorsText + '</ul>';
			},
			getCloseComment      : function (state, callback) {
				this.$.commentDialogField.value = '';
				var self = this;
				this.$.orderCloseCommentDialog.addEventListener('iron-overlay-closed', function (e) {
					e.target.removeEventListener(e.type, arguments.callee);
					//if canceled
					if (!e.detail.confirmed) {
						callback({
							cancelled: true,
							value    : self.$.commentDialogField.value,
							event    : e
						});
						return;
					}
					//if empty comment
					if (!self.$.commentDialogField.value) {
						self.stateChanged();
						self.$.commentDialogField.invalid = true;
						self.$.commentDialogField.errorMessage = 'Пустой текст комментария';
					} else {
						//if comment entered
						self.set('newComment', self.$.commentDialogField.value);
						self.addComment();
						callback({
							cancelled: false,
							value    : self.$.commentDialogField.value,
							event    : e
						});
					}
				});
				this.$.orderCloseCommentDialog.open();
			},
			proposalsLoaded      : function () {
				if (this.reopened) return;
				if (!this.$$('#order-suggests').dataArray.length) return;

				/*if (this.$$('.content-material iron-collapse').opened) {
					var btn = this.$.contentCollapseBtn;
					btn.click();
				}
				if (this.$$('.comments-material iron-collapse').opened) {
					var btn = this.$$('#commentsCollapseBtn');
					btn.click();
				}*/
			},
			markSelected         : function (e, o) {
				this.$.map.accentPlacemark(e);
			},
			selectSuggestRow     : function (e, o) {
				this.$$('#order-suggests').selectSuggest(o);
			},
			suggestChanged       : function (e) {
				this.$.map.updatePlacemark(e.detail);
			},
			patchOverlay: function (e) {
				if (e.target.withBackdrop) {
					e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
				}
			},
			fitMap: function(){
				this.$.map.fitMap();
			},
			offerTypeRadioChanged: function(newVal, oldVal){
				this.set('itemFields.offerTypes', [newVal]);
			},
			getIsRentOrder: function(types){
				if(types === undefined) return 0;
				if(types[0] == 1) return 1;
				else return 0;
			},
			ddCh: function(e){
				this.$$('#periodSelect').set('invalid', false);
			},
			tabChanged: function(newVal, oldVal){
				if(newVal == 2){
					var self = this;
					setTimeout(function(){
						if(self.$.map.map) self.$.map.map.setBounds(self.$.map.initBounds);
					}, 200);
				}
			}
		});
	</script>
</dom-module>