<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="yandex-map-order">
	<style>

	</style>
	<template>
		<paper-material class="marged-10">
			<!--<div class="layout horizontal justified center padded-10">
				&lt;!&ndash;<h3>Область заявки</h3>&ndash;&gt;
				&lt;!&ndash;<paper-icon-button title="Развернуть"
													 class="h3-icon"
													 icon="icons:expand-less"
													 on-click="collapseBlock"></paper-icon-button>&ndash;&gt;
			</div>-->
			<iron-collapse opened>
				<div class="layout horizontal around-justified padded-10">
					<paper-button on-click="tryClearPolygon">Очистить область</paper-button>
					<paper-button disabled="{{!isSaved}}" on-click="editPolygon">Редактировать область</paper-button>
					<paper-button disabled="{{isSaved}}" on-click="stopEditing">Завершить редактирование</paper-button>
					<paper-button disabled="{{!isSaved}}" on-click="getSuggestions">Подобрать объекты</paper-button>
				</div>
				<div id="map"></div>
			</iron-collapse>
		</paper-material>
	</template>
	<script>
		Polymer({
			is                      : "yandex-map-order",
			properties              : {
				isNew                 : Number,
				isSaved               : {
					type : Boolean,
					value: 0
				},
				map                   : Object,
				polygon               : Object,
				invalid               : Number,
				value                 : {
					type  : Array,
					notify: true
				},
				regionChanged         : {
					type  : Number,
					value : 0,
					notify: true
				},
				placemarksCollection  : Object,
				placemarksLinks       : Object,
				clusterer             : Object,
				isAdmin               : Boolean,
				initBounds            : Object,
				clusterActivityMonitor: Object,
				clusterBaloonOpened   : {
					type : Object,
					value: false
				}
			},
			local                   : function (string) {
				return Drupal.t(string);
			},
			init                    : function (region) {
				var self = this;
				this.clusterBaloonOpened = false;
				//init ya map
				if (!this.map) {
					this.map = new ymaps.Map(
							$(this.$.map)[0],
							{
								center   : [55.74954, 37.621587],
								zoom     : 10,
								controls : ['zoomControl'],
								behaviors: ['drag', 'dblClickZoom', 'multiTouch']
							}
					);
					this.map.events.add('boundschange', this.zoomBoundsChanged);
				}
				this.map.container.fitToViewport();
				if (this.map && this.map.balloon.isOpen()) this.map.balloon.close();
				//region changed argument init
				if (this.isNew) {
					this.createPolygon();
					this.set('isSaved', false);
					this.set('regionChanged', 1);
				} else {
					this.set('isSaved', true);
					this.set('regionChanged', 0);
				}
				//init clusterer
				this.clusterer = new ymaps.Clusterer({
					preset                        : 'islands#invertedBlueClusterIcons',
					groupByCoordinates            : false,
					clusterDisableClickZoom       : true,
					clusterHideIconOnBalloonOpen  : false,
					geoObjectHideIconOnBalloonOpen: false
				});
				this.placemarksLinks = [];
				this.placemarksCollection = new ymaps.GeoObjectCollection(null, {
					preset: 'islands#yellowIcon'
				});
				this.map.geoObjects.removeAll();
				//fit map
				setTimeout(function () {
					if (self.map) self.map.container.fitToViewport();
				}, 500);

				if (this.polygon) this.map.geoObjects.remove(this.polygon);
				if (!region || !region.length) {
					this.createPolygon();
					this.stopEditing();
					this.map.setCenter([55.74954, 37.621587], 10);
				} else {
					this.polygon = new ymaps.Polygon(this.coordsToYmap(region), {}, {
						editorDrawingCursor: "crosshair",
					});
					// Добавляем многоугольник на карту.
					this.map.geoObjects.add(this.polygon);
					this.stopEditing();

					//get poly bound for map
					var bounds = this.polygon.geometry.getBounds();
					this.map.setBounds(bounds);
					this.initBounds = bounds;
				}
			},
			destroy                 : function () {
				if (this.map) this.map.destroy();
			},
			_getDateString          : function (dateVal) {
				var dat = new Date(1000 * dateVal);
				var options = {
					month : 'long',
					day   : 'numeric',
					hour  : 'numeric',
					minute: 'numeric'
				};
				return dat.toLocaleString('ru', options)
			},
			createPolygon           : function () {
				if (this.polygon) this.map.geoObjects.remove(this.polygon);
				this.polygon = new ymaps.Polygon([], {}, {
					editorDrawingCursor: "crosshair",
				});

				// Добавляем многоугольник на карту.
				this.map.geoObjects.add(this.polygon);

				// В режиме добавления новых вершин меняем цвет обводки многоугольника.
				var stateMonitor = new ymaps.Monitor(this.polygon.editor.state);
				var self = this;
				stateMonitor.add("drawing", function (newValue) {
					self.polygon.options.set("strokeColor", newValue ? '#FF0000' : 'rgba(39, 69, 142, 0.4)');
				});

				this.polygon.editor.startDrawing();
			},
			editPolygon             : function () {
				this.set('isSaved', false);
				this.set('regionChanged', 1);
				this.polygon.editor.startDrawing();
			},
			getPolygon              : function () {
				var geometry = this.polygon.editor.geometry.getCoordinates();
			},
			stopEditing             : function () {
				if (!this.polygon) return;
				this.polygon.editor.stopDrawing();
				this.polygon.editor.stopEditing();
				this.polygon.editor.stopFraming();

				var geometry = this.polygon.editor.geometry.getCoordinates();
				this.set('value', this.coordsToApi(geometry));
				this.set('isSaved', true);
			},
			getSuggestions          : function () {
				app.loader.show();
				this.set('regionChanged', 1);
				this.fire('getSuggestions');
			},
			coordsToApi             : function (ymapCoords) {
				var result = [];
				ymapCoords.forEach(function (polygon, poly_i, poly_arr) {
					polygon.forEach(function (point, point_i, point_arr) {
						if (typeof result[poly_i] == 'undefined') result[poly_i] = [];
						result[poly_i][point_i] = {
							lat: point[0],
							lon: point[1]
						}
					})
				});
				return result;
			},
			coordsToYmap            : function (apiCoords) {
				var result = [];
				apiCoords.forEach(function (polygon, poly_i, poly_arr) {
					polygon.forEach(function (point, point_i, point_arr) {
						if (typeof result[poly_i] == 'undefined') result[poly_i] = [];
						result[poly_i][point_i] = [
							point.lon,
							point.lat
						]
					})
				});
				return result;
			},
			setPlacemarks           : function (placemarks) {
				//set clusterer
				if (this.clusterer) this.clusterer.removeAll();

				var self = this;
				self.placemarksLinks = [];
				placemarks.forEach(function (place, place_i, place_arr) {
					var stringBuilder = [];
					stringBuilder.push('<b>Адрес:</b> ' + place.address);
					if (place.info) stringBuilder.push('<br/><b>Инфо:</b> ' + place.info);
					if (place.comment) stringBuilder.push('<br/><b>Комментарий:</b> ' + place.comment);
					stringBuilder.push('<br/><b>Собственник: </b>' + place.owner.name);
					stringBuilder.push('<br/><b>Обновлено: </b>' + self._getDateString(place.updated));
					stringBuilder.push('<br/><br/><b>Номера телефонов: </b>');
					place.phones.forEach(function (phone, phone_i, phone_arr) {
						stringBuilder.push('<br/>' + phone);
					});
					place.owner.phones.forEach(function (phone, phone_i, phone_arr) {
						stringBuilder.push('<br/>' + phone);
					});
					stringBuilder.push('<br/>');
					stringBuilder.push(
							'<br/><b>Состояние:</b> <span style="color: ' + app.getOrderSuggestColor(place.state, 'font') + '">' +
							self.getStateName(place.state)) +
					'</span>';

					var newPlace = new ymaps.Placemark(place.coords, {
						clusterCaption    : '<span style="color: ' + app.getOrderSuggestColor(place.state,
								'font') + '">' + place.address + '</span>',
						balloonContentBody: stringBuilder.join(''),
					}, {
						preset   : 'islands#icon',
						iconColor: app.getOrderSuggestColor(place.state),
						suggestId: place.suggestId
					});
					newPlace.events.add('click', function (e, a, o) {
						self.selectSuggectByPlacemark(e.originalEvent.target);
					});

					self.placemarksLinks[place.id] = newPlace;
					self.clusterer.add(newPlace);
					self.clusterer.events.add('balloonopen', function (e) {
						if (self.clusterBaloonOpened) return;
						else self.clusterBaloonOpened = true;
						var cluster = e.get('cluster');
						var activeId = cluster.state.get('activeObject').options._options.suggestId;
						self.selectSuggectByPlacemark({
							options: {
								_options: {
									suggestId: activeId
								}
							}
						});
						self.clusterActivityMonitor = new ymaps.Monitor(cluster.state);
						self.clusterActivityMonitor.add('activeObject', function (newVal, oldVal) {
							var activeId = newVal.options._options.suggestId;
							self.selectSuggectByPlacemark({
								options: {
									_options: {
										suggestId: activeId
									}
								}
							});
						})
					})
					self.clusterer.events.add('balloonclose', function () {
						if (!self.clusterBaloonOpened) return;
						else self.clusterBaloonOpened = false;
						self.clusterActivityMonitor.removeAll();
					})
				});
				this.map.geoObjects.add(this.clusterer);

				//set places collection
				if (this.placemarksCollection) this.map.geoObjects.remove(this.placemarksCollection);
				this.placemarksCollection = new ymaps.GeoObjectCollection(null, {
					preset: 'islands#yellowIcon'
				});
				placemarks.forEach(function (place, place_i, place_arr) {
					var stringBuilder = [];
					stringBuilder.push('<b>Адрес:</b> ' + place.address);
					if (place.info) stringBuilder.push('<br/><b>Инфо:</b> ' + place.info);
					if (place.comment) stringBuilder.push('<br/><b>Комментарий:</b> ' + place.comment);
					stringBuilder.push('<br/><b>Собственник: </b>' + place.owner.name);
					stringBuilder.push('<br/><b>Обновлено: </b>' + self._getDateString(place.updated));
					stringBuilder.push('<br/><br/><b>Номера телефонов: </b>');
					place.phones.forEach(function (phone, phone_i, phone_arr) {
						stringBuilder.push('<br/>' + phone);
					});
					place.owner.phones.forEach(function (phone, phone_i, phone_arr) {
						stringBuilder.push('<br/>' + phone);
					});
					stringBuilder.push('<br/>');
					stringBuilder.push(
							'<br/><b>Состояние:</b> <span style="color: ' + app.getOrderSuggestColor(place.state, 'font') + '">' +
							self.getStateName(place.state)) +
					'</span>';
					var placemarkObj = new ymaps.Placemark(place.coords, {
						balloonContentBody: stringBuilder.join(''),
					}, {
						preset   : 'islands#icon',
						iconColor: app.getOrderSuggestColor(place.state),
						suggestId: place.suggestId
					});
					placemarkObj.events.add('click', function (e, a, o) {
						self.selectSuggectByPlacemark(e.originalEvent.target);
					});
					self.placemarksCollection.add(placemarkObj);
				})
			},
			tryClearPolygon         : function () {
				this.fire('clearRegion');
			},
			clearPolygon            : function () {
				this.set('value', []);
				if (this.polygon) this.map.geoObjects.remove(this.polygon);
				this.setPlacemarks([]);
				this.createPolygon();
				this.set('isSaved', false);
				this.set('regionChanged', 1);
			},
			ready                   : function () {
				var self = this;
				$(window).resize(function () {
					setTimeout(function () {
						if (self.map) self.map.container.fitToViewport();
					}, 300);
				});
			},
			getStateName            : function (name) {
				var title;
				app.orderSuggestStates.forEach(function (status, status_i, status_arr) {
					if (status.name.toLowerCase() == name.toLowerCase())
						title = status.title;
				});
				return title;
			},
			collapseBlock           : function (e) {
				var self = this;
				//collapse
				e.path.forEach(function (par, par_i, par_arr) {
					if (par.tagName == 'PAPER-MATERIAL') {
						var collapser = par.querySelector('iron-collapse');
						collapser.toggle();
					}
				});
				//set icon
				var iconTarget;
				if (e.target.tagName == 'PAPER-ICON-BUTTON') iconTarget = e.target;
				else {
					e.path.forEach(function (par, par_i, par_arr) {
						if (par.tagName == 'PAPER-ICON-BUTTON') {
							iconTarget = par;
						}
					});
				}
				if (iconTarget.icon == 'icons:expand-less') iconTarget.set('icon', 'icons:expand-more');
				else iconTarget.set('icon', 'icons:expand-less');
				if (this.$$('iron-collapse').opened) {
					setTimeout(function () {
						if (self.map) self.map.setBounds(self.initBounds);
						if (self.map) self.map.container.fitToViewport();
					}, 300);
				}
			},
			accentPlacemark         : function (realty) {
				if (!this.map) return;
				var place = this.placemarksLinks[realty.id];
				if (!place) return;
				var self = this;

				var balloondata = place.balloon._geoObject.properties._data.balloonContentBody;
				this.map.balloon.open([
					realty.location.lon,
					realty.location.lat
				], balloondata);
//        this.map.setZoom(15);
			},
			zoomBoundsChanged       : function (e) {
				var self = $('yandex-map-order')[0];
			},
			selectSuggectByPlacemark: function (target) {
				this.fire('select-suggest', target.options._options.suggestId);
			},
			updatePlacemark         : function (suggestObject) {
				var self = this;
				var stringBuilder = [];
				stringBuilder.push('<b>Адрес:</b> ' + suggestObject.realty.address);
				if (suggestObject.realty.info) stringBuilder.push('<br/><b>Инфо:</b> ' + suggestObject.realty.info);
				if (suggestObject.comment.comment) stringBuilder.push(
						'<br/><b>Комментарий:</b> ' + suggestObject.comment.comment);
				stringBuilder.push('<br/><b>Собственник: </b>' + suggestObject.realty.counterparty.name);
				stringBuilder.push('<br/><b>Обновлено: </b>' + self._getDateString(suggestObject.realty.updated));
				stringBuilder.push('<br/><br/><b>Номера телефонов: </b>');
				suggestObject.phones.forEach(function (phone, phone_i, phone_arr) {
					stringBuilder.push('<br/>' + phone);
				});
				suggestObject.realty.counterparty.phones.forEach(function (phone, phone_i, phone_arr) {
					stringBuilder.push('<br/>' + phone);
				});
				stringBuilder.push('<br/>');
				stringBuilder.push('<br/><b>Состояние:</b> <span style="color: ' + app.getOrderSuggestColor(suggestObject.state,
								'font') + '">' +
						self.getStateName(suggestObject.state)) +
				'</span>';

				this.placemarksLinks[suggestObject.realty.id].options.set({
					iconColor: app.getOrderSuggestColor(suggestObject.state)
				});
				this.placemarksLinks[suggestObject.realty.id].properties.set({
					clusterCaption    : '<span style="color: ' + app.getOrderSuggestColor(suggestObject.state,
							'font') + '">' + suggestObject.realty.address + '</span>',
					balloonContentBody: stringBuilder.join(''),
				})
			},
			fitMap: function(){
				if(this.map) this.map.container.fitToViewport();
			},
			patchOverlay: function (e) {
				if (e.target.withBackdrop) {
					e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
				}
			},
		});
	</script>
</dom-module>