<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../../bower_components/paper-material/paper-material.html">

<!--
Paper Input Autocomplete field to offer a type-ahead functionality

Example:

    <paper-input-autocomplete id="fruits" label="Fruits"></paper-input-autocomplete>

    <script>
      document.getElementById('fruits').source = ['Apple', 'Orange', 'Bananas'];
    </script>

@group Paper Elements
@element paper-input-autocomplete
@demo demo/index.html
@hero hero.svg
-->
<dom-module id="paper-input-autocomplete">
    <style>
        :host {
            display: block;
            box-sizing: border-box;
            position: relative;
        }

        .input-wrapper {
        @apply(- -layout-horizontal);
            display: flex;
            align-items: flex-end;
        }

        .input-wrapper paper-input {
        @apply(- -layout-flex);
        }

        #suggestionsWrapper {
            display: none;
            background-color: white;
        }

        :host[suggestions-in-overlay="true"] #suggestionsWrapper {
            width: 100%;
            position: absolute;
            z-index: 1000;
        }

        paper-item {
            position: relative;
        }

        #clear {
            display: none;
        }
        paper-input{
            width: 100%;
        }
    </style>
    <template>
        <div class="input-wrapper">
            <paper-input value="{{value.name}}" id="input" label="{{label}}" disabled="{{disabled}}"
                         on-keyup="_handleSuggestions" invalid="{{invalid}}"></paper-input>
            <paper-icon-button id="clear" icon="clear" on-click="_clear"></paper-icon-button>
        </div>
        <paper-material elevation="1" id="suggestionsWrapper">
            <template is="dom-repeat" items="{{_suggestions}}">
                <paper-item on-click="_selectSuggestion" index="{{item.id}}">
                    <div>{{item.text}}</div>
                    <paper-ripple></paper-ripple>
                </paper-item>
            </template>
        </paper-material>
    </template>
</dom-module>

<script>
    Polymer({

        is: 'paper-input-autocomplete',

        properties: {

            /**
             * `label` Text to display as the input label
             */
            label: String,

            /**
             * `source` Array of objects with the options to execute the autocomplete feature
             */
            source: Array,

            /**
             * `searchProperty` Property of the source objects that will be used to execute
             * the autocomplete feature
             */
            searchProperty: String,

            /**
             * `value` Selected object from the suggestions
             */
            value: {
                type: Object,
                notify: true
            },

            /**
             * `suggestionsInOverlay` Display the suggestions in an overlay above the next elements
             */
            suggestionsInOverlay: Boolean,

            /**
             * `_suggestions` Array with the actual suggestions to display
             */
            _suggestions: Array,
            invalid: Number,
            disabled: {
                type: Boolean,
                value: false
            }

        },

        // Element Lifecycle

        ready: function () {
            // `ready` is called after all elements have been configured, but
            // propagates bottom-up. This element's children are ready, but parents
            // are not.
            //
            // This is the point where you should make modifications to the DOM (when
            // necessary), or kick off any processes the element wants to perform.
        },

        attached: function () {
            // `attached` fires once the element and its parents have been inserted
            // into a document.
            //
            // This is a good place to perform any work related to your element's
            // visual state or active behavior (measuring sizes, beginning animations,
            // loading resources, etc).
        },

        detached: function () {
            // The analog to `attached`, `detached` fires when the element has been
            // removed from a document.
            //
            // Use this to clean up anything you did in `attached`.
        },

        // Element Behavior

        /**
         * Clears the input text
         */
        _clear: function (e) {
            this.$.input.value = '';
            this.$.clear.style.display = 'none';
            this.value = undefined;
            this._hideSuggestionsWrapper();
            this.fire('change', e);
        },

        /**
         * Hide the suggestions wrapper
         */
        _hideSuggestionsWrapper: function () {
            this.$.suggestionsWrapper.style.display = 'none';
        },

        /**
         * Event fired when the user types in the input field.
         *
         * @param {string} event fired
         */
        _handleSuggestions: function (event) {
            this.fire('input', event);
            var value = event.target.value;

            if (value && value.length > 0) {
                value = value.toLowerCase();

                // Shows the clear button.
                this.$.clear.style.display = 'block';

                // Search for the word in the source properties.
                if (this.source && this.source.length > 0) {
                    this._suggestions = [];
                    var length = this.source.length
                    var hasSearchProperty = this.searchProperty != null;
                    for (var i = 0; i < length; i++) {
                        var item = this.source[i];
                        if (hasSearchProperty) {
                            item = this.source[i][this.searchProperty];
                        }
                        if (item.toLowerCase().includes(value)) {
                            // Adds the item to the suggestions list.
                            this.push('_suggestions', {text: item, value: this.source[i]});
                        }
                    }

                    if (this._suggestions.length > 0) {
                        this.$.suggestionsWrapper.style.display = 'block';
                    }
                }
            } else {
                this.$.clear.style.display = 'none';
                this._suggestions = [];
            }
        },

        /**
         * Event fired when the user selects a suggestion
         *
         * @param {Object} event fired
         */
        _selectSuggestion: function (event) {
            var selectedOption = this._suggestions[event.model.index];
            var self = this;

            this.$.input.value = selectedOption.text;
            this.value = selectedOption.value;

            setTimeout(function () {
                self._hideSuggestionsWrapper();
            }, 300);
            this.fire('change', event);
        },

        /**
         * Return the selected suggestion
         */
        getValue: function () {
            return this.value;
        }

    });
</script>
