<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="user-form">
	<style>
		:host {
			display : block;
			height  : 100vh;
		}
		paper-tabs {
			--paper-tabs-selection-bar-color : #303F9F;
			background-color                 : #FFFFFF;
			position                         : relative;
			top                              : 10px;
			width                            : calc(100% - 20px);
			margin                           : 0 10px;
			box-shadow                       : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		}

		paper-tab {
			--paper-tab-ink : #303F9F;
		}
	</style>
	<template>
		<iron-ajax
				id="getRequester"
				method="GET"
				handle-as="json"
				on-response="handleGetResponse"
				on-error="handleGetError"
		></iron-ajax>
		<iron-ajax
				id="putRequester"
				method="PUT"
				handle-as="json"
				on-response="handlePutResponse"
				on-error="handlePutError"
		></iron-ajax>
		<iron-ajax
				id="actionsRequester"
				method="POST"
				handle-as="json"
				on-response="handleActionsResponse"
				on-error="handleActionsError"
		></iron-ajax>
		<paper-header-panel main mode="waterfall">
			<paper-toolbar>
				<paper-icon-button class="drawer-menu drawer-toggle" icon="menu"
													 paper-drawer-toggle></paper-icon-button>
				<paper-icon-button class="drawer-menu" icon="icons:arrow-back" on-click="cancel"></paper-icon-button>
				<template is="dom-if" if="{{isNew}}">
					<div class="title">Добавить пользователя</div>
				</template>
				<template is="dom-if" if="{{!isNew}}">
					<div class="title">{{itemFields.name}}</div>
				</template>
				<paper-button on-click="save" id="btnCancel">Сохранить</paper-button>
				<div id="fabsSection">
					<template is="dom-if" if="{{!isNew}}">
						<!--<paper-fab title="Добавить заявку" id="fabNewOrder" icon="av:library-books" on-click="addOrder"></paper-fab>-->
					</template>
				</div>
			</paper-toolbar>
			<div id="formErrors"></div>
			<paper-tabs selected="{{selectedTab}}">
				<paper-tab>Общая информация</paper-tab>
				<template is="dom-if" if="{{!isNew}}">
					<paper-tab>Заявки</paper-tab>
				</template>
			</paper-tabs>
			<iron-pages selected="{{selectedTab}}">
				<!--general-->
				<div>
					<paper-material class="marged-10 padded-10">
						<template is="dom-if" if="{{!isNew}}">
							<div class="layout horizontal end-justified">
								<paper-toggle-button id="activeToggle" on-change="activityChanged" active="{{itemFields.active}}">
									Активность пользователя
								</paper-toggle-button>
							</div>
						</template>
						<paper-input name="name" label="ФИО" value="{{itemFields.name}}" auto-validate
												 required></paper-input>
						<gold-email-input id="emailInput" name="email" label="E-mail" value="{{itemFields.email}}"
															auto-validate required
															regex="^[-a-z0-9!#$%&'*+/=?^_`{|}~]+(\.[-a-z0-9!#$%&'*+/=?^_`{|}~]+)*@([a-z0-9]([-a-z0-9]{0,61}[a-z0-9])?\.)*(aero|arpa|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|[a-z][a-z])$"></gold-email-input>
						<h3 class="mini-label">Номера телефонов</h3>
						<phones-edit name="phones" value="{{itemFields.phones}}" required="true"></phones-edit>
						<paper-input name="username" label="Логин" value="{{itemFields.username}}" auto-validate
												 required></paper-input>
						<password-changer name="password"
															is-new="{{isNew}}"
															required="{{isNew}}"
															password="{{itemFields.password}}"
															password-confirm="{{itemFields.passwordConfirm}}">
						</password-changer>
						<paper-dropdown-menu id="roleDD" name="role" label="Роль пользователя" required auto-validate
																 on-iron-select="roleChanged">
							<paper-menu attr-for-selected="value" selected="{{itemFields.role}}"
													class="dropdown-content">
								<paper-item value="user">Пользователь</paper-item>
								<paper-item value="admin">Администратор</paper-item>
							</paper-menu>
						</paper-dropdown-menu>
					</paper-material>
				</div>
				<!--orders-->
				<div>
					<template is="dom-if" if="{{!isNew}}">
						<user-orders
								id="user-orders"
								user-id="{{itemFields.id}}"
								order-states="{{orderStates}}"
								form="order-form"></user-orders>
					</template>
				</div>
			</iron-pages>
		</paper-header-panel>
	</template>
	<script>
		Polymer({
			is                   : "user-form",
			behaviors            : [/*Polymer.NeonAnimatableBehavior, */FormBehavior],
			properties           : {
				urls           : Object,
				itemFields     : {
					type : Object,
					value: {
						id      : null,
						name    : '',
						phones  : [],
						email   : '',
						username: '',
						orders  : [],
						active  : 0,
						role    : {
							type : String,
							value: 'user'
						}
					}
				},
				password       : String,
				passwordConfirm: String,
				isNew          : {
					type: Number
				},
				isAdmin        : Boolean,
				orderStates    : Array,
				selectedTab: {
					type: Number,
					value: 0
				},
				entityRoute: String
			},
			_getDateString       : function (dateVal) {
				var dat = new Date(1000 * dateVal);
				var options = {
					month : 'long',
					day   : 'numeric',
					hour  : 'numeric',
					minute: 'numeric'
				};
				return dat.toLocaleString(Drupal.t('en'), options)
			},
			open                 : function (itemId, reopened) {
				if(!reopened) this.set('selectedTab', 0);
				//clear form errors
				this.$.formErrors.innerHTML = '';
				$(this.id + ' [name]').each(function () {
					$(this).removeAttr('invalid');
				});

				if (itemId) {
					app.loader.show();
					this.$.getRequester.set('url', this.urls.get + '/' + itemId);
					this.$.getRequester.generateRequest();
					$(this).removeClass('new');
					this.set('isNew', 0);
				} else {
					$(this).addClass('new');
					this.set('isNew', 1);
				}
			},
			handleGetResponse    : function (e) {
				var data = e.detail.response;
				this.set('itemFields', data);
				this.$$('#activeToggle').set('active', (this.itemFields.active) ? true : false);
				this.$.emailInput.validate();
				app.loader.hide();
			},
			handleGetError       : function (e, data) {
				app.loader.hide();
				var response = data.request.xhr.response;
				if (!app.checkErrorResponse(response)) return;
			},
			handlePutResponse    : function (e) {
				app.loader.hide();
				var data = e.detail.response;
				var status = e.detail.status;
				switch (status) {
						//item added
					case 201:
						app.addItem('users', data);
						app.toaster.show('Пользователь добавлен');
						app.openForm('user-form', 0, data.id, null, 1);
						this.$.formErrors.innerHTML = '';
						break;
						//item edited
					case 200:
						app.editItem('users', data);
						app.toaster.show('Пользователь изменен');
						app.openForm('user-form', 0, data.id, null, 1);
						this.$.formErrors.innerHTML = '';
						break;
					default:
						app.toaster.show('Неизвестная ошибка сервера');
						break;
				}
			},
			handleActionsResponse: function (e) {
				if (e.detail.url.replace('%id', this.itemFields.id) == this.urls.activate.replace('%id', this.itemFields.id)) {
					app.toaster.show('Пользователь активирован');
				} else if (e.detail.url.replace('%id', this.itemFields.id) == this.urls.deactivate.replace('%id',
								this.itemFields.id)) {
					app.toaster.show('Пользователь деактивирован');
				}
			},
			handleActionsError   : function (e, data) {
				app.loader.hide();
				var response = data.request.xhr.response;
				if (!app.checkErrorResponse(response)) return;
			},
			save                 : function () {
				app.loader.show();
				var self = this;
				setTimeout(function () {
					if (!self.isValid()) {
						app.loader.hide('save-user');
						app.toaster.show('Поля содержат ошибки');
						return;
					}
					self.$.putRequester.set('body', JSON.stringify({
						name           : (self.itemFields.name) ? self.itemFields.name.trim() : "",
						email          : (self.itemFields.email) ? self.itemFields.email.trim() : "",
						phones         : (self.itemFields.phones) ? self.itemFields.phones : [],
						username       : (self.itemFields.username) ? self.itemFields.username.trim() : "",
						password       : (self.itemFields.password) ? self.itemFields.password.trim() : "",
						passwordConfirm: (self.itemFields.passwordConfirm) ? self.itemFields.passwordConfirm.trim() : "",
						role           : (self.itemFields.role) ? self.itemFields.role : ""
					}));
					self.$.putRequester.set('contentType', 'application/json');
					self.$.putRequester.set('url', self.urls.put + ((self.isNew) ? '' : ('/' + self.itemFields.id)));
					self.$.putRequester.generateRequest();
				}, 300);
			},
			cancel               : function () {
				app.routeBack();
			},
			collapseBlock        : function (e) {
				//collapse
				e.path.forEach(function (par, par_i, par_arr) {
					if (par.tagName == 'PAPER-MATERIAL') {
						var collapser = par.querySelector('iron-collapse');
						collapser.toggle();
					}
				});
				//set icon
				var iconTarget;
				if (e.target.tagName == 'PAPER-ICON-BUTTON') iconTarget = e.target;
				else {
					e.path.forEach(function (par, par_i, par_arr) {
						if (par.tagName == 'PAPER-ICON-BUTTON') {
							iconTarget = par;
						}
					});
				}
				if (iconTarget.icon == 'icons:expand-less') iconTarget.set('icon', 'icons:expand-more');
				else iconTarget.set('icon', 'icons:expand-less');
			},
			highlightErrors      : function (errors) {
				app.loader.hide('save-user');
				var self = this;
				var errorsText = '';
				errors.forEach(function (er, er_i, er_ar) {
					var field = self.$$('*[name="' + er.field + '"]');
					if (typeof field != 'undefined') {
						field.set('errorMessage', er.message);
						field.set('invalid', true);
					}
					errorsText += '<li>' + er.message + '</li>'
				})
				self.$.formErrors.innerHTML = '<ul>' + errorsText + '</ul>';
			},
			isValid              : function () {
				var isValid = true;
				$(this.id + ' input[invalid]').each(function () {
					if ($(this).attr('invalid') != '0')
						isValid = false;
				});
				$(this.id + ' input').each(function () {
					if ($(this).hasClass('invalid'))
						isValid = false;
				});
				return isValid;
			},
			roleChanged          : function () {
				this.$.roleDD.invalid = false;
			},
			activityChanged      : function () {
				if (this.itemFields.active)
					this.$.actionsRequester.set('url', this.urls.activate.replace('%id', this.itemFields.id));
				else
					this.$.actionsRequester.set('url', this.urls.deactivate.replace('%id', this.itemFields.id));
				this.$.actionsRequester.generateRequest();
			},
			addOrder             : function () {
				app.openForm('order-form', 1, 0, {
					id   : this.itemFields.id,
					name : this.itemFields.name,
					field: 'assignee'
				})
			}
		});
	</script>
</dom-module>