<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="user-orders">
    <style>
        .search-list-header > div {
            width: 20% !important;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        .stateBody.open {
            color: #03a9f4
        }

        .stateBody.closed {
            color: #4caf50
        }

        .stateBody.rejected {
            color: #db4437
        }
    </style>
    <template>
        <iron-ajax
                id="requester"
                url="{{urls.list}}"
                handle-as="json"
                on-response="handleResponse"
                on-error="handleError"
                ></iron-ajax>
        <paper-material class="marged-10">
            <!--<h3 class="padded-10">Заявки пользователя</h3>-->

            <div class="search-list-header">
                <!--index-->
                <div>
                    <paper-input
                            class="filterField"
                            name="id"
                            type="search"
                            label="Номер"
                            on-change="filterChanged"></paper-input>
                    <div class="sorter">
                        <iron-icon
                                for="id"
                                direction="asc"
                                icon="icons:expand-more"
                                on-click="sortChanged"></iron-icon>
                    </div>
                </div>
                <!--counterparty-->
                <div>
                    <paper-input
                            class="filterField"
                            name="counterparty"
                            type="search"
                            label="Клиент"
                            on-change="filterChanged"></paper-input>
                    <div class="sorter">
                        <iron-icon
                                for="counterparty"
                                direction="asc"
                                icon="icons:expand-more"
                                on-click="sortChanged"></iron-icon>
                    </div>
                </div>
                <!--status-->
                <div>
                    <paper-dropdown-menu class="filterField" name="state" id="cpTypeFilter" label="Статус"
                                         class="toolbar-dropdown">
                        <paper-menu class="dropdown-content" selected="{{statusFilter}}" attr-for-selected="value">
                            <paper-item value="" class="stateBody">Всё</paper-item>
                            <template is="dom-repeat" items="{{orderStates}}" as="status">
                                <paper-item value="{{status.name}}" class$="{{status.name}} stateBody">
                                    {{status.title}}
                                </paper-item>
                            </template>
                        </paper-menu>
                    </paper-dropdown-menu>
                    <div class="sorter">
                        <iron-icon
                                for="state"
                                direction="asc"
                                icon="icons:expand-more"
                                on-click="sortChanged"></iron-icon>
                    </div>
                </div>
                <!--created-->
                <div>
                    <date-range-picker
                            class="filterField"
                            name="created"
                            label="Дата создания"
                            on-change="filterChanged"></date-range-picker>
                    <div class="sorter">
                        <iron-icon
                                for="created"
                                direction="asc"
                                icon="icons:expand-more"
                                on-click="sortChanged"></iron-icon>
                    </div>
                </div>
                <!--updated-->
                <div>
                    <date-range-picker
                            class="filterField"
                            name="updated"
                            label="Дата обновления"
                            on-change="filterChanged"></date-range-picker>
                    <div class="sorter">
                        <iron-icon
                                for="updated"
                                direction="asc"
                                icon="icons:expand-more"
                                on-click="sortChanged"></iron-icon>
                    </div>
                </div>
            </div>
            <vaadin-grid id="grid" style="height: calc(100vh - 220px)" on-selected-items-changed="selectionChanged"></vaadin-grid>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: "user-orders",
            behaviors: [SectionBehavior],
            properties: {
                sorting: {
                    type: Object,
                    value: {
                        par: 'id',
                        direction: 'asc'
                    }
                },
                orderStates: Array,
                statusFilter: {
                    type: String,
                    value: "",
                    observer: 'statusFilterChanged'
                },
                userId: {
                    type: Number,
                    observer: 'userIdChanged'
                }
            },
            ready: function(){
                this.set('urls', app.urls.orders);
                var self = this;
                var grid = this.$$('#grid');
                grid.columns = [
                  {name: 'id'},
                  {name: 'counterparty.name'},
                  {name: 'state'},
                  {name: 'created'},
                  {name: 'updated'}
                ];
                grid.columns[0].renderer = function(cell) {
                    cell.element.innerHTML = '#' + cell.data;
                };
                grid.columns[2].renderer = function(cell) {
                    cell.element.innerHTML = self.getStateName(cell.data);
                };
                grid.columns[3].renderer = function(cell) {
                    cell.element.innerHTML = self._getDateString(cell.data);
                };
                grid.columns[4].renderer = function(cell) {
                    cell.element.innerHTML = self._getDateString(cell.data);
                };

                this.$$('#grid').items = this.sendDataRequest;
//                this.refresh();
            },
            sendDataRequest: function (params, callback) {
                var self = document.getElementById('user-orders');
                var filterArr = [];
                $(self.id + ' .search-list-header paper-input.filterField').each(function () {
                    filterArr.push({
                        par: $(this).attr('name'),
                        value: this.value
                    });
                });
                $(self.id + ' .search-list-header date-range-picker').each(function () {
                    var vals = this.value;
                    if (typeof vals == 'undefined') {
                        filterArr.push({
                            par: $(this).attr('name') + '.min',
                            value: 0
                        });
                        filterArr.push({
                            par: $(this).attr('name') + '.max',
                            value: 0
                        });
                    } else {
                        filterArr.push({
                            par: $(this).attr('name') + '.min',
                            value: vals.min
                        });
                        filterArr.push({
                            par: $(this).attr('name') + '.max',
                            value: vals.max
                        });
                    }
                });
                filterArr.push({
                    par: 'assigneeId',
                    value: this.userId
                });
                self.set('filtering', filterArr);
                var requestParams = {
                    offset: (params) ? params.index : 0,
                    amount: (params) ? params.count : 0,
                    orderBy: self.sorting.par,
                    order: self.sorting.direction,
                    state: self.statusFilter,
                    assigneeId: self.userId
                };
                self.filtering.forEach(function (filter, filter_ind, filter_arr) {
                    requestParams[filter.par] = filter.value;
                });
                requestParams['assigneeId'] = self.userId;
                self.getJSON(self.urls.list, requestParams, function (json) {
                    if(callback) callback(json.result, json.size);
                });
            },
            userIdChanged: function(newValue, oldValue){
							if (parseInt(newValue)) {
								grid.items = [];
								this.$$('#grid').refreshItems();
								grid.items = this.sendDataRequest;
							}
            },
            statusFilterChanged: function (newVal, oldVal) {
                this.set('dataArray', []);
                if (typeof oldVal == 'undefined') return;
                this.sendDataRequest();
                this.$$('#grid').refreshItems();
            },
        });
    </script>
</dom-module>