<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="users-section">
	<style>
		:host {
			display : block;
			height  : 100vh;
		}

		.search-list-header > div {
			width           : 33.33% !important;
			display         : flex;
			justify-content : space-between;
			align-items     : flex-end;
		}
	</style>
	<template>
		<iron-ajax
				id="requester"
				url="{{urls.list}}"
				handle-as="json"
				on-response="handleResponse"
				on-error="handleError"
		></iron-ajax>
		<paper-header-panel main mode="waterfall">
			<paper-toolbar>
				<paper-icon-button class="drawer-menu drawer-toggle" icon="menu"
													 paper-drawer-toggle></paper-icon-button>
				<div class="title">{{caption}}</div>
				<paper-dropdown-menu id="userTypeFilter" label="Активность пользователя" class="toolbar-dropdown">
					<paper-menu class="dropdown-content" selected="{{typeFilter}}" attr-for-selected="value">
						<paper-item value="">Все</paper-item>
						<paper-item value="1">Активные</paper-item>
						<paper-item value="0">Неактивные</paper-item>
					</paper-menu>
				</paper-dropdown-menu>
				<paper-dropdown-menu id="userRoleFilter" label="Роль пользователя" class="toolbar-dropdown">
					<paper-menu class="dropdown-content" selected="{{roleFilter}}" attr-for-selected="value">
						<paper-item value="">Все</paper-item>
						<paper-item value="user">Пользователи</paper-item>
						<paper-item value="admin">Администраторы</paper-item>
					</paper-menu>
				</paper-dropdown-menu>
				<div id="fabsSection">
					<paper-fab id="addItemFab" title="Добавить пользователя" icon="add" on-click="addItem"></paper-fab>
				</div>
			</paper-toolbar>
			<div>
				<paper-material class="marged-10">
					<div class="search-list-header">
						<div>
							<paper-input
									name="username"
									type="search"
									label="Логин"
									on-change="filterChanged"></paper-input>
							<div class="sorter">
								<iron-icon
										for="username"
										direction="asc"
										class="active"
										icon="icons:expand-more"
										on-click="sortChanged"></iron-icon>
							</div>
						</div>
						<div>
							<paper-input
									name="name"
									type="search"
									label="Фамилия Имя Отчество"
									on-change="filterChanged"></paper-input>
							<div class="sorter">
								<iron-icon
										for="name"
										direction="asc"
										icon="icons:expand-more"
										on-click="sortChanged"></iron-icon>
							</div>
						</div>
						<div>
							<paper-input
									name="phone"
									type="search"
									label="Номер телефона"
									on-change="filterChanged"></paper-input>
						</div>
					</div>
					<vaadin-grid id="grid" style="height: calc(100vh - 159px)" on-selected-items-changed="selectionChanged">
						<!--<table>
								<colgroup>
										<col name="username"/>
										<col name="name"/>
										<col name="phones"/>
								</colgroup>
						</table>-->
					</vaadin-grid>
				</paper-material>
			</div>
		</paper-header-panel>
	</template>
	<script>
		Polymer({
			is               : "users-section",
			behaviors        : [/*Polymer.NeonAnimatableBehavior, */SectionBehavior],
			properties       : {
				filtering : {
					type : Array,
					value: [
						{
							par  : "name",
							value: ""
						},
						{
							par  : "phone",
							value: ""
						},
						{
							par  : "username",
							value: ""
						}
					]
				},
				typeFilter: {
					type    : String,
					value   : "",
					observer: 'typeFilterChanged'
				},
				roleFilter: {
					type    : String,
					value   : "",
					observer: 'roleFilterChanged'
				},
				sorting   : {
					type : Object,
					value: {
						par      : 'username',
						direction: 'asc'
					}
				},
			},
			typeFilterChanged: function (newVal, oldVal) {
				this.set('dataArray', []);
				if (typeof oldVal == 'undefined') return;
				this.$$('#grid').refreshItems();
			},
			roleFilterChanged: function (newVal, oldVal) {
				this.set('dataArray', []);
				if (typeof oldVal == 'undefined') return;
				this.$$('#grid').refreshItems();
			},
			//generate and send request
			sendDataRequest  : function (params, callback) {
				app.addLoading('users');
//                app.loader.show('users-section');
				var self = $('users-section')[0];
				var requestParams = {
					offset : (params) ? params.index : 0,
					amount : (params) ? params.count : 0,
					orderBy: self.sorting.par,
					order  : self.sorting.direction,
					active : self.typeFilter,
					role   : self.roleFilter
				};
				self.filtering.forEach(function (filter, filter_ind, filter_arr) {
					requestParams[filter.par] = filter.value;
				});

				self.getJSON(self.urls.list, requestParams, function (json) {
					app.removeLoading('users');
					if (callback) callback(json.result, json.size);
				});
			},
			ready            : function () {
				var self = this;
				var grid = this.$$('#grid');
				grid.columns = [
					{name: 'username'},
					{name: 'name'},
					{name: 'phones'}
				];
				grid.columns[2].renderer = function (cell) {
					var str = '';
					for (var i = 0; i < cell.data.length; i++)
						str += cell.data[i] + '</br>';
					cell.element.innerHTML = str;
				}
			},
		});
	</script>
</dom-module>