<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/md-autocomplete/md-autocomplete.html">

<dom-module id="yandex-map-realty">
  <style>
    :host {
      display : block;
    }

    .error {
      color : #DD2C00
    }
  </style>
  <template>
    <paper-material class="marged-10">
      <div class="padded-10">
        <!--<h3>Адрес объекта</h3>-->

        <div class="layout horizontal justified end">
          <best-dropdown
              label="Введите адрес"
              id="addressDd"
              value="{{addressString}}"
              on-input="addressChanged"
              invalid="{{invalid}}"
              error-message="{{errorMessage}}"
              disabled="{{!isAdmin}}"></best-dropdown>
          <paper-input
              disabled="{{!isAdmin}}" value="{{room}}" label="Квартира"></paper-input>
        </div>
      </div>
      <div id="map"></div>
      <div class="padded-10 regions">
        <div class="country">Страна: {{country}}</div>
        <div class="region">Регион: {{region}}</div>
        <div class="city">Город: {{city}}</div>
        <div class="street">Улица: {{street}}</div>
        <div class="building">Строение: {{building}}</div>
        <div class="room">Квартира: {{room}}</div>
      </div>
    </paper-material>
  </template>
  <script>
    Polymer({
      is            : "yandex-map-realty",
      properties    : {
        invalid              : {
          type : Boolean,
          value: false,
        },
        errorMessage         : String,
        map                  : Object,
        addressString        : Number,
        country              : {
          type  : String,
          notify: true
        },
        region               : {
          type  : String,
          notify: true
        },
        subAdministrativeArea: {
          type  : String,
          notify: true
        },
        city                 : {
          type  : String,
          notify: true
        },
        street               : {
          type  : String,
          notify: true
        },
        building             : {
          type  : String,
          notify: true
        },
        room                 : {
          type  : String,
          notify: true
        },
        lat                  : {
          type  : String,
          notify: true
        },
        lon                  : {
          type  : String,
          notify: true
        },
        valid                : {
          type : Boolean,
          value: true
        }
      },
      local         : function (string) {
        return Drupal.t(string);
      },
      ready         : function () {
        var self = this;
        $(window).resize(function () {
          setTimeout(function () {
            if (self.map) self.map.container.fitToViewport();
          }, 300);
        });
      },
      init          : function (address) {
        var self = this;
        if (!self.map) {
          self.map = new ymaps.Map(
              $(self.$.map)[0],
              {
                center   : [55.74954, 37.621587],
                zoom     : 10,
                controls : ['zoomControl'],
                behaviors: ['drag', 'dblClickZoom', 'multiTouch']
              }
          );
        }
        if (address) {
          self.addressChanged({
            srcElement: {
              value: address
            }
          }, true);
        } else {
          self.map.setCenter([55.74954, 37.621587], 10);
          this.map.geoObjects.removeAll();
        }
        //fit map
        setTimeout(function () {
          if (self.map) self.map.container.fitToViewport();
        }, 500);
        this.$.addressDd.set('value', address);
        this.$.addressDd.set('source', []);
      },
      _getDateString: function (dateVal) {
        var dat = new Date(1000 * dateVal);
        var options = {
          month : 'long',
          day   : 'numeric',
          hour  : 'numeric',
          minute: 'numeric'
        };
        return dat.toLocaleString(Drupal.t('en'), options)
      },
      setMapPosZoom : function (coords, addressObject, geoObj) {
        var self = this;
        self.map.geoObjects.removeAll();
        self.map.geoObjects.add(geoObj);
        //map position
        var geoType = addressObject.metaDataProperty.GeocoderMetaData.kind;
        var zoom = 17;
        switch (geoType) {
          case 'province':
          {
            zoom = 9;
            break;
          }
          case 'locality':
          {
            zoom = 12;
            break;
          }
          case 'street':
          {
            zoom = 14;
            break;
          }
          case 'house':
          {
            zoom = 17;
            break;
          }
          default:
          {
            zoom = 17;
            break;
          }
        }
        self.map.setCenter(coords, zoom);
      },
      getGeoObject  : function (string, justOpened, callback) {
        var self = this;
        var myGeocoder = ymaps.geocode(string);
        myGeocoder.then(
            function (res) {
              var valid = true;
              var object = res.geoObjects.get(0);
              self.setMapPosZoom(res.geoObjects.get(0).geometry._coordinates, object.properties.getAll(), object);
              self.set('lat', object.geometry._coordinates[0]);
              self.set('lon', object.geometry._coordinates[1]);

              self.set('country', object.getCountry());
              //area
              self.set('region', object.getAdministrativeAreas()[0]);
              //city
//              self.set('city', object.getLocalities()[0]);
              if(object.getLocalities()[0])
                self.set('city', object.getLocalities()[0]);
              else {
                var city;
                var addrArr = string.split(',');
                for(var i=0; i<addrArr.length; i++){
                  var condidate = addrArr[i].trim();
                  if(condidate != object.getCountry() &&
                      condidate != object.getAdministrativeAreas()[0] &&
                      condidate != object.getThoroughfare() &&
                      condidate != object.getPremiseNumber()){
                    city = condidate;
                    break;
                  }
                }
                self.set('city', condidate);
              }
              //street
              self.set('street', object.getThoroughfare());
              //building
              self.set('building', object.getPremiseNumber());

              //autocompletes
              if (!justOpened) {
                ymaps.suggest(string).then(function (items) {
                  var autoCompArr = [];
                  items.forEach(function (suggest, suggest_i, suggest_arr) {
                    autoCompArr.push(suggest.value);
                  })
                  self.$.addressDd.set('source', autoCompArr);
                });
              }

              if (!self.country || !self.region || !self.city || !self.street || !self.building) {
                callback(false);
              }
              else callback(true);

            },
            function (err) {
            });
      },
      addressChanged: function (e, justOpened) {
        var self = this;
        self.getGeoObject(e.srcElement.value, justOpened, function (res) {
          e.path.forEach(function (par, par_i, par_arr) {
            if (par.tagName == 'PAPER-TEXTAREA') {
              par.invalid = (res) ? false : true;
              self.set('valid', (res) ? true : false);
            }
          })
        });
        this.highlightError();
      },
      destroy       : function () {
        if (this.map) this.map.destroy();
      },
      highlightError: function () {
        var self = this;
        $('yandex-map-realty .regions div').each(function () {
          $(this).removeClass('error');
          if (!self.country) $(self.$$('.country')).addClass('error');
          if (!self.region) $(self.$$('.region')).addClass('error');
          if (!self.city) $(self.$$('.city')).addClass('error');
        })
      },
    });
  </script>
</dom-module>