<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="counterparties-section">
    <style>
        .search-list-header > div {
            width: 33.33% !important;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        :host {
            display: block;
            height: 100vh;
        }
    </style>
    <template>
        <iron-ajax
                id="requester"
                url="{{urls.list}}"
                on-response="handleResponse"
                handle-as="json"
                on-error="handleError"
                verbose="true"
                ></iron-ajax>
        <paper-header-panel main mode="waterfall">
            <paper-toolbar>
                <paper-icon-button class="drawer-menu drawer-toggle" icon="menu"
                                   paper-drawer-toggle></paper-icon-button>
                <div class="title">{{caption}}</div>
                <paper-dropdown-menu id="cpTypeFilter" label="Тип контрагента" class="toolbar-dropdown">
                    <paper-menu class="dropdown-content" selected="{{typeFilter}}" attr-for-selected="value">
                        <paper-item value="">Все</paper-item>
                        <paper-item value="customer">Клиенты</paper-item>
                        <paper-item value="owner">Собственники</paper-item>
                    </paper-menu>
                </paper-dropdown-menu>
                <div id="fabsSection">
                    <paper-fab id="addItemFab" title="Добавить контрагента" icon="add" on-click="addItem"></paper-fab>
                </div>
            </paper-toolbar>
            <paper-material class="marged-10">
                <div class="search-list-header">
                    <div>
                        <paper-input
                                name="name"
                                type="search"
                                label="Фамилия Имя Отчество"
                                on-change="filterChanged"></paper-input>
                        <div class="sorter">
                            <iron-icon
                                    for="name"
                                    direction="asc"
                                    class="active"
                                    icon="icons:expand-more"
                                    on-click="sortChanged"></iron-icon>
                        </div>
                    </div>
                    <div>
                        <paper-input
                                name="phone"
                                type="search"
                                label="Номер телефона"
                                on-change="filterChanged"></paper-input>
                    </div>
                    <div>
                        <paper-input
                                name="email"
                                type="search"
                                label="Email"
                                on-change="filterChanged"></paper-input>
                        <div class="sorter">
                            <iron-icon
                                    for="email"
                                    direction="asc"
                                    icon="icons:expand-more"
                                    on-click="sortChanged"></iron-icon>
                        </div>
                    </div>
                </div>
                <vaadin-grid id="grid" style="height: calc(100vh - 159px)" on-selected-items-changed="selectionChanged">
                    <!--<table>
                        <colgroup>
                            <col name="name"/>
                            <col name="phones"/>
                            <col name="email"/>
                        </colgroup>
                    </table>-->
                </vaadin-grid>
            </paper-material>
        </paper-header-panel>

        <script>

            function counterpartiesHideTt(){
                $('#cpTooltip #tooltip').addClass('hidden');
            }
        </script>
    </template>
    <script>
        Polymer({
            is: "counterparties-section",
            behaviors: [/*Polymer.NeonAnimatableBehavior, */SectionBehavior],
            properties: {
                request: {},
                filtering: {
                    type: Array,
                    value: [
                        {
                            par: "name",
                            value: ""
                        },
                        {
                            par: "phone",
                            value: ""
                        },
                        {
                            par: "email",
                            value: ""
                        }
                    ]
                },
                typeFilter: {
                    type: String,
                    value: "",
                    observer: 'typeFilterChanged'
                },
            },
            typeFilterChanged: function (newVal, oldVal) {
                if (typeof oldVal == 'undefined') return;
                this.$$('#grid').refreshItems();
            },
            //generate and send request
            sendDataRequest: function (params, callback) {
							app.addLoading('counterparties');
//                app.loader.show('counterparties-section');
                var self = $('counterparties-section')[0];
                var requestParams = {
                    offset: (params) ? params.index : 0,
                    amount: (params) ? params.count : 0,
                    orderBy: self.sorting.par,
                    order: self.sorting.direction,
                    type: self.typeFilter
                };
                self.filtering.forEach(function (filter, filter_ind, filter_arr) {
                    requestParams[filter.par] = filter.value;
                });
                self.getJSON(self.urls.list, requestParams, function (json) {
									app.removeLoading('counterparties');
                    if(callback) callback(json.result, json.size);
                });
            },
            ready: function () {
                var self = this;
                var grid = this.$$('#grid');
                grid.columns = [
									{name: 'name'},
									{name: 'phones'},
									{name: 'email'}
								];
                grid.columns[1].renderer = function(cell) {
                    var str = '<span>';
                    var isMore = false;
                    for(var i=0; i<cell.data.length; i++){
                        if(i>2) {
                            isMore = true;
                            break;
                        }
                        str += cell.data[i]+'</br>';
                    }
                    str += '</span>';
                    if(isMore){
                        var tootltipStr = '<span>';
                        var more = cell.data.length - 3;
                        for(var i=3; i<cell.data.length; i++){
                            tootltipStr += cell.data[i]+'</br>';
                        }
                        tootltipStr += '</span>';
                        str += '<span style="padding: 2px; color: #808080"' +
                                'onmouseleave="app.hideTooltip()" ' +
                                'onmouseover="app.showTooltip(this, \'tt-'+cell.row.index+'\', \''+tootltipStr+'\')" id="tt-' + cell.row.index + '">' +
                                'и еще ' + more + '... </span>';
                    }
                    cell.element.innerHTML = str;
                }
            },
        });
    </script>
</dom-module>