<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="counterparty-form">
	<style>
		.orders-times {
			color : #808080;
		}

		.orders-times span {
			width   : 217px;
			display : inline-block;
			color   : #212121;
		}

		:host {
			display : block;
			height  : 100vh;
		}
		paper-tabs {
			--paper-tabs-selection-bar-color : #303F9F;
			background-color                 : #FFFFFF;
			position                         : relative;
			top                              : 10px;
			width                            : calc(100% - 20px);
			margin                           : 0 10px;
			box-shadow                       : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		}

		paper-tab {
			--paper-tab-ink : #303F9F;
		}
	</style>
	<template>
		<iron-ajax
				id="getRequester"
				method="GET"
				handle-as="json"
				on-response="handleGetResponse"
		></iron-ajax>
		<iron-ajax
				id="putRequester"
				method="PUT"
				handle-as="json"
				on-response="handlePutResponse"
				on-error="handlePutError"
		></iron-ajax>
		<paper-header-panel main mode="waterfall">
			<paper-toolbar>
				<paper-icon-button class="drawer-menu drawer-toggle" icon="menu" paper-drawer-toggle></paper-icon-button>
				<paper-icon-button class="drawer-menu" icon="icons:arrow-back" on-click="cancel"></paper-icon-button>
				<template is="dom-if" if="{{isNew}}">
					<div class="title">Добавить контрагента</div>
				</template>
				<template is="dom-if" if="{{!isNew}}">
					<div class="title">{{itemFields.name}}</div>
				</template>
				<paper-button on-click="save" id="btnCancel">Сохранить</paper-button>
				<div id="fabsSection">
					<template is="dom-if" if="{{!isNew}}">
						<paper-fab title="Добавить заявку" id="fabNewOrder" icon="av:library-books" on-click="addOrder"></paper-fab>
						<paper-fab title="Добавить объект" id="fabNewRealty" icon="communication:business"
											 on-click="addRealty"></paper-fab>
					</template>
				</div>
			</paper-toolbar>
			<div id="formErrors"></div>
			<paper-tabs selected="{{selectedTab}}">
				<paper-tab>Общая информация</paper-tab>
				<paper-tab disabled="{{isNew}}">Комментарии</paper-tab>
				<paper-tab disabled="{{isNew}}">Объекты и заявки</paper-tab>
			</paper-tabs>
			<iron-pages selected="{{selectedTab}}">
				<!--general-->
				<div>
					<paper-material class="marged-10 padded-10 top-pad">
						<template is="dom-if" if="{{!isNew}}">
							<div class="orders-times" style="padding-top: 7px;">
								<div><span>Дата первого обращения: </span>{{firstOrder}}</div>
								<div><span>Дата последнего обращения: </span>{{lastOrder}}</div>
							</div>
						</template>
						<!--NAME-->
						<paper-input name="name"
												 label="ФИО"
												 value="{{itemFields.name}}"
												 auto-validate
												 required
												 error-message="Имя контрагента обязательно для ввода"></paper-input>
						<!--EMAIL-->
						<gold-email-input id="emailInput"
															name="email"
															label="E-mail"
															value="{{itemFields.email}}"
															onInput="this.invalid = false"
															regex="^[-a-z0-9!#$%&'*+/=?^_`{|}~]+(\.[-a-z0-9!#$%&'*+/=?^_`{|}~]+)*@([a-z0-9]([-a-z0-9]{0,61}[a-z0-9])?\.)*(aero|arpa|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|[a-z][a-z])$"></gold-email-input>
						<!--PHONES-->
						<h3 class="mini-label">Номера телефонов</h3>
						<phones-edit value="{{itemFields.phones}}" required="true" name="phones"></phones-edit>
						<!--INFO-->
						<paper-textarea name="info" label="Описание контрагента"
														value="{{itemFields.info}}"></paper-textarea>
					</paper-material>
				</div>
				<!--comments-->
				<div>
					<template is="dom-if" if="{{!isNew}}">
						<paper-material class="marged-10 padded-10">
							<div class="comments">
								<div class="tools cardHead">
									<!--<h3>Комментарии</h3>-->
									<span class="manage">
                                        <span
																						on-click="commentsAll">Показать все</span>
                                    </span>
									<!--<paper-icon-button title="Развернуть" class="h3-icon" icon="icons:expand-less"
																		 on-click="collapseBlock"></paper-icon-button>-->
								</div>
								<iron-collapse class="comments-container" opened>
									<div class="layout horizontal justified add-comment-container">
										<paper-textarea onInput="this.invalid = false" value="{{newComment}}" id="newCommentText"
																		class="padded-10" label="Введите текст нового комментария"></paper-textarea>
										<paper-button on-click="addComment">Добавить комментарий</paper-button>
									</div>
									<template is="dom-repeat" items="{{itemFields.comments}}" as="comment">
										<div class="comment-item">
											<paper-textarea disabled class="text" value="{{comment.comment}}"></paper-textarea>
											<div class="description">
												<div class="assignee">{{comment.author.name}}</div>
												<div class="date">{{_getDateString(comment.created)}}</div>
											</div>
										</div>
										<div class="clear"></div>
									</template>
								</iron-collapse>
							</div>
						</paper-material>
					</template>
				</div>
				<!--orders and realtiers-->
				<div>
					<template is="dom-if" if="{{!isNew}}">
						<div class="right">
							<paper-material class="marged-10">
								<div class="cardHead">
									<h3 class="first" style="padding-left: 10px;">Заявки клиента</h3>
									<paper-icon-button title="Развернуть" class="h3-icon" icon="icons:expand-less"
																		 on-click="collapseBlock"></paper-icon-button>
								</div>
								<iron-collapse class="orders-container" opened>
									<template is="dom-repeat" items="{{itemFields.orders}}" as="order">
										<paper-item class="cp-order-item" on-click="openOrder" index$="{{order.id}}">
											<div class="name">#{{order.id}}</div>
											<paper-item-body three-line>
												<div>{{order.assignee.name}}</div>
												<div>{{order.name}}</div>
												<div secondary>{{_getDateString(order.updated)}}</div>
											</paper-item-body>
											<paper-item-body style="align-items: flex-end;">
												{{getStateName(order.state)}}
											</paper-item-body>
										</paper-item>
									</template>
								</iron-collapse>
							</paper-material>
							<paper-material class="marged-10">
								<div class="cardHead">
									<h3 style="padding-left: 10px;">Объекты собственника</h3>
									<paper-icon-button title="Развернуть" class="h3-icon" icon="icons:expand-less"
																		 on-click="collapseBlock"></paper-icon-button>
								</div>
								<iron-collapse class="realties-container" opened>
									<template is="dom-repeat" items="{{itemFields.realties}}" as="realty">
										<paper-item class="cp-realty-item" on-click="openRealty" index$="{{realty.id}}">
											<paper-item-body three-line>
												<div>{{realty.address.city}}, {{realty.address.street}},
														 {{realty.address.building}}, {{realty.address.room}}
												</div>
												<div secondary>{{_getDateString(realty.updated)}}</div>
											</paper-item-body>
										</paper-item>
									</template>
								</iron-collapse>
							</paper-material>
						</div>
					</template>
				</div>
			</iron-pages>
		</paper-header-panel>
	</template>
	<script>
		Polymer({
			is               : "counterparty-form",
			behaviors        : [/*Polymer.NeonAnimatableBehavior, */FormBehavior],
			properties       : {
				animationConfig: {
					value: function () {
						return {
							'entry': {
								name: 'slide-from-right-animation',
								node: this
							},
							'exit' : {
								name: 'slide-right-animation',
								node: this
							}
						}
					}
				},
				urls           : Object,
				itemFields     : {
					type : Object,
					value: {
						id       : null,
						name     : '',
						phones   : [],
						email    : '',
						comments : [],
						realities: [],
						orders   : [],
						type     : [],
						info     : ''
					}
				},
				firstOrder     : {
					type: String
				},
				lastOrder      : {
					type: String
				},
				isNew          : Number,
				newComment     : String,
				isAdmin        : Boolean,
				orderStates    : Array,
				selectedTab    : {
					type : Number,
					value: 0
				},
				entityRoute: String
			},
			local            : function (string) {
				return Drupal.t(string);
			},
			_getDateString   : function (dateVal) {
				var dat = new Date(1000 * dateVal);
				var options = {
					month : 'long',
					day   : 'numeric',
					hour  : 'numeric',
					minute: 'numeric',
					year  : 'numeric'
				};
				return dat.toLocaleString('ru', options)
			},
			open             : function (itemId, reopened) {
				if(!reopened) this.set('selectedTab', 0);
				if (itemId) this.set('isNew', false)
				else this.set('isNew', true)
				//clear form errors
				this.$.formErrors.innerHTML = '';
				$(this.id + ' *[name]').each(function () {
					if (typeof this.set === 'function') this.set('invalid', false);
					$(this).removeAttr('invalid');
				});

				if (itemId) {
					app.loader.show();
					this.$.getRequester.set('url', this.urls.get + '/' + itemId);
					this.$.getRequester.generateRequest();
					$(this).removeClass('new');
				} else {
					$(this).addClass('new');
				}
			},
			handleGetResponse: function (e) {
				var data = e.detail.response;
				this.set('itemFields', data);
				app.loader.hide();

				this.set('firstOrder', this.getFirstOrder());
				this.set('lastOrder', this.getLastOrder());
			},
			handlePutResponse: function (e) {
				app.loader.hide('save-cp');
				var data = e.detail.response;
				var status = e.detail.status;
				switch (status) {
						//item added
					case 201:
						app.addItem('counterparties', data);
						app.toaster.show('Контрагент добавлен');
						app.openForm('counterparty-form', 0, data.id, null, 1);
						this.$.formErrors.innerHTML = '';
						break;
						//item edited
					case 200:
						app.editItem('counterparties', data);
						app.toaster.show('Контрагент изменен');
						app.openForm('counterparty-form', 0, data.id, null, 1);
						this.$.formErrors.innerHTML = '';
						break;
					default:
						app.toaster.show('Неизвестная ошибка сервера');
						break;
				}
			},
			save             : function () {
				app.loader.show('save-cp');
				var self = this;
				//добавил интервал всвязи с задержкой валидации номера телефона
				setTimeout(function () {
					if (!self.isValid()) {
						app.loader.hide('save-cp');
						app.toaster.show('Поля содержат ошибки');
						return;
					}
					//save comment
					if (!self.isNew && typeof self.newComment != 'undefined' && self.newComment && self.newComment.trim() != '') {
						self.addComment(function () {
							//save form
							self.$.putRequester.set('body', JSON.stringify({
								name  : (self.itemFields.name) ? self.itemFields.name.trim() : "",
								email : (self.itemFields.email) ? self.itemFields.email.trim() : "",
								phones: self.itemFields.phones,
								info  : (self.itemFields.info) ? self.itemFields.info : ""
							}));
							self.$.putRequester.set('contentType', 'application/json');
							self.$.putRequester.set('url', self.urls.put + ((self.isNew) ? '' : ('/' + self.itemFields.id)));
							self.$.putRequester.generateRequest();
						});
					} else {
						//save form
						self.$.putRequester.set('body', JSON.stringify({
							name  : (self.itemFields.name) ? self.itemFields.name.trim() : "",
							email : (self.itemFields.email) ? self.itemFields.email.trim() : "",
							phones: self.itemFields.phones,
							info  : (self.itemFields.info) ? self.itemFields.info : ""
						}));
						self.$.putRequester.set('contentType', 'application/json');
						self.$.putRequester.set('url', self.urls.put + ((self.isNew) ? '' : ('/' + self.itemFields.id)));
						self.$.putRequester.generateRequest();
					}
				}, 300);
			},
			cancel           : function () {
				app.routeBack();
//                app.setCurrentSectionByName('counterparties');
			},
			collapseBlock    : function (e) {
				//collapse
				e.path.forEach(function (par, par_i, par_arr) {
					if (par.tagName == 'PAPER-MATERIAL') {
						var collapser = par.querySelector('iron-collapse');
						collapser.toggle();
					}
				});
				//set icon
				var iconTarget;
				if (e.target.tagName == 'PAPER-ICON-BUTTON') iconTarget = e.target;
				else {
					e.path.forEach(function (par, par_i, par_arr) {
						if (par.tagName == 'PAPER-ICON-BUTTON') {
							iconTarget = par;
						}
					});
				}
				if (iconTarget.icon == 'icons:expand-less') iconTarget.set('icon', 'icons:expand-more');
				else iconTarget.set('icon', 'icons:expand-less');
			},
			highlightErrors  : function (errors) {
				app.loader.hide('save-cp');
				var self = this;
				var errorsText = '';
				errors.forEach(function (er, er_i, er_ar) {
					var field = self.$$('*[name="' + er.field + '"]');
					if (typeof field != 'undefined') {
						field.set('errorMessage', er.message);
						field.set('invalid', true);
					}
					errorsText += '<li>' + er.message + '</li>'
				})
				self.$.formErrors.innerHTML = '<ul>' + errorsText + '</ul>';
			},
			isValid          : function () {
				var isValid = true;
				$(this.id + ' input[invalid]').each(function () {
					if ($(this).attr('invalid') != '0')
						isValid = false;
				});
				$(this.id + ' input').each(function () {
					if ($(this).hasClass('invalid'))
						isValid = false;
				});
				return isValid;
			},
			comments3        : function () {
				console.info('get 3 comments');
			},
			commentsAll      : function () {
				console.info('get ALL comments');
			},
			getFirstOrder    : function (item) {
				var firstTimestamp = -1;
				if (this.itemFields.orders)
					this.itemFields.orders.forEach(function (order, order_ind, order_arr) {
						if (firstTimestamp == -1) firstTimestamp = order.updated;
						if (order.updated < firstTimestamp) firstTimestamp = order.updated;
					});

				if (firstTimestamp == -1) return 'Заявки отстутствуют';
				return this._getDateString(firstTimestamp);
			},
			getLastOrder     : function () {
				var lastTimestamp = -1;
				if (this.itemFields.orders)
					this.itemFields.orders.forEach(function (order, order_ind, order_arr) {
						if (lastTimestamp == -1) lastTimestamp = order.updated;
						if (order.updated > lastTimestamp) lastTimestamp = order.updated;
					});

				if (lastTimestamp == -1) return 'Заявки отстутствуют';
				return this._getDateString(lastTimestamp);
			},
			toggleDrawer     : function () {
				app.toggleDrawer();
			},
			addComment       : function (callback) {
				if (typeof this.newComment == 'undefined' || !this.newComment || this.newComment.trim() == '') {
					this.$$('#newCommentText').invalid = true;
					this.$$('#newCommentText').errorMessage = 'Введите комментарий';
					app.toaster.show('Введите текст комментария');
					return;
				}
				var self = this;
				app.addComment('counterparties', this.itemFields.id, {
					comment: this.newComment
				}, function (res) {
					if (res) {
						if (typeof callback == 'function') callback(true);
						self.unshift('itemFields.comments', res);
						self.set('newComment', '');
						app.toaster.show('Комментарий добавлен');
					}
				});
			},
			commentsAll      : function () {
				var self = this;
				app.commentsAll('counterparties', this.itemFields.id, function (res) {
					if (res) {
						self.set('itemFields.comments', res.comments);
					}
				});
			},
			openOrder        : function (e) {
				var caller = app.getNeededSrc(e, 'paper-item', 'tag');
				app.openForm('order-form', 0, $(caller).attr('index'));
			},
			openRealty       : function (e) {
				var caller = app.getNeededSrc(e, 'paper-item', 'tag');
				app.openForm('realty-form', 0, $(caller).attr('index'));
			},
			addOrder         : function () {
				app.openForm('order-form', 1, 0, {
					field : 'counterparty',
					entity: this.itemFields
				})
			},
			addRealty        : function () {
				app.openForm('realty-form', 1, 0, {
					field : 'owner',
					entity: this.itemFields
				})
			},
			getStateName     : function (name) {
				var title;
				this.orderStates.forEach(function (status, status_i, status_arr) {
					if (status.name.toLowerCase() == name.toLowerCase())
						title = status.title;
				});
				return title;
			},
		});
	</script>
</dom-module>