<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="counterparty-form-modal">
	<style>

	</style>
	<template>
		<paper-dialog
				modal
				id="dialog"
				always-on-top
				entry-animation="fade-in-animation"
				exit-animation="fade-out-animation"
				on-iron-overlay-opened="patchOverlay"
		>
			<h2>{{caption}}</h2>
			<div id="formErrors"></div>
			<paper-dialog-scrollable>
				<paper-input name="name"
										 label="ФИО"
										 value="{{itemFields.name}}"
										 auto-validate
										 required
										 error-message="Имя контрагента обязательно для ввода"
										 class="form-field"
				></paper-input>
				<!--EMAIL-->
				<gold-email-input id="emailInput"
													name="email"
													label="E-mail"
													value="{{itemFields.email}}"
													onInput="this.invalid = false"
													regex="^[-a-z0-9!#$%&'*+/=?^_`{|}~]+(\.[-a-z0-9!#$%&'*+/=?^_`{|}~]+)*@([a-z0-9]([-a-z0-9]{0,61}[a-z0-9])?\.)*(aero|arpa|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|[a-z][a-z])$"
													class="form-field"></gold-email-input>
				<!--PHONES-->
				<h3 class="mini-label">Номера телефонов</h3>
				<phones-edit phones="{{itemFields.phones}}"
										 required="true"
										 name="phones"
										 class="form-field"></phones-edit>
				<!--INFO-->
				<paper-textarea name="info"
												label="Описание контрагента"
												value="{{itemFields.info}}"
												class="form-field"
				></paper-textarea>
			</paper-dialog-scrollable>
			<div class="buttons">
				<paper-button dialog-dismiss>Отмена</paper-button>
				<paper-button on-click="save">Сохранить</paper-button>
			</div>
		</paper-dialog>
	</template>
	<script>
		Polymer({
			is          : "counterparty-form-modal",
			behaviors   : [FormModalBehavior],
			properties  : {},
			patchOverlay: function (e) {
				if (e.target.withBackdrop) {
					e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
				}
			}
		});
	</script>
</dom-module>