<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="realties-section">
    <style>
        .search-list-header > div{
            width: calc(25% - 25px) !important;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        .search-list-header > div:nth-child(1){
            width: 70px !important;
            min-width: 70px !important;
        }
        .addressBody{
            font-size: 9pt;
            line-height: 16px;
        }
    </style>
    <template>
        <paper-header-panel main mode="waterfall">
            <paper-toolbar>
                <paper-icon-button class="drawer-menu drawer-toggle" icon="menu" paper-drawer-toggle></paper-icon-button>
                <div class="title">{{caption}}</div>
                <!--<paper-button on-click="refresh">update</paper-button>-->
                <multi-dropdown
                        id="purposes"
                        items="{{realtyPurposes}}"
                        on-change="purposesChanged"
                        icon="icons:filter-list"
                        ></multi-dropdown>
                <div id="fabsSection">
                    <template is="dom-if" if="{{isAdmin}}">
                        <paper-fab id="addItemFab" title="Добавить объект" icon="add" on-click="addItem"></paper-fab>
                    </template>
                </div>
            </paper-toolbar>
            <paper-material class="marged-10">
                <div class="search-list-header">
                    <!--address-->
                    <div class="empty"></div>
                    <div>
                        <paper-input
                                class="filterField"
                                name="address"
                                type="search"
                                label="Адрес"
                                on-change="filterChanged"></paper-input>
                        <div class="sorter">
                            <iron-icon
                                    for="address"
                                    class="active"
                                    direction="asc"
                                    icon="icons:expand-more"
                                    on-click="sortChanged"></iron-icon>
                        </div>
                    </div>
                    <!--phone-->
                    <div>
                        <paper-input
                                class="filterField"
                                name="phone"
                                type="search"
                                label="Номер телефона"
                                on-change="filterChanged"></paper-input>
                    </div>
                    <!--created-->
                    <div>
                        <date-range-picker
                                class="filterField"
                                name="created"
                                label="Дата создания"
                                on-change="filterChanged"></date-range-picker>
                        <div class="sorter">
                            <iron-icon
                                    for="created"
                                    direction="asc"
                                    icon="icons:expand-more"
                                    on-click="sortChanged"></iron-icon>
                        </div>
                    </div>
                    <!--updated-->
                    <div>
                        <date-range-picker
                                class="filterField"
                                name="updated"
                                label="Дата обновления"
                                on-change="filterChanged"></date-range-picker>
                        <div class="sorter">
                            <iron-icon
                                    for="updated"
                                    direction="asc"
                                    icon="icons:expand-more"
                                    on-click="sortChanged"></iron-icon>
                        </div>
                    </div>
                </div>
                <vaadin-grid id="grid" style="height: calc(100vh - 159px)" on-selected-items-changed="selectionChanged">
                    <!--<table>
                        <colgroup>
                            <col name="images" width="70px"/>
                            <col name="address"/>
                            <col name="phones"/>
                            <col name="created"/>
                            <col name="updated"/>
                        </colgroup>
                    </table>-->
                </vaadin-grid>
            </paper-material>
        </paper-header-panel>
        <script>
            function showPhoto(e, o){
                e.preventDefault();
                e.stopPropagation();
            }
        </script>
    </template>
    <script>
        Polymer({
            is: "realties-section",
            behaviors: [/*Polymer.NeonAnimatableBehavior, */SectionBehavior],
            properties: {
                sorting: {
                    type: Object,
                    value: {
                        par: 'address',
                        direction: 'asc'
                    }
                },
                filtering: {
                    type: Array,
                    value: [
                        {
                            par: "name",
                            value: ""
                        },
                        {
                            par: "address",
                            value: ""
                        },
                        {
                            par: "phone",
                            value: ""
                        },
                        {
                            par: "created",
                            value: {
                                min: 0,
                                max: 0
                            }
                        },
                        {
                            par: "updated",
                            value: {
                                min: 0,
                                max: 0
                            }
                        },
                        {
                            par: "offerType",
                            value: ''
                        },
                        {
                            par: 'purposes',
                            value: []
                        },
                        {
                            par: "offerType",
                            value: 1
                        }
                    ]
                },
                bundleProperty: {
                    type: String,
                    value: 'offerType'
                },
                realtyPurposes: Array
            },
            ready: function () {
                var self = this;

                $(this.tagName).on('click', 'tr', function(e){
                })
                $(this.tagName + ' tr').click(function(e){
                })

                var grid = this.$$('#grid');
                grid.columns = [
                  {name: 'images', width: '70px'},
                  {name: 'address'},
                  {name: 'phones'},
                  {name: 'created'},
                  {name: 'updated'}
                ];
                grid.columns[0].renderer = function(cell) {
                    if(cell.data.length){
                        cell.element.innerHTML =    '<iron-image preload ' +
                                                    'onclick="app.imgViewer.openFromVaadin(event, this, ' +
                                                                                    '\'' + encodeURI(JSON.stringify(cell.data)) + '\', \'realties-section\')" ' +
                                                    'class="showPhotos" sizing="cover" style="width: 70px;height: 50px;" ' +
                                                    'index$="' + cell.row + '" ' +
                                                    'src="' + cell.data[0].thumbnails.h70 + '"></iron-image>';
                    }else{
                        cell.element.innerHTML = '<iron-image preload sizing="contain" style="width: 70px;height: 50px;" src="/img/no_photo.png"></iron-image>';
                    }
                }
                grid.columns[1].renderer = function(cell){
                    var adrText = cell.data.city + '<br>';
                    if(cell.data.street) adrText += cell.data.street;
                    if(cell.data.building) adrText += ', ' + cell.data.building;
                    cell.element.innerHTML = adrText
                }
                grid.columns[2].renderer = function(cell) {
                    var str = '<span>';
                    var isMore = false;
                    for(var i=0; i<cell.data.length; i++){
                        if(i>2) {
                            isMore = true;
                            break;
                        }
                        str += cell.data[i]+'</br>';
                    }
                    str += '</span>';
                    if(isMore){
                        var tootltipStr = '<span>';
                        var more = cell.data.length - 3;
                        for(var i=3; i<cell.data.length; i++){
                            tootltipStr += cell.data[i]+'</br>';
                        }
                        tootltipStr += '</span>';
                        str += '<span style="padding: 2px; color: #808080"' +
                                'onmouseleave="app.hideTooltip()" ' +
                                'onmouseover="app.showTooltip(this, \'tt-'+cell.row.index+'\', \''+tootltipStr+'\')" id="tt-' + cell.row.index + '">' +
                                'и еще ' + more + '... </span>';
                    }
                    cell.element.innerHTML = str;
                }
                grid.columns[3].renderer = function(cell) {
                    cell.element.innerHTML = self._getDateString(cell.data);
                }
                grid.columns[4].renderer = function(cell) {
                    cell.element.innerHTML = self._getDateString(cell.data);
                }
            },
            sendDataRequest: function (params, callback) {
							app.addLoading('realties');
                var self = $('realties-section')[0];
                var requestParams = {
                    offset: (params) ? params.index : 0,
                    amount: (params) ? params.count : 0,
                    orderBy: self.sorting.par,
                    order: self.sorting.direction
                };
                self.filtering.forEach(function (filter, filter_ind, filter_arr) {
                    requestParams[filter.par] = filter.value;
                });
                $('realties-section .search-list-header date-range-picker').each(function () {
                    var vals = this.value;
                    if (typeof vals == 'undefined') {
                        requestParams[$(this).attr('name') + '.min'] = 0;
                        requestParams[$(this).attr('name') + '.max'] = 0;
                    } else {
                        requestParams[$(this).attr('name') + '.min'] = vals.min;
                        requestParams[$(this).attr('name') + '.max'] = vals.max;
                    }
                });
                requestParams['purposes'] = self.$$('#purposes').value;
                self.getJSON(self.urls.list, requestParams, function (json) {
									app.removeLoading('realties');
									if(callback) callback(json.result, json.size);
                });
            },
            purposesChanged: function(e, o){
                this.refresh();
            },
            showPhotos: function(e){
            }
        });
    </script>
</dom-module>