<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="uploaded-image">
    <style>

    </style>
    <template>
        <div class="image-container">
            <img src$="{{path}}" alt="" height="150">
            <div class="controls">
                <div class="top">
                    <template is="dom-if" if="{{isAdmin}}">
                        <template is="dom-if" if="{{main}}">
                            <paper-icon-button on-click="mainChange" class="main" icon="icons:star" title="Сделать главной"></paper-icon-button>
                        </template>
                        <template is="dom-if" if="{{!main}}">
                            <paper-icon-button on-click="mainChange" class="main" icon="icons:star-border" title="Сделать главной"></paper-icon-button>
                        </template>
                        <paper-icon-button class="remove" icon="icons:delete" title="Удалить" on-click="remove"></paper-icon-button>
                    </template>
                </div>
                <div class="middle">
                    <paper-icon-button on-click="play" class="play" icon="av:play-arrow" title="Показать"></paper-icon-button>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "uploaded-image",
            properties: {
                isAdmin: Boolean,
                path: String,
                main: {
                    type: Number,
                    notify: true,
                    observer: 'mainChanged'
                },
                index: Number
            },
            _getDateString: function (dateVal) {
                var dat = new Date(1000 * dateVal);
                var options = {
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric'
                };
                return dat.toLocaleString('ru', options)
            },
            remove: function(e){
               this.fire('remove', this.index);
            },
            mainChange: function(){
                this.fire('setmain', this.index)
            },
            mainChanged: function(newVal, oldVal){
                if(!this.isAdmin) return;
                if(typeof newVal == 'undefined') return;
//                this.$$('#mainBtn').icon = newVal ? 'icons:star' : 'icons:star-border'
            },
            play: function(e){
                this.fire('play', this.index);
            }
        });
    </script>
</dom-module>